[2019-09-06 11:53] csaybar opened #1 "bug around sf_as_ee."
In Google Earth Engine is important polygon ring directions (exterior ring counter-clockwise, holes clockwise).

library(rgee)
ee_Initialize()
nc = st_read(system.file("shape/nc.shp", package="sf"),quiet = T,check_ring_dir = FALSE)
ee_map(sf_as_ee(x = nc)) #wrong

#######->

[2019-09-06 11:56] csaybar commented on #1
Fixed by adding check_ring_dir = FALSE as an argument. However, consider that it might be computationally expensive.

library(rgee)
ee_Initialize()
nc = st_read(system.file("shape/nc.shp", package="sf"),quiet = T)
ee_map(sf_as_ee(x = nc, check_ring_dir = TRUE)) #ok!

[2019-09-06 11:56] #1 closed

[2019-09-10 22:22] csaybar opened #2 "ee_as_thumbnail doesn't word as it is expected --- Improve code"
library(rgee)
library(stars)
library(sf)
ee_Initialize(user_gmail = "csaybar@gmail.com")

filename <- "users/csaybar/rgee_upload/"
ee_manage_create(filename)

tif = system.file("tif/geomatrix.tif", package = "stars")
geomatrix = read_stars(tif) %>% st_warp(crs=st_crs(4326))
delta_geomatrix <- c(attr(geomatrix,'dimensions')$x$delta,attr(geomatrix,'dimensions')$y$delta*-1)
plot(geomatrix)

ee_upload

[2019-12-29 23:14] csaybar opened #5 "ee_map do not display ee$Image"
createTimeBand <-function(img) {
  year <- ee$Date(img$get('system:time_start'))$get('year')$subtract(1991L)
  ee$Image(year)$byte()$addBands(img)
}

collection = ee$
  ImageCollection('NOAA/DMSP-OLS/NIGHTTIME_LIGHTS')$
  select('stable_lights')$
  map(createTimeBand)

col_reduce = collection$reduce(ee$Reducer$linearFit())
col_reduce$getInfo
ee_map(eeobject = col_reduce,
       vizparams = list(mi

[2020-01-03 01:37] csaybar opened #6 "citation needs to be fixed after CRAN publication"

[2020-01-18 13:53] ryali93 commented on #5
token from ee_map.py:
getMapId()["tile_fetcher"].url_format

create_beauty_basemap:
addWMSTiles(baseUrl = tile, group = objname, layers = "0") %>%
addTiles(urlTemplate = tile, group = objname) %>%

[2020-01-18 14:09] #5 closed

[2020-01-19 21:13] csaybar opened #9 "setAssetAcl was deprecated"
changes setAssetAcl to setIamPolicy.

[2020-01-21 07:45] csaybar opened #10 "ee_manage_quota do not work properly"

[2020-01-27 23:30] #10 closed

[2020-01-28 05:15] csaybar commented on #9
0feba2d

[2020-01-28 05:15] #9 closed

[2020-01-28 05:20] #6 closed

[2020-02-08 05:11] csaybar opened #11 "Create a function to set asset home."

[2020-02-09 15:27] csaybar opened #12 "ee_remove_credentials need display a message after eliminated credentials"

[2020-02-09 15:27] csaybar opened #13 "ee_users function: Display Earth Engine user info"

[2020-02-09 15:28] csaybar opened #14 "ee_upload does not work in Windows OS"
Error message: selenium parameters does not found

[2020-02-11 21:11] #12 closed

[2020-02-11 21:11] #13 closed

[2020-02-11 21:11] #11 closed

[2020-02-11 21:56] csaybar opened #15 "export ee_version function"

[2020-02-11 21:58] csaybar opened #16 "merge install functions in ee_install()"

[2020-02-13 17:48] #15 closed

[2020-02-13 17:48] #16 closed

[2020-02-13 18:40] ctlamb opened #17 "Initialize Error - Old API"
Hello,

I am getting close. The workflow [here ](https://user-images.githubusercontent.com/16768318/74463774-56e69380-4e60-11ea-98c9-10c1662a5bf4.png)helped me get close, but also had to run `pip3 install earthengine-api` in terminal to get it to fully work.

Upon initialization, I am sent to the earth engine python authenticator. I paste the provided code  into the R pop up box. But I receive the

[2020-02-13 19:08] csaybar commented on #17
Hi @ctlamb
Could you verify if this error persists in Python?. This does not seem to be an error of rgee but of the earthengine-api. Run in Python as follow:
[code]
Thanks for the feedback!

[2020-02-13 19:14] ctlamb commented on #17
Good idea. Yes it persists:

[code]

So I ran in command line and got:
[code]

I need to install Tensorflow perhaps. Will try that now

[2020-02-13 19:18] jdbcode commented on #17
`ee/oauth.py` might not be finding the credentials file.

`ee/oauth.py` looks for the credentials file on your system here: `os.path.expanduser('~/.config/earthengine/credentials')` (Python)

In R the home path identifier `~` can point to a different directory than Python.

For example on my system...
- R home is:  `'C:\\Users\\braaten\\Documents'`
- Python home is: `'C:\\Users\\braaten'`

Can you

[2020-02-13 19:37] csaybar commented on #17
I was not able to reproduce your error, but as say @jdbcode the problem is that the **earthengine-api** was not able to find EE credentials. Both, in R and Python, the credentials are save in `os.path.expanduser('~/.config/earthengine/credentials')`. In R you could run the function `ee_get_earthengine_path()` to be sure of that.

Could you verify **credentials** file exist in the path: `/Users/cla

[2020-02-13 19:39] csaybar opened #18 "rgee does not consider users beyond @gmail.com"
https://github.com/csaybar/rgee/issues/17#issue-564876771

[2020-02-13 19:40] csaybar opened #19 "ee_install_python_packages does not install the Python package "earthengine-api""
https://github.com/csaybar/rgee/issues/17#issue-564876771

[2020-02-13 19:49] ctlamb commented on #17
Thanks for this help, all.

It looks like there are no credentials at all.  I even tried a second email address (my @ualberta.ca has some university access restrictions I thought may be an issue). Both the email folders are empty.

<img width="780" alt="Screen Shot 2020-02-13 at 12 47 28 PM" src="https://user-images.githubusercontent.com/34384805/74472399-1cc8c200-4e5f-11ea-857e-05ec486daa9d.png">

[2020-02-13 19:58] csaybar commented on #17
Hi @ctlamb, folders are the way that `rgee` manages multiple users, but your problem is with the earthengine-api (Python)!. I'm not a Mac user, so I do not understand how this system works, but maybe a user compound name like `clayton.lamb` could be generating the problem.

[2020-02-13 20:00] jdbcode commented on #17
So just to verify:

- [ ] You have the Python API installed (from terminal): `earthengine -h
- [ ] You have tried to get a credentials file (from terminal): `earthengine authenticate`
- [ ] You can find the credentials file on your system (from terminal - assuming mac/linux): `ls $HOME/.config/earthengine/credentials`
- [ ] You can run a simple EE command from Python terminal:

[code]

[2020-02-13 20:24] ctlamb commented on #17
Thanks for laying this out, @jdbcode.

The hangup seems to be at the 2nd and 3rd step. I can run `earthengine authenticate`, but when I copy the code it gives, and run, I get errors. When I look for the credentials on my system, they are not there. There folders, but not one that is "credentials"

<img width="780" alt="Screen Shot 2020-02-13 at 12 47 28 PM" src="https://user-images.githubuserconte

[2020-02-13 20:57] jdbcode commented on #17
What happens when you try to authenticate not using the Cloud API (from terminal):

[code]

Please paste the error here if you get one.

[2020-02-13 20:58] ctlamb commented on #17
[code]

[2020-02-13 21:06] jdbcode commented on #17
Sorry - my bad, flags need to come before the command:

[code]

[2020-02-13 21:08] ctlamb commented on #17
[code]

[2020-02-13 21:13] csaybar commented on #17
This error happens when you put a wrong verification code:

[code]

[2020-02-13 21:19] ctlamb commented on #17
Good point. I can confirm it is the correct verification code. Just re-ran and checked the code twice. Very odd..

[2020-02-13 21:23] jdbcode commented on #17
Ah yes, make sure there are no empty spaces at the end of the verification code.

FYI - I can't replicate the issue using the same version of the API. However, my install is in a conda environment where the only thing I install is EE and whatever is wants as dependencies. Interestingly, the dependencies do not include Tensorflow. I use these Python API install instructions [[link]](https://develop

[2020-02-13 21:29] jdbcode commented on #17
Also, when you choose an email to verify - it looks like you're tried a couple - do they all have EE registration - maybe try an @gmail.com if you have one that is registered.

[2020-02-13 21:54] ctlamb commented on #17
OK that conda tip helped.

I can now get in via python:
[code]
But doesn't seem to work in rgee:

[code]
despite the credentials being there:
<img width="896" alt="Screen Shot 2020-02-13 at 2 53 02 PM" src="https://user-images.githubusercontent.com/34384805/74481854-aaf97400-4e70-11ea-9f9a-b223c6e64564.png">

So this must be an issue of it not pointing to the right directory? when I call ee_Initia

[2020-02-13 22:10] jdbcode commented on #17
Nice to see a credentials file! This might be back in @csaybar 's court. I'm not sure how _rgee_ is binding the API to initialize.

You might try to copy that credentials file to this dir (print from R): `path.expand('~/.config/earthengine/')`

[2020-02-13 22:12] csaybar commented on #17
Hi, @ctlamb after changing your Python environment (CONDA), are you run ee_set_python_version again?

[code]

Folders are just to keep order with multi-users if you copy the **credentials file** in lamb.eco.research folder, ee_Initialize() will work well. Please notify us if the error persists.

[2020-02-13 22:12] ctlamb commented on #17
Awesome, thanks for all the help. I can confirm the path from path.expand('~/.config/earthengine/‘) is the path that has the credentials file

--
Clayton Lamb, PhD
Postdoctoral Researcher
Universities of British Columbia & Montana
e: ctlamb@ualberta.ca
p: 778-215-0334
t: @ClaytonTLamb
w: www.lamb-eco-research.ca

[2020-02-13 22:14] ctlamb commented on #17
OK I have a few now, which do you think?
[code]

[2020-02-13 22:16] jdbcode commented on #17
The EE PY API from the conda install described in the Earth Engine User Guide should be this one: "/Users/clayton.lamb/miniconda3/envs/ee/bin/python"

[2020-02-13 22:18] csaybar commented on #17
Please if the error persists, show us your reticulate configuration :
[code]

[2020-02-13 22:21] ctlamb commented on #17
Ha, AMAZING. I am in.

Thanks so much for both of your help. I would've been sunk long ago without your persistence!

<img width="1423" alt="Screen Shot 2020-02-13 at 3 20 44 PM" src="https://user-images.githubusercontent.com/34384805/74483829-87382d00-4e74-11ea-8e0d-1cba14a36d12.png">

[2020-02-13 22:27] jdbcode commented on #17
Awesome! Thanks for trying all of the suggestions. Hopefully this will be a useful thread for others. So it seems like the pip install of EE was the culprit - I'll try to replicate and pass finding along to the engineers.

[2020-02-13 22:31] csaybar commented on #17
Happy to see rgee working well :).

We are still working on the API, so it is likely that many of the functions to the side of R will still not work or will change in the future. I will leave this issue open as I consider it to be a fairly common problem (at least at this stage of development). Thank you so much @jdbcode for your comments and all your help!

[2020-02-13 22:43] jdbcode commented on #17
Great work on *rgee* @csaybar! I'm hopeful that it makes EE feel more accessible and friendly to the R community.

[2020-02-13 23:43] csaybar opened #20 "ee_print needs to show EE Collection properties"

[2020-02-15 00:10] grantmcdermott opened #21 "Get rgee to respect reticulate::use_condaenv()"
I had some trouble connecting **rgee** to my existing Python EE API, which I had installed some time ago via conda. Luckily, the `ee_set_python_version(python_path = "CONDA_PATH")` solution suggested in #17 worked for me.

That being said, I do think the above workaround goes against existing practices for calling up conda environments via **reticulate**. For example, I would expect the following

[2020-02-15 03:54] csaybar commented on #21
@grantmcdermott thanks for open this issue!

I would like to start mentioned that `ee_set_python_version` is not compulsory. And, the code that you attached should work perfectly.

The function  `ee_set_python_version` defines, into the .renviron file, the [system variables](https://rstudio.github.io/reticulate/articles/versions.html#providing-hints): **RETICULATE_PYTHON** and **RETICULATE_PYTHON_

[2020-02-15 13:11] csaybar commented on #20
Fixed in da67c12eea0f65fe2127bb54379a3c21902ff67d

[2020-02-15 13:11] #20 closed

[2020-02-15 13:11] csaybar commented on #19
Fixed in da67c12eea0f65fe2127bb54379a3c21902ff67d

[2020-02-15 13:11] #19 closed

[2020-02-15 13:35] csaybar commented on #21
The commit was made. We decide renamed `ee_set_python_version`  to `ee_set_pyenv`.
Please before retry clean your system variables as follow:

[code]

[Requirements](https://github.com/csaybar/rgee#requirements)

[2020-02-15 22:51] grantmcdermott commented on #21
Hi @csaybar, thanks very much for the prompt and detailed reply.

I've tried your suggestion and it works... but it also has the very undesirable side-effect of completely re-writing your .Renviron file!

So all existing environment variables and API keys are erased :'(

Luckily, I keep a back-up of my .Renviron, so I could experiment a bit to see where the problem occurs. The culprit is the new `

[2020-02-17 04:00] csaybar commented on #21
This is so shameful ... I was also one of the victims and I didn't realize until I read your message :'( . I fix this bug in the last commit.  `ee_set_pyenv` now works quite similar to `census_api_key` and also generates a `.Renviron_backup` file.

I going to close this issue but feel free to open it again if you consider it necessary.
Thanks a lot to help us to enhance `rgee`!

[2020-02-17 04:00] #21 closed

[2020-02-17 18:18] grantmcdermott commented on #21
Super, thanks Cesar.

BTW, I've really been enjoying the package so far. The integration with sf is fantastic; being able to combine the power of EE operations and datasets with local sf objects has removed some major bottlenecks for me. I hope you'll consider submitting the package for a TWEEDS talk next year! https://tweeds.io/

[2020-02-17 20:14] #14 closed

[2020-02-17 20:31] csaybar commented on #21
I am really happy to hear that :). We have some extra ideas that we will implement in the near future to facilitate, even more, the connection with Earth Engine. [tweeds](https://tweeds.io/) workshop looks fantastic I hope to have the opportunity to attend one day!.

[2020-02-18 01:17] #18 closed

[2020-02-18 03:12] csaybar opened #22 "Installation problems?"
#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

#### This will help us help you faster!

[2020-02-18 03:49] csaybar commented on #17
Now `rgee` count with a more stable and user-friendly [installation module](https://github.com/csaybar/rgee#requirements). Before upgraded it I highly recommend cleaning your reticulate system variables as follow:
[code]
Any complications feel free to open another issue. Sorry for the inconvenience!

[2020-02-18 03:49] #17 closed

[2020-02-19 22:08] csaybar opened #23 "Change ee_map to ee$Map"
Make rgee more accorded  to the Earth Engine API

[2020-02-19 22:10] csaybar opened #24 "User-friendly functions to upload and download spatial objects"
- ee_as_sf and sf_as_ee needs additional arguments
- ee_as_star and star_as_ee need to be created

[2020-02-19 22:11] csaybar opened #25 "Fix typos"
enhance ee_upload documentation

[2020-02-19 22:14] csaybar opened #26 "Conclude rgee-examples website"
A collection of 300+ examples for using Google Earth Engine in R
https://csaybar.github.io/rgee-examples/

[2020-02-19 22:17] csaybar opened #27 "rgee::ee_discover_pyenvs() does not work in windows"
It is due  reticulate::py_discover_config() does not work as expected in Windows (pull-request?)

[2020-02-19 22:24] csaybar opened #28 "Pass all checks of goodpractice"
[goodpractice](https://mangothecat.github.io/goodpractice/):  Advice on R Package Building and

goodpractice::all_checks()

[2020-02-19 22:26] csaybar opened #29 "Enhance unit testing of rgee"
Especially for the ee_manage module and ee_upload

[2020-02-19 22:33] csaybar opened #30 "ee_download module needs to be rethinked"
The current idea is to rely on the [geetools](https://github.com/gee-community/gee_tools/blob/master/notebooks/batch/exportByFeat.ipynb) package.

`rgee` after that will support batch download and user-friendly function to move results from GD and GCS to a local environment.

ee_download$...

[2020-02-19 22:38] csaybar opened #31 "extra functionalities to ee_date"
Will be great to add this [functionality](https://github.com/gee-community/gee_tools/blob/master/notebooks/date/since_epoch.ipynb).

[2020-02-19 22:40] csaybar opened #32 "Add the function ee_get_region."
`ee_get_region` is for the moment just available inside `ee_print()`

[2020-02-19 22:40] csaybar commented on #32
https://github.com/gee-community/gee_tools/blob/master/notebooks/geometry/getRegion.ipynb

[2020-02-19 22:46] csaybar opened #33 "Create a cheatsheet both Earth Engine API and rgee"

[2020-02-19 22:54] jdbcode commented on #33
Inspiration - I've always liked this cheatsheet a lot: https://rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf

[2020-02-19 23:04] csaybar commented on #33
@barja8 you have work here :D

[2020-02-23 15:18] barja8 commented on #33
@csaybar you are right! In this week I will work every day on this cheatsheet, I am more motivated than ever :3

[2020-03-03 15:08] csaybar opened #34 "ee_gcs_to_local shows a strange message at move a shapefile from gcs to a local env."
[code]

[2020-03-07 01:09] csaybar opened #35 "Add geometry editor option to Map$* env"
https://github.com/16EAGLE/getSpatialData

[2020-03-13 16:02] csaybar opened #36 "ee_as_stars(via='drive') was not tested for large images"

[2020-03-13 22:01] #27 closed

[2020-03-13 22:01] #23 closed

[2020-03-13 22:01] #30 closed

[2020-03-13 22:01] #31 closed

[2020-03-19 02:37] csaybar commented on #35
This will not be implemented in rgee core 0.3.0

[2020-03-19 02:37] #35 closed

[2020-03-19 02:38] csaybar commented on #34
Fixed in rgee 0.3.0 https://github.com/csaybar/rgee/blob/012f10c5deedb0fef78717c7cabb2dfd340381ef/R/utils-upload.R#L146

[2020-03-19 02:38] #34 closed

[2020-03-19 02:39] csaybar commented on #24
Functions implemented in rgee 0.3.0

[2020-03-19 02:39] #24 closed

[2020-03-19 02:39] csaybar commented on #32
This will not be implemented in rgee core 0.3.0

[2020-03-19 02:39] #32 closed

[2020-03-19 03:27] GReimche opened #38 "TypeError: get_authorization_url()"
Hi Aybar,
Could you please advice me in the following error I'm getting by running

      ee_Initialize(email = "my email", drive = TRUE, gcs = FALSE)

I get the following error:

     -- rgee 0.3.0 --------------------------------------- earthengine-api 0.1.216 --

 √ email: xxx@gmail.com
 √ Google Drive credentials:  FOUND
 √ Initializing Google Earth Engine:Error in py_call_impl(callable, dots$

[2020-03-19 03:39] csaybar commented on #38
Hi, @GReimche thanks for report this issue.

Could you run in your terminal:
[code]
And show me the output.

[2020-03-19 03:45] GReimche commented on #38
Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Please authorize access to your Earth Engine account by running

earthengine authenticate

in your command line, and then retry.

[2020-03-19 03:52] csaybar commented on #38
Thanks for reporting this @GReimche!.
I found the problem.
[code]
The error is caused by a recent change in the Python API. I will correct this very soon.

[2020-03-19 04:17] csaybar commented on #38
I made the changes, please reinstall rgee. Let me know if the error persists!

[2020-03-19 04:31] GReimche commented on #38
Hi
I reinstalled rgee 0.3.1 and the API.
Results below

Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Please authorize access to your Earth Engine account by running

earthengine authenticate

in your command line, and then retry.

Detailed traceback:
  File "C:\ProgramData\Miniconda3\envs\ee\lib\site-packages\ee\__init__.py", line 114, in Initialize
    credentials =

[2020-03-19 04:46] csaybar commented on #38
Hi @GReimche,

I had to add additional changes to `rgee v0.3.1` since `ee$oauth$request_token` (used in **ee_Initialize** ) also changed in the [`earthengine-api v0.1.124`](https://github.com/google/earthengine-api/commit/06b67a43bf535c606e2fc614835cedda838c1cc2).

Install once more time rgee, and run as follow:

[code]
I just tested it on windows. I think there will be no problem now. Please let

[2020-03-19 05:06] GReimche commented on #38
Hi Aybar!
Thank you very much for your attention. It is running fine now.

Obs! The api was updated a few hours to earthengine-api v0.1.216.

Best regards.

[2020-03-19 05:11] csaybar commented on #38
No problem feel free to open as many issues as you want ^^.
Happy coding :)

[2020-03-19 05:11] #38 closed

[2020-03-21 06:42] csaybar opened #39 "ee_help doesn't work well in some cases"
This is due to a bug in ```reticulate::py_function_docs```
[code]

[2020-03-21 09:51] csaybar opened #40 "ee_print does not print an appropriate number of geometries"
[code]

[2020-03-21 10:04] csaybar opened #41 "Map$centerObject function too slow for large FeatureCollection"
[code]

[2020-03-21 16:15] csaybar commented on #40
[code]

[2020-03-21 19:42] csaybar opened #42 "Mistakes when the eeObject argument is defined as an ee$Image (Map$centerObject )"
[code]

[2020-03-22 02:03] GReimche opened #43 "install rgee 0.3.3"
Hi
I'm trying to install rgee 0.3.3. and I'm getting the error bellow. Have tried a lot of times.

Downloading GitHub repo csaybar/rgee@master
√  checking for file 'C:\Users\**\AppData\Local\Temp\RtmpcT9Ay6\remotes10cc7cd918a7\csaybar-rgee-25160e0/DESCRIPTION' (981ms)
-  preparing 'rgee':
√  checking DESCRIPTION meta-information ...
-  checking for LF line-endings in source and make files and shel

[2020-03-22 02:25] csaybar commented on #43
Hi @GReimche could you show me your current R session?:
[code]

[2020-03-22 02:41] GReimche commented on #43
R version 3.6.1 (2019-07-05)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

Matrix products: default

locale:
[1] LC_COLLATE=Portuguese_Brazil.1252  LC_CTYPE=Portuguese_Brazil.1252
[3] LC_MONETARY=Portuguese_Brazil.1252 LC_NUMERIC=C
[5] LC_TIME=Portuguese_Brazil.1252

attached base packages:
[1] stats     graphics  grDevices utils     datasets

[2020-03-22 02:55] GReimche commented on #43
I updated R core and now its working fine.

Thanks

[2020-03-22 02:55] #43 closed

[2020-03-22 05:50] csaybar commented on #41
[code]

[2020-03-22 21:40] csaybar commented on #40
[code]

[2020-03-23 02:09] GReimche opened #44 "How to get ee$ImageCollection properties using rgee"
Hi Cesar,
I'm trying to get the **'id**' and '**CLOUDY_PIXEL_PERCENTAGE**' from each of the images in a imageCollection using a function bellow but have no success with rgee.
Would you be kind to show me how to handle this function with rgee?

getCloudScores = function(image){
  value = ee$Image(image)$get('CLOUDY_PIXEL_PERCENTAGE')
  return (print(value$getInfo()))
}

Cloudscores = imgcollection$

[2020-03-23 02:59] csaybar commented on #44
Hi @GReimche the idea to solve your problem is exactly the same that using the Python and Javascript API.  I would do something like this:

[code]

[2020-03-23 03:16] GReimche commented on #44
Thank you very much Cesar.

[2020-03-23 03:16] #44 closed

[2020-03-27 09:30] csaybar commented on #26
I finally finished it :3

[2020-03-27 09:30] #26 closed

[2020-03-27 16:14] jdbcode commented on #26
🎉

[2020-03-27 17:28] barja8 commented on #26
**Congratulations!** :earth_americas:  :octocat:

[2020-04-01 03:02] #28 closed

[2020-04-01 22:50] #42 closed

[2020-04-01 22:50] #40 closed

[2020-04-01 22:50] #41 closed

[2020-04-01 22:50] #39 closed

[2020-04-01 22:50] csaybar commented on #39
Fixed in rgee 0.3.5

[2020-04-03 10:11] #36 closed

[2020-04-07 03:14] GReimche opened #47 "Error in py_get_attr_impl(x, name, silent) : OverflowError: Python int too large to convert to C long (ee_as_stars)"
Hi Cesar,

  I'm trying to download an simple clipped image from gee using your function as bellow. But some seconds after it starts it shows the error bellow.
  The ee_image_to_drive function give's me the same error.
  Also, If I try the rgee exemple, I got the same erro.

img_stars_01 <- ee_as_stars(
  image = image,
  region = geometry,
  geodesic = TRUE,
  via = "drive"
)

[1] "Polling for ta

[2020-04-07 03:44] csaybar commented on #47
Hi @GReimche It is a really strange error could you share us a reproducible example?

[2020-04-07 03:51] GReimche commented on #47
I used the provided exemple in the "ee_as_stars" function in rgee.
The "getInfo" via works, but "drive" via give the error bellow

+   image = img,
+   region = geometry,
+   geodesic = FALSE,
+   via = "drive"
+ )
- region parameters
 WKT      : POLYGON ((515872.3 4938536, 531744.7 4938595, 531690.2 4949703, 515845.1 4949645, 515872.3 4938536))
 CRS      : 32612
 geodesic : FALSE
 evenOdd  : TRUE

[2020-04-07 04:04] csaybar commented on #47
Hi @GReimche, could show us your current earthengine-api and rgee version:
[code]
It seems like a bug that we fix in version 0.3.5, I'm not able to reproduce the error in both windows and linux.

[2020-04-07 04:06] GReimche commented on #47
[1] ‘0.3.8’

(*)  Python version found: C:/ProgramData/Miniconda3/envs/ee/python.exe v3.8

(*)  Python Third-Party Libraries used in rgee:

√ [Ok] Python Earth Engine API version 0.1.217
√ [Ok] oauth2client v 4.1.3
(*)  Credentials neccesaries for rgee:

√ [Ok] Earth Engine Credentials found.
√ [Ok] Google Drive credentials found.
√ [Ok] Google Cloud Storage  credentials found.

[2020-04-07 04:29] csaybar commented on #47
https://github.com/csaybar/rgee/blob/8e5c2e1f77d32befd84988363a4bd3f5988620c4/R/ee_stars.R#L429
After a successful running of `ee_image_to_drive` you should see the message above, do you see this?. Could you restart your R session and try it again?. It is a common problem in other Packages that use reticulate. Please notify us if the problem persists.

[2020-04-07 04:55] GReimche commented on #47
Sad, but I have restarted R, and got the same error. But image are stored in Gdrive. When using via = "getInfo" I  receive image in Rstudio.

[2020-04-07 10:13] giacfalk opened #48 "Returns an ImageCollection from given images."
In GEE Javascript I type:

var imgcollection = ee.ImageCollection([img1, img2])

where img 1 and img2 are two standalone images.

How do I translate this in rgee?

[2020-04-07 15:06] GReimche commented on #48
imgcollection <- ee$ImageCollection(list(img1, img2))

[2020-04-07 16:23] csaybar commented on #47
`ee_as_stars` is not more than the functions `ee_image_to_drive()` and `ee_drive_to_local()` please run the follow script and tell me where the error occur:

[code]

[2020-04-07 16:47] csaybar commented on #48
As @GReimche say you could use either:

[code]

[2020-04-07 17:05] csaybar commented on #48
I am going to close this issue but feel free to open it again!

[2020-04-07 17:05] #48 closed

[2020-04-08 17:54] philament opened #49 "Batch exporting images with rgee? Possible?"
A very useful package! Many thanks for your efforts. I have been testing it for a few days now and it mostly works great for me (with exception of `ee_as_stars()` which I have not been able to make work so far - by the way a function like `ee_as_raster()` would be very welcome for those of us who prefer the raster package over stars).

I have one question though: Is there an elegant way of exporti

[2020-04-08 18:24] giswqs commented on #49
@philament If you are familiar with Python, you can check out my [notebook example](https://github.com/giswqs/earthengine-py-notebooks/blob/master/AssetManagement/export_ee_data.ipynb) on how to do batch downloading of image and image collection.

I just posted a [video tutorial](https://github.com/giswqs/geemap/tree/master/examples#exporting-earth-engine-image-and-imagecollection-as-geotiff-and-n

[2020-04-08 18:51] csaybar commented on #49
I think both suggestions are reasonable. In the version 3.10.0 of rgee I will add direct support to raster. We also plan to give support to ImageCollection download in rgee, but after solving some issues that currently we have with `ee_as_stars` and `ee_gcs_to_local`. When everything will ready I will write the code here!. By the way, did you mention that you get some issues using `ee_as_stars`?.

[2020-04-08 20:07] philament commented on #49
@giswqs Thanks! Very nice. My Python knowledge is a bit limited but I think I will take your example as inspiration for coding something along these lines myself in R. I will check out your video tutorials, these look great!

@csaybar Sounds good. Support for raster will be very nice. And a "native" function such as `ee_imagecollection_to_drive()` or similar would be great if you can make it happe

[2020-04-09 00:21] GReimche commented on #47
The error is still showing up but actually, the image is stored in gdrive, and is loaded by ee_drive_to_local function.

library(rgee)
ee_Initialize(email = "username@gmail.com", drive = TRUE, gcs = FALSE)

img <- ee$Image("LANDSAT/LC08/C01/T1_SR/LC08_038029_20180810")$
  select(c("B4", "B3", "B2"))$
  divide(10000)
geometry <- ee$Geometry$Rectangle(c(-110.8, 44.6, -110.6, 44.7))
img_indrive <- ee

[2020-04-09 04:59] csaybar commented on #47
Thanks a lot for reporting this :bug: . I was able to reproduce it. It will be fixed in the next version release!. Sorry for the inconvenience.

[2020-04-09 17:11] #47 closed

[2020-04-13 05:29] safalabolo opened #50 ""Rd warning" during installation of rgee package"
Hi csaybar,
During the installation of rgee I have warnings that are reflected in the next steps.
Following the console of Rstudio, I hope they can be solved.
Thanks for the reply.

Downloading GitHub repo csaybar/rgee@master
These packages have more recent versions available.
It is recommended to update all of them.
Which would you like to update?

 1: All
 2: CRAN packages only
 3: None
 4: sf

[2020-04-13 06:55] mariofajardo opened #51 "Error: Python module ee was not found."
Hi

Nice effort in putting this package together.

I first installed the package in a windows 10 machine with Anaconda 3 installation and working multiple conda environments.

In order to keep things tidy I follow the instructions about creating a different environment.I was asked to install miniconda, which I denied...since I have the full installation of conda, so didn't want to make things conf

[2020-04-13 09:23] csaybar commented on #49
Hi, @philament I added a new function `ee_imagecollection_to_local` in rgee 0.3.10. Based on the example provides by @giswqs, the code in R will be:
[code]
I had to do several changes in rgee 0.3.10. Please see [rgee 0.3.10](https://github.com/csaybar/rgee/blob/master/NEWS.md)

[2020-04-13 09:32] csaybar commented on #50
Hi @safalabolo  thanks for reporting this!

We will work to solve these issues in the next release. Keep tuned!

[2020-04-13 09:45] csaybar commented on #51
Hi @mariofajardo we will happy to help you to solve installation problems (we still working to find the best installation interface). Please attached us more information about your system using #22

PS: Do not forget to look at the  [Python Installation guide](https://developers.google.com/earth-engine/python_install) and [Requirements](https://github.com/csaybar/rgee#requirements).

[2020-04-14 07:03] philament commented on #49
Well done! This looks great! I got this example running without issues. For my own test with S5P data I am still struggling a bit with setting the crs of the geometry right, but I will figure it out eventually.

Should the last line of your example be
`raster(ic_getinfo_files[1]) - raster(ic_drive_files[1])` ?
Otherwise I don't get the point.

I also like the new behaviour of ee_print() in 0.3.10.

[2020-04-15 15:26] giacfalk opened #52 "sf_as_ee() error"
I am trying to read a Points shapefile ("saver.shp") as a FeatureCollection with sf_as_ee()  using the following lines of code:

[code]

Yet, I get the following error message:

[code]

Any idea of what could be going on?

[2020-04-15 16:04] csaybar commented on #52
Hi  @giacfalk, Thanks a lot for reporting us!. Are you using the rgee 0.3.10 version? Could I have access to the "saver.shp"?

[2020-04-15 17:28] csaybar commented on #52
@giacfalk It was fixed in rgee 0.3.11. Please let me known if the problem persists.

[2020-04-18 23:36] GReimche opened #53 "ee_image_as_raster"
Hi Cesar,
I'm trying to export an image with some veg index bands and I'm getting error with the one using the expression **normalizedDifference**. like bellow. Other like EVI and others are exported fine.

I use the `imageexport= image$addBands(ndvi)$addBands(ndwi )` before exporting with the
`ee_image_as_raster` function.

`ndvi <- image$normalizedDifference(c("B8", "B4"))$rename("NDVI")`
`ndwi

[2020-04-19 00:16] csaybar commented on #53
hi, @GReimche Thanks for reporting this. This error happens because Earth Engine Failed to move your image to Google Drive. I will add more message diagnostic for this error in the next release. Could you say me your rgee version and attached here a complete reproducible example?. Thanks a lot for your help!

[2020-04-19 00:17] GReimche commented on #53
rgee version is 0.3.14

[2020-04-19 00:22] csaybar commented on #53
Could you specify what is image variable exactly?

[2020-04-19 00:27] GReimche commented on #53
`imagem1 and imagem2` are two `ee$Image.`

`imagecol<- ee$ImageCollection(c(imagem1, imagem2))
imagemed= imagecol$median()
image= imagemed$clip(geometry_buff)`

[2020-04-19 00:48] csaybar commented on #53
I do not get the error you mention to calculate the EVI. Your error possibly is in your expression.

[code]

[2020-04-19 00:57] GReimche commented on #53
This just runs fine.
 It fails just when using the **normalizedDifference** in the function, while computing ndvi, ndwi, mndwi and others.

[2020-04-19 18:43] #53 closed

[2020-04-25 09:22] oleksandrkarasov opened #55 "Python module ee was not found."
Dear Cesar,
Thank you for this package.
However, when I try to install the requirements, on stage #4 after the restart Python is still not found. I know, that there is also the GEE Python API which you mentioned in previous comments and checklist 22 (maybe this is the reasons I experience difficulties) so could you, please, clarify, what and how exactly should be installed in R in addition to the

[2020-04-26 09:17] csaybar commented on #55
Hi @oleksandrkarasov I see an error in ee_set_pyenv, it must be:

[code]
After that run `ee_install_python_packages()` and restart. Let me see if the problem persists.

[2020-04-26 21:01] oleksandrkarasov commented on #55
Dear @csaybar ,
Many thanks, Earth Engine API seems to be launched!

`> library(rgee)
Warning messages:
1: In CPL_gdal_init() :
  GDAL Error 1: Can't load requested DLL: C:\Program Files\GDAL\gdalplugins\ogr_MSSQLSpatial.dll
126: The specified module could not be found.

2: In CPL_gdal_init() :
  GDAL Error 1: Can't load requested DLL: C:\Program Files\GDAL\gdalplugins\ogr_MSSQLSpatial.dll
126: Th

[2020-04-27 12:56] csaybar commented on #49
Thanks for contributing to `rgee`. The version 0.4.0 was released where ee_imagecollection_to_local is continuously tested. I going to close this issue but feel free to open it again.

[2020-04-27 12:56] #49 closed

[2020-04-27 12:56] #29 closed

[2020-04-27 12:58] csaybar commented on #50
Thanks, it will be solved in rgee 0.4.0. Please, open this issue again if the problem persists.

[2020-04-27 12:58] #50 closed

[2020-04-27 12:58] csaybar commented on #51
I'm going to close this issue due to the lack of information about the error.

[2020-04-27 12:58] #51 closed

[2020-04-27 12:59] #52 closed

[2020-04-27 13:01] csaybar commented on #55
Glad to hear that!, now in rgee 0.4.0 no it is necessary to define the name of, or path to, a Python virtual environment. https://github.com/csaybar/rgee/#requirements

[2020-04-27 13:01] #55 closed

[2020-04-28 10:11] oleksandrkarasov opened #56 "Error in ee_check_python(quiet = TRUE) : rgee just run under Python 3.5 >="
Dear Cesar,
Thank you for support with the previous installation issue. When installing rgee on the working computer I face another problem: R prefers python for ArcGIS instead of freshly installed Miniconda, which is intended to be detectable as a main Python installation by default. Could you, please, help in this regard?

Please, find the code as follows:
`> ee_Initialize()
Error: Python module

[2020-04-28 15:39] csaybar commented on #56
Hi @oleksandrkarasov thanks for reporting this. It is a scenario that we do not contemplate. You can solve it setting the PythonPath before creating a virtualenv.

[code]

[2020-04-28 16:04] oleksandrkarasov commented on #56
Dear @csaybar ,
thanks for explanation! The code until "ee_install_python_packages()" worked well; however, at this stage I see the problem, which might be related to Windows specifics:
`> ee_install_python_packages()
Error: Installing Python packages into a virtualenv is not supported on Windows`

Could you, please, provide solution for Windows?

[2020-04-28 16:10] csaybar commented on #56
Sorry, It could be on this form:

[code]

We would have an easier way to install rgee in the next release. Please say me if this solves your problem.

[2020-04-28 17:00] oleksandrkarasov commented on #56
Dear @csaybar , thank you, but still the problem exists: R considers ArcGIS python by default after the R restart even in case I have set python environment and installed packages specifically for relevant Python:
`> ee_Initialize()
Error: Python module ee was not found.

Detected Python configuration:

python:         C:/Python27/ArcGISx6410.4/python.exe
libpython:      python27.dll
pythonhome:

[2020-04-28 18:59] csaybar commented on #56
Hi @oleksandrkarasov please upgrade rgee to 0.4.1 version and run as is indicated here:

https://csaybar.github.io/rgee/articles/faq.html

[2020-04-28 19:39] oleksandrkarasov commented on #56
Dear @csaybar
Still after each restart R considers ArcGIS Python first, despite the manually indicated path to the correct one:

` library(rgee)

[1] "G:/R_TMP"

(*)  Python version found: C:/Python27/ArcGISx6410.4/python.exe v2.7
Error in ee_check_python() : rgee just run under Python 3.5 >=
In addition: Warning messages:
1: In readLines(rf) :
  incomplete final line found on 'G:/R_TMP\RtmpuqbmgK

[2020-04-29 14:17] csaybar commented on #56
Hi @oleksandrkarasov, could you run in your console:
[code]

[2020-04-29 15:05] oleksandrkarasov commented on #56
Dear @csaybar
Please, find it as follows:
`> library(reticulate)

python:         C:/Python27/ArcGISx6410.4/python.exe
libpython:      python27.dll
pythonhome:     C:/Python27/ArcGISx6410.4
version:        2.7.10 (default, May 23 2015, 09:44:00) [MSC v.1500 64 bit (AMD64)]
Architecture:   64bit
numpy:          C:/Python27/ArcGISx6410.4/Lib/site-packages/numpy
numpy_version:  1.9.2

python versions

[2020-04-29 15:33] csaybar commented on #56
Really strange, it seems that your path is not good, even you got a warning about it, I am not a good Windows users but the path does not to be something like this?

[code]
Anyway, it is a problem with your PATH environment, maybe eliminating ARCGIS PYTHON PATH manually could help you to fix the error.

[2020-04-29 15:44] oleksandrkarasov commented on #56
Dear @csaybar
When I was installing the Miniconda, I did not add it to the PATH, because it was not recommended:
![image](https://user-images.githubusercontent.com/23281934/80616130-2ff43280-8a49-11ea-8947-c1a625a4cfa4.png)
Do you think re-installation of Miniconda with adding it to PATH may help without threat to ArcGIS?

[2020-04-30 16:04] allixender commented on #56
Setting Miniconda on the PATH might not solve the issue. Rather "removing the ArcGis Python from the %PATH% variable, even if only for your R session:

something like:

https://stat.ethz.ch/R-manual/R-devel/library/base/html/Sys.getenv.html

https://stat.ethz.ch/R-manual/R-devel/library/base/html/Sys.setenv.html

## get the full current PATH
orig_path <- Sys.getenv(c("PATH"))

and then something l

[2020-04-30 16:18] csaybar commented on #56
This is exactly what does **ee_set_pyenv**!, when you additionally set `install = TRUE` the virtual environment name will be saved in the .Renviron file to use in future sessions.
https://github.com/csaybar/rgee/blob/707db3f64d7e43867bdfb526a09ef954350179b6/R/ee_install.R#L211)

[2020-05-02 04:19] bevingtona opened #57 "Add "READY" status to ee_manage_cancel_all_running_task()"
I accidentally triggered >3000 tasks (oops!). So naturally, I wanted to cancel all of the tasks. I tried to use `ee_manage_cancel_all_running_task()` to cancel them, however this function only cancels the tasks that are currently running (i.e. status = `RUNNING`). Many of the tasks had status `READY` .

I was able to cancel all >3000 tasks by changing the status in the function from "RUNNING" to "

[2020-05-02 04:43] bevingtona commented on #57
This is how I cancelled the tasks:

[code]

[2020-05-03 17:54] csaybar commented on #57
Thanks a lot for reporting this. I will add it in the next release!

[2020-05-05 22:56] csaybar commented on #57
Thanks for your contribution. It was added in rgee 0.4.3. If the problem persists, feel free to open the issue again.

[2020-05-05 22:56] #57 closed

[2020-05-07 11:02] csaybar commented on #22
Added in ISSUE_TEMPLATE.md. The template was got from [geemap](https://github.com/giswqs/geemap/blob/master/.github/ISSUE_TEMPLATE.md)

[2020-05-07 11:02] #22 closed

[2020-05-07 11:03] csaybar commented on #33
Closed until further notice

[2020-05-07 11:03] #33 closed

[2020-05-07 11:03] #25 closed

[2020-05-08 06:42] slisovski opened #58 "mapping over list"
Is there a way to map over a list?
In this scenario, I want to create a FeatureCollection of points:
[code]
Is mapping over lists not implemented? Any workarounds?

I could do:
[code]
But is that the best solution (rather than mapping)? It is also (obviously) not working with large lists of points when getInfo() reaches the limits.

[2020-05-08 12:00] csaybar commented on #58
Hi @slisovski you need to use `ee_pyfun`:

[code]
There are some extra considerations that you need to take account when using GEE with R. See [considerations](https://csaybar.github.io/rgee/articles/considerations.html#the-map-message-error)

[2020-05-08 16:48] loreabad6 opened #59 "Installation issue with virtualenv not supported on Windows"
Hi Cesar!

I have been trying to use the package, but I cannot pass from this installation issue. Probably will need to change to Ubuntu at some point 😝 but for now, here is my issue...

* rgee version: 0.4.3
* R version: 3.6.3
* Operating System: Windows10

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from ter

[2020-05-08 16:58] csaybar commented on #59
Hi @loreabad6 could you add the error message, and what exactly you run?

[2020-05-08 17:00] loreabad6 commented on #59
I am really sorry, I pressed enter in the middle of my typing! I updated the issue now (you were too fast for me 😅 )

[2020-05-08 18:03] csaybar commented on #59
Thanks for putting this up for discussion so well detailed!. Unfortunately, you will need to use **condaenv** is you are trying to use rgee with Windows. It's due that `rgee` depends on `reticulate` and, as you mentioned, `reticulate` does not support virtualenvs on Windows.

Use **conda env** rather than **virtual env** should solve the problem:

[code]

It is a little weird bug since new version

[2020-05-08 19:26] loreabad6 commented on #59
Oh yes! Now it works! I am not really sure if `conda` was the real problem because after following your steps I still had the same error message. But, locating the `CONDA PATH` was useful for me to add to the `ee_install_python_packages`. The only other problem I had was an aparent problem between `python 3.7` and `3.8`, so from your comment above:

I run as the next line:

[code]

And the package

[2020-05-08 19:26] #59 closed

[2020-05-09 06:30] slisovski commented on #58
Perfect, thanks! I did miss the considerations page.

[2020-05-09 10:50] #58 closed

[2020-05-14 14:02] csaybar commented on #56
We adapt the installation module now (ee_install_*) to the last version of [reticulate](https://rstudio.github.io/reticulate/news/index.html) which solve several bugs with respect to the use of conda on Windows. If you try again the install, feel free to open the issue!

[2020-05-14 14:02] #56 closed

[2020-05-21 16:35] hbermeo opened #60 "Not executed rgee commands"
* rgee version: 0.5.0
* R version: 3.6
* Operating System: windows 8

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:
[code]

- [ ] You can run a simple EE command from R:
here starts the problem when I run some rgee command.

[code]
A

[2020-05-21 17:00] csaybar commented on #60
Hi, @hbermeo this problem arises when the Earth Engine session is not active, can you confirm that `ee_Initialize()` run successfully?

[code]

[2020-05-21 18:34] hbermeo commented on #60
-- rgee 0.5.0 --------------------------------------- earthengine-api 0.1.221 --
 √ email: not_defined
 √ Initializing Google Earth Engine:
 Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Please authorize access to your Earth Engine account by running
earthengine authenticate
in your command line, and then retry.

it appears that

[2020-05-21 18:55] csaybar commented on #60
Could you run `list.files(path.expand("~/.config/earthengine"), full.names = TRUE)` and put the result here?

After run `ee_Initialize()` did not display a GUI to put a token?

[2020-05-21 18:57] hbermeo commented on #60
[1] "C:/Users/Holger Bermeo/Documents/.config/earthengine/a924da283165ded31d5fb98542b0974f_arqhbermeo@gmail.com"
[2] "C:/Users/Holger Bermeo/Documents/.config/earthengine/arqhbermeo"
[3] "C:/Users/Holger Bermeo/Documents/.config/earthengine/credentials"
[4] "C:/Users/Holger Bermeo/Documents/.config/earthengine/My First Project-cb3af1e09ca8.json"
[5] "C:/Users/Holger Bermeo/Documents/.config/earthe

[2020-05-21 18:59] hbermeo commented on #60
using full credential

[2020-05-21 19:15] csaybar commented on #60
Everything looks good, It does not appear a problem of rgee. Could you run in Python and R the following:

In R:
[code]
In Python:
[code]
I think the problem is that the credentials are saved successfully, but the Earth Engine Python API is not able to found it.

[2020-05-21 19:51] hbermeo commented on #60
R

Python
[https://drive.google.com/file/d/15dWQ3X0PGylUEvx_68Kfwo7VTADdSXic/view?usp=sharing](url)

[2020-05-22 03:24] csaybar commented on #60
Thanks a lot for reporting this. The problem is that rgee is saving your credentials in:

while the Earth Engine Python API is seeking in:

I'm not 100% sure that this is a problem with rgee. But, to avoid this doubtfulness, whether or not it's a problem with rgee, I'm gonna leave all the Initialization module in the Python side.

If you are still interested in using rgee you could change your pat

[2020-05-22 18:01] hbermeo commented on #60
Trying to do it manually means copying the credentials to the folder that python is looking for, but I still get other errors. I don't know if it is a python installation problem in the end?

[2020-05-23 06:07] csaybar commented on #60
rgee wraps a Python session in an R session. If the Earth Engine Python API does not work, rgee will not work in R either.

[2020-06-01 09:50] philament opened #61 "Feature request: more info from ee_print()"
Hi Cesar, would it be possible to have ee_print() return a bit more metadata for images? Two crucial things in my opinion would be for example the image ID (e.g. COPERNICUS/S2/20170101T001712_20170101T001715_T55LGH) and acquisition date/time.

It's possible that i have overlooked how to do this but as of now ee_print() does not return such information:

[code]
results in
[code]

I am not sure how

[2020-06-02 21:45] csaybar commented on #61
It has a lot of sense for me, I will add it in the next release

[2020-06-05 23:28] csaybar commented on #61
Hi @philament, in rgee 0.5.4 `ee_print()` display:

[code]
Thanks for your contribution, I'm going to close the issue, but feel free if you have other suggestions!.

[2020-06-05 23:28] #61 closed

[2020-06-15 21:01] ctlamb opened #62 "ee_initialize subscript out of bounds"
Hello, I followed the install instructions, but am having trouble with ee_initialize(). And the issue is the same whether I add my email directly, or if I go through the manual log in and copy the code route

`Well done! rgee was successfully set up in your system.
rgee needs restart R to see changes.
Do you want to continues?

1: yes
2: no

Selection: 1

Restarting R session...

── rgee 0.6.1 ───

[2020-06-15 21:29] csaybar commented on #62
Hi @ctlamb!

It seems the error appears in the last mile, could you show me the result of run this?

[code]

[2020-06-15 22:42] ctlamb commented on #62
Thanks! That produces the following:

`> library(rgee)

Attaching package: ‘rgee’

The following object is masked _by_ ‘.GlobalEnv’:

    ee

Error: attempt to apply non-function

Error: attempt to apply non-function`

[2020-06-15 22:54] csaybar commented on #62
It seems that you assign to ee another variable. ee is a reserved word in rgee. Please be sure to remove other assignments to "ee".

[code]

[2020-06-15 23:12] ctlamb commented on #62
Ooops my mistake. Here it is with the ee variable fixed.

[code]

[2020-06-15 23:28] csaybar commented on #62
I committed a mistake in the code, I should've used "error" rather than "finally". Sorry

https://github.com/r-spatial/rgee/blob/2cbe73fd2e0ade120276700a0a2584171f1df60d/R/ee_Initialize.R#L231

`rgee` assumes that users have an Earth Engine Assets folder. And in your case, you haven't created one yet. You can create your EE assets folder running:

`ee$data$createAssetHome("users/PUT_YOUR_NAME_HERE

[2020-06-15 23:34] ctlamb commented on #62
This worked perfect. I am up and running. Thank you !

Best,
Clayton

[2020-06-16 09:28] wudiweishao opened #63 "rgee ee_install error: one or more Python packages failed to install [error code 1]"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

I

[2020-06-16 09:30] wudiweishao commented on #63
I have update my R and RStudio version (
R version 4.0.1, RStudio version 1.3.959)

[2020-06-16 09:55] csaybar commented on #63
@wudiweishao Thanks for reporting this!

This error occurs because the conda repositories you are using have not yet updated to the latest version of earthengine-api. https://anaconda.org/conda-forge/earthengine-api

I thought something like this might happen, so I added a new function in rgee `ee_install_upgrade`.
You can fix this error by running:
[code]
If the problem persists, show me the outp

[2020-06-16 10:46] wudiweishao commented on #63
thanks for you timely response!
as your instruction, I have upgrade and restart the RStudio. Now, it worked for the ee_install, but new problem accured when using ee_Initialize(). T he information is in below:
 library(rgee)

-- rgee 0.6.1 --------------------------------------- earthengine-api 0.1.224 --
 √ email: not_defined
 √ Initializing Google Earth Engine:Error in py_call_impl(callable, dot

[2020-06-16 11:14] csaybar commented on #63
This doesn't seem to be a problem with rgee but a network problem (**WinError 10060**). Maybe this could help
 https://github.com/giswqs/geemap/issues/92#issuecomment-638330576
https://github.com/giswqs/geemap/issues/83#issuecomment-636346152

[2020-06-16 11:33] wudiweishao commented on #63
thank you very much!
frankly speaking, I am still wonder why I can access the  code editor, dataset or other application of gee in website with my gee account but I can not have the gee authentication. that's weird.

[2020-06-16 14:49] daniel-althoff opened #64 "GPM-IMERG dataset retrieved at wrong resolution"
* rgee version: 0.6.1
* R version: 4.0.1
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

Attach your Python (reticulate) configuration:
[code]
python:         C:/Users/danie/Anaconda3/envs/rgee/python.exe
libpython:      C:/Users/danie/Anaconda3/envs/rgee/python38.dll
pythonhome:     C:/Users/danie/Anaconda3/envs/rgee
vers

[2020-06-16 15:31] csaybar commented on #63
Can you run in Python or R this code successfully?. Maybe using a VPN solves the problem.

[2020-06-16 15:46] csaybar commented on #64
I don't know if in javascript this works but you will get the same results in Python. After applying a reduction to an ImageCollection, projection properties will lose.

What you do:
[code]
I would do the following to solve the problem:
[code]

[2020-06-16 17:05] daniel-althoff commented on #64
I knew I was letting some tiny detail go by.
Thank you very much, worked perfectly.

If it is not too inconvenient, I have a few further questions.
1. How can I perform the "reduce(ee$Reducer$sum())$divide(2)" grouped by day?

2. Is there a way to import the results as a raster to R? or do I always have to export to a drive folder first?

[2020-06-17 01:00] csaybar commented on #64
I had the same problem with ee_extract in the last versions of the earthengine-api. I will study a deeper the changelog on the weekend.

With respect to your questions, You can found a [nice implementation](https://gis.stackexchange.com/questions/340193/precipitation-data-for-one-day-instead-of-3-hourly-data-from-trmm-in-google-eart) in javascript, I adapted to R:

[code]

[2020-06-17 01:11] xiaoxiaokuishu opened #65 "cannot remove prior installation of package ‘Rcpp’ when install rgee"
when i used remotes::install_github("r-spatial/rgee") to install rgee. The below
error appears. Is there anyone know how to deal with it, actually i have not installed Rcpp before.

Error: Failed to install 'rgee' from GitHub:
  (converted from warning) cannot remove prior installation of package ‘Rcpp’

Thanks

[2020-06-17 01:23] hlepYU opened #66 "GEE export image is too large, how to make the image automatically export in blocks"
When I output images, the request payload size exceeds the limit: 4194304 bytes. Below is the code and problem I am running. How to solve this problem? If the problem is because the image is too large, how can I automatically output the image in blocks.Thank you very much.
https://code.earthengine.google.com/f2b1d26221aba811fa4174ae06c6af8a
![image](https://user-images.githubusercontent.com/670326

[2020-06-17 04:58] wudiweishao commented on #63
same error as before when I run the codd of" library(rgee)
ee$Authenticate()" in RStudio.
I have look through many resources for my problem and I find that if I change the proxy then I can initialize gee.
code:
import geemap
import ee
import os
os.environ['HTTP_PROXY'] = 'http://127.0.0.1:1080'
os.environ['HTTPS_PROXY'] = 'http://127.0.0.1:1080'
ee.Authenticate()
ee.Initialize()
Map = geemap.Map(c

[2020-06-17 05:01] wudiweishao commented on #63
however, I use the pycharm, but I can not see the interactive map(the result). so what should I do to show or save my result?
PS, any idear about the solution for the problem in R?
thank you very much

[2020-06-17 07:55] csaybar commented on #63
Unfortunately I do not kwnow why Map.display doesn't work:
[code]

[2020-06-17 07:59] csaybar commented on #63
Unfortunately, I don't know why Map display does not work, but If you want to configure your HTTP_PROXY in R you need to run as follow:

[code]

[2020-06-17 08:02] csaybar commented on #65
Can you try installing Rcpp separately?. It does not seem a rgee problem. Maybe this could help.
https://stackoverflow.com/questions/45922418/error-in-install-packages-cannot-remove-prior-installation-of-package-dbi

[2020-06-17 08:14] csaybar commented on #66
You can try increasing the argument MaxPixels. I have never tried but I think there is a maximum of 10 **13. If your data retrieve is higher than this threshold. A code like this could help:
[code]

[2020-06-18 01:39] xiaoxiaokuishu commented on #65
Thanks for csaybar's comments. It is the 'Rcpp' problem, i have fixed it and it work now, thanks.

[2020-06-18 01:40] #65 closed

[2020-06-20 15:10] daniel-althoff commented on #64
This implementation works great! Thank you very much!
I also noticed that there still seems to be inconsistencies with the extraction of values, but they are negligible now.

[code]

I'll close the issue since it has been resolved.

[2020-06-20 15:10] #64 closed

[2020-06-21 04:11] csaybar commented on #62
We solved the problem in rgee 0.6.2. I going to close the issue but feel free to reopen if you consider is necessary!.

[2020-06-21 04:11] #62 closed

[2020-06-21 04:13] csaybar commented on #60
We make important changes in the latest version of rgee (0.6.0 >) that make easier the installation process. I going to close the issue but feel free to reopen if you consider is necessary!.

[2020-06-21 04:13] #60 closed

[2020-06-24 14:40] vivirbr opened #67 "Listing the assets available for reading"
Hi,
I never really managed to do this in python, but we are having some problems listing the assets that a specific account has granted access to as a reader.
Basically, we have a user with a lot of assets and scripts and we want more people to use these assets as readers, but unlike the scripts listed in the left panel, the assets available for reading are not listed anywhere.
Any suggestion to r

[2020-06-24 16:22] csaybar commented on #67
Hi @vivirbr, thanks for open this issue!.  You can use the `ee$data$setIamPolicy` to accomplish what you want. In rgee, the code below could help you:

[code]
`ee_manage_asset_access` is a little buggy, I apologize, and if you do not define your email in ee_Initialize will not work. We will enhance it in the next release. Please, tell us if it solves your problem!.

[2020-06-24 16:26] giswqs commented on #67
@vivirbr Have you tried `ee.data.listAssets()` in Python?

https://developers.google.com/earth-engine/command_line#ls

![](https://i.imgur.com/xS0PLJ9.png)

[2020-06-24 17:06] vivirbr commented on #67
Hi @csaybar, thanks for being super fast.
The code is returning the first level of my assets, but I am more interested in the ones that another account shared with me by setting my user as a reader. Maybe it is an argument or something like that, to expand the request to everything. Is it correct?

[2020-06-24 17:27] giswqs commented on #67
See below. I can list assets belonged to other GEE account.
![](https://i.imgur.com/RNPExVq.png)

[2020-06-24 17:31] vivirbr commented on #67
is this assets public?
I tried the same in my account and it's working but when I try the other account I have a "not found" return

[2020-06-24 17:37] giswqs commented on #67
Yes, those assets were set public.

[2020-06-25 07:09] vivirbr commented on #67
Yep, I think it needs to be public to request the list from another account. The assets I want to list are not public, but I am a reader.

[2020-06-25 15:02] csaybar commented on #67
I think this cannot be done. But it would be great if you could send your question to the gee developers group. https://groups.google.com/forum/#!forum/google-earthengine-announce.

[2020-06-25 17:26] jhollist opened #68 "Review for rgee JOSS Submission"
@csaybar see below for my review for your submission at https://github.com/openjournals/joss-reviews/issues/2272

# General Comments

This is a very nicely written and conceived package, paper, and repository!  I had not used Google Earth Engine and could see myself giving it a try because of `rgee`.  So my first comment is "Nice Job!"

Second, the paper is also very well written.  No major commen

[2020-06-26 13:02] csaybar commented on #68
Hi @jhollist thank you so much for taking your time in review rgee.  I implemented the changes in #69 and recompiled the paper (see https://github.com/r-spatial/rgee/blob/JOSS/paper/paper.md). I commented on all your suggestions. Please let me know if there are any issues remaining. I will keep #68 open until all the review is completed.

Have a nice day!

All [rgee examples](https://csaybar.githu

[2020-06-26 13:29] jhollist commented on #68
@csaybar Edits look good.  I have finished up the checklist at https://github.com/openjournals/joss-reviews/issues/2272  and as far as my review is concerned, you are all set!  I look forward to using `rgee` for some of my projects.

[2020-06-30 12:47] appelmar opened #70 "JOSS Review"
Great work @csaybar! Here is my review of the JOSS submission (openjournals/joss-reviews#2272).

# General Comments

The rgee package is a welcome addition to the R spatial ecosystem. It allows to combine the processing of massive Earth observation datasets in Google Earth Engine (GEE) with R-based analysis workflows (e.g., to use R for pre/post-processing, visualization, and mapping). The amount

[2020-07-03 02:31] xiaoxiaokuishu opened #71 "Error: unexpected symbol in "docker pull""
when perform ' docker pull csaybar/rgee', below error appears
error: unexpected symbol in "docker pull"

[2020-07-03 09:21] gena opened #72 "JOSS Review"
This is a very nice R package @csaybar and will be for sure useful among R users for geospatial processing combining local analysis with the Cloud-based Google Earth Engine (GEE) processing.

I've followed instructions provided in the ```README.md``` - everything went smoothly and installed without issues on Windows 10.

* The second [example](https://github.com/r-spatial/rgee#2-extract-precipitat

[2020-07-05 09:04] csaybar commented on #70
Hi @appelmar  thank you so much for taking your time in review rgee. I implemented the changes in #69 (See [NEWS.md](https://github.com/r-spatial/rgee/blob/JOSS/NEWS.md)) and recompiled the paper (see https://github.com/r-spatial/rgee/blob/JOSS/paper/paper.md). I commented on all your suggestions. Please let me know if there are any issues remaining. I will keep #70 open until all the review proce

[2020-07-05 10:23] csaybar commented on #71
Hi @xiaoxiaokuishu  `docker pull csaybar/rgee` is not an R command but a system OS command.
![image](https://user-images.githubusercontent.com/16768318/86530594-a36a5400-be7f-11ea-99e6-8f2288de446b.png)

[2020-07-05 12:45] csaybar commented on #72
Hi @gena thank you so much for taking your time in review rgee. With respect to your question, we use the `system.file` function to create reproducible examples, this function helps to retrieve the full file names of files in R packages installed. When a package is installed, everything in [inst/](https://github.com/r-spatial/rgee/tree/master/inst) folder is copied into the top-level package direc

[2020-07-05 18:29] gena commented on #72
You're right, I could reproduce the example perfectly, thanks for clarifying this!

[2020-07-06 09:23] #68 closed

[2020-07-06 09:28] csaybar commented on #72
Hi @gena to move towards rgee acceptance (openjournals/joss-reviews#2272), could we close the issue now?

[2020-07-08 04:03] TianyaImpression opened #73 "ee_Initalize() Error: Error in py_call_impl(callable, dots$args, dots$keywords) : TimeoutError: [WinError 10060]"
* rgee version: 0.6.2
* R version: 3.6.3
* Operating System: win10
![image](https://user-images.githubusercontent.com/22004043/86874294-b183d300-c112-11ea-843c-95b2a6cda272.png)
I installed rgee
but I can't run ee_Intiialize（） without Error
Could anyone help me ?

[2020-07-08 15:19] giswqs commented on #73
You might not have set up VPN properly. See [here](https://groups.google.com/g/google-earth-engine-developers/c/GeO3d6Utyto).

[2020-07-14 11:25] appelmar commented on #70
Great, thanks for addressing the issues, well done!

[2020-07-14 21:25] #72 closed

[2020-07-14 21:25] #70 closed

[2020-07-18 05:49] npuletti opened #75 "rgee for Mac is not working (Error in dyn.load)"
* R version 4.0.0 (2020-04-24) -- "Arbor Day"
* Operating System: Mac OS Catalina

### What I Did

[code]

[2020-07-18 06:06] csaybar commented on #75
Hi @npuletti it seems to be a problem with Rcpp, could you try to install `Rcpp` separately before to install rgee?. Please let us know if the problem persists!.

[2020-07-18 11:41] npuletti commented on #75
Rccp was already installed, but I install it again...

[code]

then...

[code]

[2020-07-18 14:22] npuletti commented on #75
Delete R and Rstudio. Installed again. Now rgee works. Thanks

[2020-07-18 14:22] #75 closed

[2020-07-19 06:23] npuletti opened #76 "py_config() and ee_Initialize() - Collecting package metadata...working and crash"
* R version: 4.0.3
* Operating System: Mac OS Catalina

#### At submit an issue, please attached the following information of your `rgee` session:

- From terminal:
[code]

Credentials file on my system:
[code]

What I did:
[code]

The RStudio session is working
[code]
...but such "working" status remains for hours and hours...and never return the prompt.

And the same when I try to configurate Py

[2020-07-19 21:27] helenyang24 opened #77 "How to map over a list?"
* rgee version: 1.0.0
* R version: 1.2.1335
* Operating System: macOS Catalina

### Description
I'm trying to map a function over a list, like this:
[code]
I read about another issue (https://github.com/r-spatial/rgee/issues/58), and then tried this:

[code]
Mapping over a list is a crucial step in my script and I need to do it to some other lists too. So it will be great if I can directly map a f

[2020-07-19 21:34] csaybar commented on #76
Hi @npuletti!, mmm are you install miniconda?, rgee offers a ready-to-use function to create an isolated Python virtual environment with all rgee dependencies.

[code]

[2020-07-19 21:40] csaybar commented on #77
Hi @helenyang24,  sorry for the inconvenience, we changed the function name (from `ee_pyfunc` to `ee_utils_pyfunc`). More details in https://r-spatial.github.io/rgee/articles/considerations.html.
[code]

[2020-07-19 21:58] npuletti commented on #76
yes, Miniconda is installed

[2020-07-19 22:11] csaybar commented on #76
Really strange it seems reticulate have problems detecting Python3 versions in your system. Could you restart your R session and run as follow:

[code]

[2020-07-19 22:35] npuletti commented on #76
[code]

[2020-07-19 22:43] csaybar commented on #76
@npuletti This should solve the problem. Let me know if the problem persist.
[code]

[2020-07-19 23:30] helenyang24 commented on #77
Hi Cesar, thanks so much for your reply! I edited the code but met a new error:
[code]

[2020-07-20 00:42] csaybar commented on #77
Could you share a reproducible example, detailing what are you trying to do exactly?

[2020-07-20 01:27] helenyang24 commented on #77
I figured out that it was because my function had more than one step. However, is it possible to map over a list with a function that has several steps? For example,
[code]
Thanks so much for your help!

[2020-07-20 03:08] helenyang24 opened #78 "Export FeaturceCollection as a csv file in R?"
I'm converting a GEE script to R, and my ultimate goal is to export the data in a csv file. I'm wondering if there is any way to make it doable in R?

[2020-07-20 06:20] npuletti commented on #76
yes, the problem persists.

[code]

[2020-07-20 12:14] csaybar commented on #77
Python dictionaries in R must be a list!. It seems you are trying to calculate buffer in several points.

[code]

[2020-07-20 12:16] csaybar commented on #78
Hi maybe this help: https://csaybar.github.io/rgee-examples/
https://github.com/r-spatial/rgee/blob/examples/rgee/03_fc_download.R

[2020-07-20 12:56] andreatitolo opened #79 ""Error in py_get_attr_impl(x, name, silent) : OverflowError: Python int too large to convert to C long" when ee_monitoring(quiet = FALSE) (ee$batch$Export$image$toDrive)"
* rgee version: 1.0.0
* R version: 3.6.3
* Operating System: Win10

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You have the Python API installed (from terminal):

- [X] You can find the credentials file on your system:

- [X] You can run a simple EE command from R:

Attach your Python (reticulate) configuration:

[code]

Earthengine api, pytho

[2020-07-20 17:09] npuletti commented on #76
I restar the OS.
[code]

[2020-07-20 20:03] jimoreira opened #80 "how to get today date"
hi,
i'm trying to get the current date.
Into gee python API i used to use

[code]
using rgee and reticulate i'm trying

[code]
and having the following error

`Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Invalid argument specified for ee.Date(): ['2020-07-20T20:03:03.620696064'] `

i have read some of the issues of the date formats, but still unable to use the curren

[2020-07-20 22:23] npuletti commented on #76
I solved with a `library(rgee)` first. And not after `sys$executable`

[code]

[2020-07-20 22:23] #76 closed

[2020-07-20 23:20] csaybar commented on #76
I'm happy to hear this

[2020-07-20 23:26] csaybar commented on #80
Dates could cause some troubles. I highly recommend revising [consideration vignettes](https://r-spatial.github.io/rgee/articles/considerations.html). Also we have a example [here](https://github.com/r-spatial/rgee/blob/examples/rgee/04_dates.R).
[code]

[2020-07-20 23:37] jimoreira commented on #80
I use this
[code]
and when i'm trying to map

`Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Date.parse, argument 'date': Invalid type.
Expected type: String.
Actual type: Date.
Actual value: 2020-07-20T00:00:00
`

[2020-07-20 23:49] csaybar commented on #79
Unfortunately, I've never been able to replicate this bug but I'm sure it happens in the last mile of [`ee_monitoring`](https://github.com/r-spatial/rgee/blob/2b6c72d2a2be412b4719a2aa175cfcb6d11d47c6/R/utils-download.R#L42). Could you run the following lines to help me to understand better why this error occurs?.

[code]

[2020-07-20 23:53] csaybar commented on #80
You can pass dates directly!

[code]

[2020-07-20 23:58] csaybar commented on #80
[code]

[2020-07-21 05:52] npuletti commented on #76
thank you very much!
N

*Nicola Puletti - PhD*
Ricercatore

Skype: pule77

On Tue, 21 Jul 2020 at 01:21, Cesar Aybar <notifications@github.com> wrote:

[2020-07-21 07:35] andreatitolo commented on #79
Hi, thanks for answering, I ran the code you provided and I get the same error, but if I understood correctly, you were right about where it happens. This is the error:

[code]

And the traceback:

[code]

[2020-07-21 11:25] csaybar commented on #79
Thanks a lot the traceback helps a lot!. Could you confirm that `ee_monitoring_test` works perfectly now?
[code]
Please attached me the next information

[code]

[2020-07-21 11:53] jimoreira commented on #80
great thanks

[2020-07-21 11:53] #80 closed

[2020-07-21 14:42] jimoreira opened #81 "Sentinel mask2clouds filter translation to rgee - Bitwise Operators"
### Description

I'm trying to perform a cloud filter over COPERNICUS/S2 imageCollection. It's the standard filter suggested on gee. I have used it both in Javascript code and python, but I can't use it within R language.

### What I Did
[code]
`
Error: unexpected input in:
"  # Bits 10 and 11 are clouds and cirrus, respectively.
  cloudBitMask(1 <<"
`

The symbol used in python (and javascript) c

[2020-07-21 14:45] andreatitolo commented on #79
@csaybar thanks! I can confirm that ```ee_monitoring_test()``` now works perfectly and the image is exported correctly. I have also tested it quickly on the ```for``` loop I posted at the beginning, and I can confirm it works with that too, thanks a lot for your help!
[code]

The information you requested:
[code]

[code]

[code]

[2020-07-21 17:00] csaybar commented on #79
Finally, I understand this bug a little better. Apparently, it happens by the presence of large numeric dates (See [Considerations.Rmd](https://r-spatial.github.io/rgee/articles/considerations.html#be-careful-with-eedate)). With `rgee` you can export directly ImageCollections from Earth Engine to your Local env. Please can you reinstall `rgee` (I update the `ee_monitoring` function), run as follow

[2020-07-21 17:02] csaybar commented on #81
We have an example [here](https://github.com/r-spatial/rgee/blob/examples/Algorithms/CloudMasking/sentinel-2.R)!

[2020-07-21 17:12] jimoreira commented on #81
Sorry! I couldn't find it.
Thanks for your help!

[2020-07-21 17:12] #81 closed

[2020-07-21 17:40] andreatitolo commented on #79
I see, no problem, I followed your instructions and ran the code above, no errors at all:

I might have to say that I tried to save a collection locally before today's update, and the export worked with no error.

[code]

[2020-07-22 01:54] csaybar commented on #79
@andreatitolo have you tried the same ImageCollection?. This strange bug only occurs in some system and apparently when `creation_timestamp_ms`, `update_timestamp_ms`, or  `start_timestamp_ms` surpass a threshold of 32 bit (although I'm not really sure), anaconda users have to see this problem more often https://github.com/rstudio/reticulate/issues/154. I'm going to close this issue but if you con

[2020-07-22 01:54] #79 closed

[2020-07-22 17:46] jimoreira opened #82 "lubridate + rgee to avoid ee$ImageCollection$iterate - reproducible example"
### Description
I'm trying to apply a function designed to work in Python API.
I need to map a function over a list (containing dates as text)

### What I Did

[code]

when i run this, the system crash.
I don't know how to get the error before crushed and I don't know where the problem is.

thanks for your help!

[2020-07-23 00:03] csaybar commented on #82
Hi @jimoreira! I can't reproduce your example because I don't have access to startDate variable, but it seems not to be a problem with `rgee` but with your implementation. Reading your code I see the next problem:

Change:
[code]
By:
[code]
If you detail me exactly what you want to do and attach your code and datasets (it seems MODIS), I can help you!

[2020-07-23 12:03] jimoreira commented on #82
this is the link i shared to you with the asset:
[https://code.earthengine.google.com/?asset=users/javiermoreira/UPM/inv20/puntos_muestreo_13jul](url)

This is the complete code that crushes.

It's a loop through a list of dates (startDate), that gets, first, an ImageCollection (timeDict) with a maximum NDVI (qualityMosaic) for each month of a period of months; and then an image (merged) with each

[2020-07-24 14:48] csaybar commented on #82
Hi @jimoreira can you give me permission to read?. You need to run once as follows

[code]

[2020-07-24 15:18] jimoreira commented on #82
i give it to you by specifying your mail on the asset, as reader.

i try this last code you sent and get this
`
Error in py_call_impl(callable, dots$args, dots$keywords) : TypeError: expected string or bytes-like object
`

[code]
and get this:

`
Error in py_call_impl(callable, dots$args, dots$keywords) : TypeError: expected string or bytes-like object
`

[2020-07-24 17:41] csaybar commented on #82
I can't understand many parts of your code but it seems that are you trying to get the max-NDVI in your Point dataset. One of the advantages of rgee is the possibility to interact with the R ecosystem, I think using this advantage you will avoid using '`iterate`'. Unfortunately, I haven't enough time to read line by line, but the implementation below should not be so far of your goals.

[code]

[2020-07-27 21:55] BVR089 opened #83 "'rgee_sessioninfo.txt' doesn't exist"
* rgee version: 1.0.0
* R version: 4.0.2
* Operating System: Win10 Pro

### Description

While working on downloading a raster I got an error regarding the file 'rgee_sessioninfo.txt', then I tried to get information about the address of the file and it doesn't exist, I checked the installation and made sure that ee_Initialize () and ee_check () worked, and I did not find the file 'rgee_sessioninf

[2020-07-28 00:12] csaybar commented on #83
Hi, @BVR089 thanks a lot to open this issue. It is an old bug that surprised me that continues in rgee v.1.0.0. The `rgee_sessioninfo.txt` is created after run ee_Initialize(). It helps to identify the credentials path. We save the
`rgee_sessioninfo.txt` file in the path below:
[code]

Can you confirm that `rgee_sessioninfo.txt` exists after run:

[code]
You must get TRUE in both cases after run:

[2020-07-28 00:50] helenyang24 commented on #77
Thanks Cesar, that really helps. However,  I met one more problem--how to construct a dictionary in R?
My codes look like this (they are a part of my nested loop):
[code]
It doesn't work either if I delete the commas in
[code]
It shows:
[code]

[2020-07-28 01:09] csaybar commented on #77
Hi @helenyang24 maybe this could help https://rstudio.github.io/reticulate/#type-conversions

![image](https://user-images.githubusercontent.com/16768318/88607440-dcdc4c80-d044-11ea-982f-57eba9b5732f.png)

[code]

[code]

[2020-07-28 01:18] helenyang24 commented on #77
Thanks for your help, Cesar. That works! I'm just wondering if it is still stored as a server-side object?

[2020-07-28 01:26] helenyang24 commented on #78
Thanks. When I run the sample code in R, it shows:
[code]
What does that ''Selection:" mean and what should I enter?

[2020-07-28 01:45] csaybar commented on #77
Yes `rgee` automatically will convert R object to server-side object. Use `print(x,type="json")` to get more details

[code]

[2020-07-28 01:46] #77 closed

[2020-07-28 01:49] csaybar commented on #78
It seems you have multiple Google Drive credentials, you need to select one of them before continue.

[2020-07-28 01:49] helenyang24 commented on #77
Sorry for having a bunch of questions, but I met a bug again when I try to run this:
[code]

[2020-07-28 01:59] helenyang24 commented on #78
I tried entering my email but the 'Select:' still popped up:
[code]

[2020-07-28 02:01] csaybar commented on #78
You must enter 1

[2020-07-28 02:09] helenyang24 commented on #78
It seems like I still need to select something after entering 1:
[code]

[2020-07-28 05:13] helenyang24 commented on #77
Hi Cesar, sorry for throwing so many questions out. I'm wondering if the ee.FeatureCollectio.map can loop a function more than three steps over the FeatureCollection?

[2020-07-29 00:41] BVR089 commented on #83
Thank you so much @csaybar , after trying it several times the error remained while executing the instructions, however I realized that it was my error since I had not configured the EE home repository yet; had already been discussed in the following issue: https://github.com/gee-community/gee_tools/issues/25
Now everything works correctly.

[2020-07-29 00:50] #83 closed

[2020-07-31 08:12] GabiGIS opened #84 "SSL: CERTIFICATE_VERIFY_FAILED - certificate verify failed"
* rgee version: 1.0.1
* R version: 4.0.2
* Operating System: Mac Catalina

I have tried to install library(rgee) and when run :

[code]
asks me to allow the permission from a pop up window at web browser of GEE and I allowed and gives me a code which copy and pasted in the Rstudio pop up window

<img width="400" alt="image copy" src="https://user-images.githubusercontent.com/50703718/89014585-637f

[2020-07-31 08:24] csaybar commented on #84
Hi @GabiGIS your installation looks great!
do you have an active GEE account, right?

Maybe this issue could help:
- https://github.com/gee-community/qgis-earthengine-plugin/issues/35
- https://github.com/gee-community/qgis-earthengine-plugin/issues/35#issuecomment-614321847

How to change the HTTP proxy in R:
- https://github.com/r-spatial/rgee/issues/63#issuecomment-645218408

[2020-07-31 08:30] GabiGIS commented on #84
Dear Cesar,
Thanks for your response.
Yes, I do have a GEE account.
Actually none of the suggestions solved the problem.
What could the solution?
Thanks a lot.
Kind regards,
Gabriel

[2020-07-31 08:41] csaybar commented on #84
It seems to be a bug in Python 3.6. https://bugs.python.org/issue35941. https://github.com/conda-forge/python-feedstock/issues/267. Upgrade to Python 3.8 solve the problem. Let me know if the problem persist after the upgrade.

[2020-07-31 08:46] GabiGIS commented on #84
I have python 3.8

![Python](https://user-images.githubusercontent.com/50703718/89017688-6335ae80-d323-11ea-8005-1e8c5a50d1d8.jpg)

[2020-07-31 09:01] csaybar commented on #84
Just to confirm what Python version is reading reticulate. Please, run the follow and attached the results
[code]
This is a  known issue ([SSL failed on Mac OSx](https://stackoverflow.com/questions/42098126/mac-osx-python-ssl-sslerror-ssl-certificate-verify-failed-certificate-verify)). Can you confirm that Python also failed?
[code]

[2020-07-31 17:05] GabiGIS commented on #84
Hello I tried and this were the results

![reticulate](https://user-images.githubusercontent.com/50703718/89059027-183e8a00-d369-11ea-9085-105fc5c2d570.jpg)

What should you recommend to do?
Thanks a lot.
Gabriel

[2020-07-31 21:41] GabiGIS commented on #84
yes python also fail

![phyt](https://user-images.githubusercontent.com/50703718/89079697-b9403b80-d38f-11ea-8d6e-aeeddec5209d.jpg)

[2020-08-01 01:24] csaybar commented on #83
@BVR089 in 'rgee' v1.0.2 we fix this bug.  Thanks for notified us!.

[2020-08-01 17:02] GabiGIS commented on #84
Hello I tried in Windows and got the following error

![windows](https://user-images.githubusercontent.com/50703718/89106338-cf9ed380-d431-11ea-8572-2db06324b4a7.jpg)

What could be the problem?
Thanks a lot
Gabriel

[2020-08-01 22:18] amsantac opened #85 "rgee on Google Colab: expose link for authentication"
Hi,

First of all, thanks and kudos for such a great package.

I'm trying to run rgee on Colab and I got stuck at ee_Initialize() where it asks for the Authentication code, see screenshot attached:

![fig1](https://user-images.githubusercontent.com/8917061/89111186-5e065b80-d418-11ea-8480-fe0e4c250f71.png)

As there is no link to click or pop-up as one gets when using the Python API, it is not pos

[2020-08-02 08:47] csaybar commented on #85
Thanks, @amsantac for putting this on a discussion. At the beginning, I thought this will not be possible but after some tries, I made that it works :). Let me know if you have any problem.
https://colab.research.google.com/github/r-spatial/rgee/blob/examples/rgee_colab.ipynb

[2020-08-02 17:23] amsantac commented on #85
Superb! Thank you very much. I just tried it and worked perfect. And thanks for adding the examples and extra functions. You guys rock!

[2020-08-03 19:52] csaybar commented on #84
The issue was closed because it was solved [here](https://groups.google.com/forum/#!searchin/google-earth-engine-developers/rgee%7Csort:date/google-earth-engine-developers/9WCVjIMtjfE/c0znjQwZAgAJ).

[2020-08-03 19:52] #84 closed

[2020-08-05 00:44] cedlfc44 opened #87 "ee_imagecollection_to_local - geodesic : Error in cat("- region parameters\n", "WKT :", sf::st_as_text(sf_region))"
* rgee version:
* R version: 4
* Operating System: windows

hi:
I am having this problem, I need to download MODIS data series for EVI 250m, I started researching with rgee and encountered some problems. this problems are are in the middle and at the bottom of the code.
1: : To make a quality mask, the bit values ​​in the examples for getQABits are generally "11" for MODIS and "110000000000000000"

[2020-08-05 02:53] csaybar commented on #87
Hi @cedlfc44 thanks for open this issue.

1) It is how I manage bits in QA bands other approaches closer to Earth Engine examples  [here](https://github.com/r-spatial/rgee/tree/examples/Algorithms).

2) Can you confirm that it was fixed in rgee v1.0.4?. Please upgrade and restart R  before continues.

[code]

[2020-08-05 09:48] cedlfc44 commented on #87
This bug is fixed in rgee v1.0.4.
thanks Cesar.

[2020-08-05 10:34] cedlfc44 opened #89 "dowload and export MODIS products to google drive with same proyection than a shape"
Hi:

I loaded mi file. shp, then, I run to download a time series data from MODIS, this code start and finish the dowload, but, when i open tiff file in qgis or R, my shape file doesn´t match, shape.shp has a part outside of the tiff.
When I look at the downloaded image and compare with the shape in qgis, they have the same dimensions, therefore bbox was used to limit the download, but code doesnt

[2020-08-05 20:30] csaybar commented on #89
Hi @cedlfc44 you can pass image download arguments to  `ee_imagecollection_to_local`.

[code]

[2020-08-06 06:04] liuyadong opened #90 "Initialization failed if drive=TRUE"
* rgee version: 1.0.3
* R version: 4.0.2
* Operating System: MacOS 10.15.6

### Description

Hi, when I initialize with `ee_Initialize(drive = TRUE)` it keeps asking to select credentials even after typing 1.
BTW, googledrive can be authorized successfully with `drive_auth`.

[2020-08-06 06:31] liuyadong commented on #90
It probably relates to my google account, it's a G Suite account having a customized domain instead of gmail.

[2020-08-06 09:45] #87 closed

[2020-08-06 09:48] csaybar commented on #90
Hi @liuyadong  thanks for open this issue. You are right, I have wrongly only considered ".*@gmail.com" users. I made some changes in rgee v1.0.4. Can you confirm that the issue was solved?

[code]

[2020-08-06 10:18] liuyadong commented on #90
@csaybar Installation of 1.0.4 failed:
[code]

[2020-08-06 10:24] csaybar commented on #90
Oops my error, could you run again, please.

[2020-08-06 10:26] liuyadong commented on #90
It works now. Thank you! I'm closing this issue.

[2020-08-06 10:26] #90 closed

[2020-08-07 05:41] LiuLiangCDUT commented on #63
Maybe you can try another browser, such as firefox.

[2020-08-08 06:23] csaybar commented on #66
Closed after two months without a response

[2020-08-08 06:23] #66 closed

[2020-08-08 06:23] #67 closed

[2020-08-08 06:24] #71 closed

[2020-08-08 06:24] csaybar commented on #78
It was fixed in rgee v1.0.4

[2020-08-08 06:24] #78 closed

[2020-08-08 06:25] csaybar commented on #89
rgee v1.0.4 will not display warning messages.

[2020-08-08 06:25] #89 closed

[2020-08-08 06:26] #82 closed

[2020-08-11 13:28] pjaguirreh opened #91 "Error in ee_Initialize() : reticulate refuse to connect with rgee"
Hi!

I'm getting the following error when trying to execute the ee_Initialize() command: **Error in ee_Initialize() : reticulate refuse to connect with rgee.**

I followed the instructions from the [rgee site](https://r-spatial.github.io/rgee/) and when I run ee_check() I get the following message, I don't know if it's related:

(*)  Python version
√ [Ok] C:/Users/pjagu/AppData/Local/r-miniconda/e

[2020-08-11 17:56] LouiseLeroux commented on #91
Hi,

I just found the solution! Apparently this come from an update of Conda version.  You have just to update your conda version with the following :`conda update -n base conda`. It works for me.

[2020-08-11 22:28] csaybar commented on #91
Hi @pjaguirreh your conda env looks good. It seems the problem is that `ee_install` (for some reason) does not install the earthengine-api Python API. You can install it manually as follow:
[code]
If it doesn't work try:

[code]
If you persist presenting this problem please attached us your rgee env:

[code]

[2020-08-11 23:34] pjaguirreh commented on #91
Tried both suggestions and didn't work (I'm attaching two related images).

Regarding your request:

[1] "C:\\Users\\pjagu\\AppData\\Local\\r-miniconda\\envs\\rgee\\python.exe"

[1] "rgee"

![image](https://user-images.githubusercontent.com/47273633/89958991-62e1c100-dc09-11ea-8e85-267ecaf86232.png)

![image](https://user-images.githubusercontent.com/47273633/89958971-5493a500-dc09-11ea-9d6f-66c2b

[2020-08-11 23:39] csaybar commented on #91
Please attached us the following information:

[code]

[2020-08-11 23:40] pjaguirreh commented on #91
![image](https://user-images.githubusercontent.com/47273633/89959500-8ce7b300-dc0a-11ea-9af7-3fe7e1ef7b42.png)

[2020-08-11 23:42] csaybar commented on #91
Please, Can you run again? I updated the message

[2020-08-11 23:44] pjaguirreh commented on #91
![image](https://user-images.githubusercontent.com/47273633/89959653-efd94a00-dc0a-11ea-9399-837dd6ad57be.png)

ps: Yes, I'm restarting R each time I try a new instruction

[2020-08-12 00:27] ryali93 commented on #91
Hi, I solved the problem terminating my R session. After terminated your R session, can you attached us again the following:
[code]
![image](https://user-images.githubusercontent.com/20345946/89961711-38dbcf00-dc08-11ea-9913-351a7749d795.png)

[2020-08-12 00:35] pjaguirreh commented on #91
Thank you all for the time. I did it and still the same problem

![image](https://user-images.githubusercontent.com/47273633/89962079-adffd200-dc11-11ea-93bf-67586f80aff9.png)

[2020-08-12 03:09] csaybar commented on #91
Hi @pjaguirreh really strange, but for some reason, you have miniconda with Python36 and Python38.
https://github.com/r-spatial/rgee/issues/91#issuecomment-672367167
https://github.com/r-spatial/rgee/issues/91#issuecomment-672396792
Please can you share with us a traceback of your error?

[code]
Do not forget to restart your R session.

[2020-08-12 09:52] xiaoxiaokuishu opened #92 "ee_Initialize().Your current architecture is 32bit; however, this version of Python was compiled for 64bit. Use reticulate::install_miniconda() if you'd like to install a Miniconda Python environment"
* rgee version:
* R version:
* Operating System:
R version 4.0.1 (2020-06-06)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 10 x64 (build 18362)

Matrix products: default

Random number generation:
 RNG:     Mersenne-Twister
 Normal:  Inversion
 Sample:  Rounding

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936  LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chines

[2020-08-12 14:39] pjaguirreh commented on #91
![image](https://user-images.githubusercontent.com/47273633/90028809-21dcc180-dc88-11ea-9c38-278044f52268.png)

[2020-08-12 20:56] csaybar commented on #91
Ok, it helps. Can you run the follows please, if you get an error please share with us the traceback()

[code]

OBS: You need to restart R before to run rgee:::ee_source_python

[2020-08-12 21:03] csaybar commented on #92
rgee strongly depends on `reticulate`, and reticulate can't find a Python installation in your system. I not very sure but I think reticulate only works with 64 bit. BTW you can try explicitly defining your 64bit python location just after loading reticulate library.

[code]

[2020-08-12 21:29] pjaguirreh commented on #91
Apparently that worked!

But if I start a new R session I have to run again the code you attach.

![image](https://user-images.githubusercontent.com/47273633/90070096-4e60ff80-dcc1-11ea-9cbd-ca79ebd058a9.png)

[2020-08-12 21:30] pjaguirreh commented on #91
And I can't run it after I "do the check" because I get the following:

![image](https://user-images.githubusercontent.com/47273633/90070217-81a38e80-dcc1-11ea-9ef2-43a936c672e1.png)

But if I restart the session and run again the code you attach it works once again.

[2020-08-12 21:44] pjaguirreh commented on #91
Apparently, if I just don't run "ee_check()" there's no problem with "ee_Initialize()". I was already able to run the examples in the rgee site.

-- rgee 1.0.4 --------------------------------------- earthengine-api 0.1.229 --
 √ email: not_defined
 √ Initializing Google Earth Engine:  DONE!
 √ Earth Engine user: users/gee_earth_engine
--------------------------------------------------------------

[2020-08-12 21:44] csaybar commented on #91
HI @pjaguirreh, I really do not understand why you get refuse error. Does the code below work for you?

[code]

[2020-08-12 21:45] pjaguirreh commented on #91
Apparently, if I just don't run "ee_check()" there's no problem with "ee_Initialize()". I was already able to run the examples in the rgee site.

ee_Initialize()
-- rgee 1.0.4 --------------------------------------- earthengine-api 0.1.229 --
√ email: not_defined
√ Initializing Google Earth Engine: DONE!
√ Earth Engine user: users/gee_earth_engine

[2020-08-12 21:46] csaybar commented on #91
Thanks, happy to see `rgee` working, thanks to notifying us, we study in deeper the problem with ee_check().

[2020-08-12 21:46] #91 closed

[2020-08-13 12:41] xiaoxiaokuishu commented on #92
After  i have defined the python location, this error appear.
![image](https://user-images.githubusercontent.com/33720362/90135483-5003f380-dda5-11ea-89a9-e686a13f348e.png)

[2020-08-17 03:24] #92 closed

[2020-08-17 03:28] xiaoxiaokuishu commented on #73
I also encountered this issue, have you solved it or not?

[2020-08-17 21:50] Ghazal87 opened #94 "no rgee version for R 4.0.2"
* rgee version:
* R version:
* windows:

I tried to install rgee on R 4.0.2 version and I received the following message
Warning in install.packages :
  package ‘rgee’ is not available (for R version 4.0.2)

[2020-08-18 05:52] csaybar commented on #73
Hi @xiaoxiaokuishu, unfortunately, this problem was not solved yet.

[2020-08-18 05:53] csaybar commented on #94
Please run as follow [here](https://github.com/r-spatial/rgee#installation)

[2020-08-19 05:39] malikarrahiem opened #95 "Invalid GeoJSON geometry"
Hey Cesar, this is really a great job! I like it a lot.

I face a problem which I dont know the solution. Can you help me?

Whenever I did ee_extract (this is tutorial from getting precipitation data from terraclimate), I keep getting this error:

**Error in py_call_impl(callable, dots$args, dots$keywords) :
EEException: Invalid GeoJSON geometry.

Detailed traceback:
File "C:\Program Files\R\R-4.0

[2020-08-19 05:50] csaybar commented on #95
Hi, @malikarrahiem thanks, do you refer to this [one](https://github.com/r-spatial/rgee/blob/examples/rgee/08_extract.R)? I do not get an error, could you attach the link please?
[code]

[2020-08-19 06:08] malikarrahiem commented on #95
Hi Cesar, thanks for your response. I really appreciate it.

Yes this one. So whenever I tried to change the shape to desired shape, the error is appear.

This is what I do:

location <- "Sub-KHG-1"
sub_khg <- st_read("subkhg.shp", quiet = TRUE) %>%
  st_transform(crs= "+proj=longlat +datum=WGS84") %>%
  filter(NAMA == location)

start <- "1981-01-01"
end <- "2020-01-01"

chirps <- ee$ImageCollect

[2020-08-19 06:24] csaybar commented on #95
Hi, @malikarrahiem no problem!. It seems that there is a problem with your geometry. Could you give me access to your shapefile by some means?, maybe Google Drive.

[2020-08-19 06:32] malikarrahiem commented on #95
Oh dear, yes the shape is the problem. I check the coordinate system, somehow it is not recognized. I change it in QGIS and it works fine now.

Thank you Cesar. I really appreciate your work!

[2020-08-19 06:32] #95 closed

[2020-08-21 04:01] barja8 opened #97 "New tool to swap fast two layers"
[code]

![rgb-nvdi](https://user-images.githubusercontent.com/23284899/90851266-ca022280-e339-11ea-8426-d76647270047.gif)

[2020-08-24 00:06] csaybar opened #98 "command_line_path_tool argument"
command_line_path_tool is an argument that almost always no need to set it up. It represents the path to the [Earth Engine command line tool (CLT)](https://developers.google.com/earth-engine/guides/command_line). By default `rgee` assumes that it is located in the same path that the Python interpreter (this happen by default when installing the earthengine Python API). For instance in my system:

[2020-08-29 20:14] #85 closed

[2020-09-01 01:17] Yinshao-lzu opened #99 "Error：ee_install() and ee_Initialize()"
* rgee version:1.0.5
* R version:4.0.2
* Operating System:Win10

Hello, I followed the example to load the RGEE package, but an error occurred.

![ee_install](https://user-images.githubusercontent.com/56902640/91783798-d472c500-ec33-11ea-9ceb-dfe624e5d23a.jpg)
![ee_initialize](https://user-images.githubusercontent.com/56902640/91783807-db013c80-ec33-11ea-9a90-e02c59c36ad6.jpg)

Please teach me how

[2020-09-01 16:08] #97 closed

[2020-09-09 18:33] jimoreira commented on #82
hi csaybar,
again with this issue, sorry.
Your solution fails from the beginning. When i try
`sf_table_dates <- ee_as_sf(table)[["fecha"]]`
i get
`Error in py_get_attr_impl(x, name, silent) :
  OverflowError: Python int too large to convert to C long`
i can work with your other examples, fine, i also can see the content of 'table' with
`print(table$getInfo())`
also, i already mention that, when i

[2020-09-11 10:52] DanielBonnery opened #101 "`ee_Initialize` error EEException: Invalid asset name. Folder names must be separated with '/', and at most 10 folders are allowed in the path. Names must contain only the following characters: A..Z, a..z, 0..9, '_' or '-'. Maximum length for a single folder or asset name is 100 characters."
* rgee version: current version of sept 10, 2020
* R version: 3.6.3
* Operating System: Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [ V] You have the Python API installed (from terminal):
[code]

- [ V] You can find the credentials file on your system:
[code]
- [ V] You can run a simple EE command from R:

[code]

Attach your Python (reticu

[2020-09-11 19:46] francofrolla commented on #99
Do you try:

library(rgee)
library(reticulate)
earthengine_python <- Sys.getenv("EARTHENGINE_PYTHON", unset = NA)
Sys.setenv(RETICULATE_PYTHON = earthengine_python)
reticulate::py_config()

#RESTART R and try ee_Initialize()

https://github.com/r-spatial/rgee/issues/91

[2020-09-17 20:15] jimoreira opened #103 "how to use the equivalente to "require" to use somebody else asset Algorithm"
hi,
I'm trying to use somebody else algorithm,
I look into the examples and find this option of manage, but I'm not sure if its meant for this.

Trying it :
`ee_manage_copy("users/...")`
and i'm getting
`Error in ee_verify_filename(path_asset, strict = strict) :
  users/khanalnishant/Algorithms:WhittakerSmoothing is not a valid destination. Make sure a correct full path is provided (e.g. either us

[2020-09-19 13:08] scra88le opened #104 "error in ee_Initailize() on OSX"
* rgee version: rgee_1.0.5
* R version: 3.6.0 (2019-04-26)
* Operating System: x86_64-apple-darwin15.6.0 (64-bit)

### Description

When I try:

I get

Error in ee_connect_to_py(ee_current_version, n = 5) :
  reticulate refuse to connect with rgee

Dump of information below - thanks for your help...

#### At submit an issue, please attached the following information of your `rgee` session:

- [x]

[2020-09-21 19:52] #94 closed

[2020-09-21 19:53] csaybar commented on #98
I going to close this issue but feel free to opened again!

[2020-09-21 19:53] #98 closed

[2020-09-21 20:03] csaybar commented on #99
Hi @Yinshao-lzu sorry for the late reply.

`rgee` depends on `reticulate` and `reticulate` needs that windows users use [miniconda](https://rstudio.github.io/reticulate/articles/python_packages.html ).  I going to add more information in `ee_install` in the next release of rgee. So to solve please first install miniconda after that makes something like this:

[code]

[2020-09-21 20:04] csaybar commented on #101
Thanks a lot for your help it was added in the last release of rgee (v.1.0.6)

[2020-09-21 20:04] #101 closed

[2020-09-21 20:11] csaybar commented on #103
Hi @jimoreira this is a great package!. Unfortunately is in JavaScript so you will no able to run it together with rgee. `ee_manage_copy` is useful to move somebody else public earth engine asset to your own account.

![image](https://user-images.githubusercontent.com/16768318/93816005-30d76c00-fc57-11ea-9636-ff3e53ef9e8e.png)

[2020-09-21 20:22] csaybar commented on #104
Hi @scra88le it seems your system have problems to install the Earth Engine Python API in your anaconda ENV. You will have to do it manually, I highly encourage you use your other Python ENV (`/usr/bin/python3` or  `/Users/anthony/.virtualenvs/rgee/bin/python`) . Something like this works?

[code]
Please upgrade your rgee to v.1.0.6 before to run the code above. Let me know if the problem persist

[2020-09-21 21:13] jimoreira commented on #103
thanks @csaybar for your answer. I'm having the same issue with ee_manage_copy, using another algorithm, from a different source, the same happens.
Reading the function specification it says (Table, Image, Folder, or ImageCollection).
i don't know what hapen

[2020-09-22 20:24] scra88le commented on #104
Hi @csaybar , I got `rgee` working by following this [blog](https://philippgaertner.github.io/2019/12/earth-engine-rstudio-reticulate/). The main thing that made a difference was specifying the conda environment:

`use_condaenv("gee-demo", conda = "auto",required = TRUE)`

Then I ran `ee_install()` and everything seemed to work fine.

[2020-09-24 11:24] giacfalk opened #105 "sf_as_ee with gcs_to_asset option failing"
* rgee version: 0.6.2
* R version: 3.5.1
* Operating System: Windows 10

I fail to use the sf_as_ee with gcs_to_asset option.

I created a bucket on GCS, I created the auth JSON key and put it in the right folder, and successfully run ee_Initialize(email=xxx@gmail.com", gcs = TRUE).

I am using this command

a<- read_sf("NUTS_RG_10M_2021_4326_LEVL_0.shp")

[code]
and I get the following error

[co

[2020-09-24 11:32] giacfalk commented on #105
EDIT: for some reason now it is succeeding (in R):

[code]

but when I open GEE the asset is not there... weird.

[2020-09-25 06:16] csaybar commented on #105
Hi @giacfalk everything seems good, could I obtain somehow access to your shapefile?

[2020-09-25 06:19] csaybar commented on #103
No ee_manage_* is not for algorithms is only for EE assets. That are ImageCollection, Image, tables (FeatureCollections).

[2020-09-25 06:20] csaybar commented on #104
Thank you for share your answer I going to close this issue but feel free to open again!

[2020-09-25 06:20] #104 closed

[2020-09-25 07:26] giacfalk commented on #105
Thanks for your reply. Sure. But it seems to me that the issue is not related to the shapefile itself, as changing shapefile leads to the same error!

[2020-09-25 07:56] csaybar commented on #105
Server-side errors without additional messages are quite difficult to predict what the real problem is. Can you confirm that the code bellow works?

[code]

[2020-09-25 08:09] giacfalk commented on #105
It seems to work because it yields the following (NB in the meantime I updated rgee to the latest version)

`1. Converting sf object to a compressed ZIP shapefile ... saving in /tmp
2. From local to GCS
3. Creating the manifest
4. From GCS to Earth Engine
Running the OS command: earthengine upload table --manifest C:/Users/GIACOMO/AppData/Local/Temp/RtmpyKDqM4/file4d6429c213a3_manifest.json
Runnin

[2020-09-25 08:20] csaybar commented on #105
`ee_monitoring` finished with no problem?. If yes you could use the asset with no problems!.
The code bellow if what `sf_as_ee` does in the backend to detect your bucket, if no error appears your GCS connection works fine!
[code]

[2020-09-25 08:28] giacfalk commented on #105
It's a mistery! `ee_monitoring `reports

[code]
but `googleCloudStorageR::gcs_get_bucket('accessibility')` seems to be working as it yields

[code]

[2020-09-25 08:44] csaybar commented on #105
Ok it seems that there is a problem creating the zip file (`file4d6475d77bc7.zip`), could you confirm that the file does not exist in your GCS?:

[code]
Is the zip file created properly?

[code]

![image](https://user-images.githubusercontent.com/16768318/94246385-4b247a80-fee1-11ea-9b14-6161b33985dd.png)

[2020-09-25 08:48] giacfalk commented on #105
Thanks for your time! Oddly enough `geozip_dir <- ee_utils_shp_to_zip(x, filename =  shp_dir)` creates the shp shx dbf and prj files in the working directory but not within a zip folder! That's probably the issue! But I wonder why this behaviour. I'm on Windows 10.

[2020-09-25 08:56] csaybar commented on #105
Thanks we are going to work on this in the next release!. For the moment you can use `gcs_to_ee_table`, see examples [here](https://r-spatial.github.io/rgee/reference/gcs_to_ee_table.html)

[2020-09-25 10:49] giacfalk commented on #105
I found the solution: on Windows you need Rtools to use the utils::zip (on which the `ee_utils_shp_to_zip `function relies ). Also, you need the Rtools path to be in your PATH environment variables (https://stackoverflow.com/questions/12698583/r-function-ziputils-doesnt-work-on-my-machine).

[2020-09-25 18:57] csaybar commented on #105
Thanks so much! we will add a condition when Windows users does not have Rtools4 installed :). This error still happens with the toy example that I shared with you?

[code]

[2020-09-28 12:15] giacfalk commented on #105
Yes, it yields the same error of 'File access denied' but I find the file in the bucket. So the problem now occurs in the transfer form GCS to GEE assets.

[2020-10-01 05:22] csaybar commented on #105
Ok `sf_as_ee(..., gcs=TRUE)` only create the petition to the [Command Line Tool](https://developers.google.com/earth-engine/guides/command_line). Something like this:
![image](https://user-images.githubusercontent.com/16768318/94771011-ce2f5000-037b-11eb-8db2-f1253f7325a2.png)

If you enter to the .json file you will see something like this:
![image](https://user-images.githubusercontent.com/16768

[2020-10-03 09:21] #103 closed

[2020-10-11 21:42] AlvaroMCMC opened #106 "sf_as_ee -> Error in .Call(`_reticulate_py_str_impl`, x) : llegado el tiempo límite"
* rgee version: 1.06
* R version: 4.0.2
* Operating System: Windows

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

[2020-10-12 16:36] AlvaroMCMC commented on #106
The problem is solved, the file was too large. I has to be uploaded to assets.

[code]

[2020-10-12 16:36] #106 closed

[2020-10-13 13:47] shellstanton opened #107 "Current Python path does not have the earthengine-api installed"
* rgee version: 1.0.6
* R version: 3.6.1
* Operating System: Windows 10 x64

I have installed rgee from github, run the ee_install(), which has prompted me to install miniconda, and results in a message to inform me that everything has installed successfully. On running ee_Initialize() I obtain the error 'The current Python PATH: C:/Users/stantom1/AppData/Local/r-miniconda/envs/rgee/python.exe
doe

[2020-10-15 10:05] shellstanton commented on #107
Thanks @csaybar . I've tried this a few times but seem to go around in circles as I get the message that the API has installed:

![image](https://user-images.githubusercontent.com/72806056/96109086-3763a700-0ed6-11eb-8125-ef0855709e00.png)

However, I still receive the same message when I run ee_Initialize()

[2020-10-16 08:04] shellstanton commented on #107
I installed the newest version of R (and Rstudio) and it all seems to be working now thanks!

[2020-10-16 08:04] #107 closed

[2020-10-21 15:35] maritza-ph opened #108 "Error: Error in reticulate::install_miniconda() : cannot install Miniconda into a path containing spaces"
* rgee version:
* R version: 4.0.3.
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal): NO
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Descr

[2020-10-29 18:12] thiagoveloso opened #109 "Combine Filter$neq with Filter$calendarRange?"
* rgee version: 1.0.6
* R version: 4.0.3
* Operating System: macOS 10.15

Thanks for this amazing package!

I am trying to filter an image collection by all months except a few. For example - in the GEE editor, I can select all months except `April To July` with something like this:

[code]
(code inspired on https://gis.stackexchange.com/questions/268480/how-to-filter-image-collection-by-date-excl

[2020-10-29 18:24] csaybar commented on #109
Hi @thiagoveloso thanks for use **rgee**!

`rgee` mimics the **Python API** not Javascript! The syntax is quite similar both not exactly the same. Please take a look at this  [syntax comparison](https://developers.google.com/earth-engine/guides/python_install#syntax).

This code should works:

[code]

[2020-10-30 00:20] thiagoveloso commented on #109
Hey @csaybar thanks a lot for your quick reply! Yes, your proposed solution solved my issue - I appreciate it!

[2020-10-30 00:20] #109 closed

[2020-11-08 15:04] WattsMatthew opened #110 "ee_Initialize() failed to connect to the Python ENV specified in ee_install"
rgee version: latest
R version: 3.62
Operating System: ubuntu 18.04

- [x] You have the Python API installed (from terminal):
[code]
Yes

- [x] You can find the credentials file on your system:
[code]
Yes

[code]
**Description**
I'm getting the following message after running ee_initialize, all packages are up to date, was working fine yesterday.

ee_Initialize
function (email = NULL, drive = FALS

[2020-11-10 09:25] WattsMatthew commented on #110
I got it working using following the steps here

https://philippgaertner.github.io/2019/12/earth-engine-rstudio-reticulate/

However, i'll leave the ticket open since the issued occurred without me changing any settings on R + python google earth api. So might be worth investigating.

[2020-11-10 09:44] csaybar commented on #110
Hi @WattsMatthew,

Your problem seems to be that your current Python ENV (r-reticulate) does not have installed the earthengine-api.

If you are using the latest version of Rstudio (1.4) is easier to use rgee:

**1. Go to Tools -> Project Options -> Python**
![image](https://user-images.githubusercontent.com/16768318/98655490-d47ff700-233f-11eb-90b2-5742029ec859.png)

**2. Then just select the Pyt

[2020-11-10 09:48] csaybar commented on #108
Deeply sorry for the last reply.
Installing **rgee** is easier in the latest version of Rstudio.

- First, please install the Earth Engine API following the [official guide](https://developers.google.com/earth-engine/guides/python_install).
- Second,  please follow the instructions specified in #110

Thanks for your interest in **rgee**!

[2020-11-10 14:51] guicastrol commented on #99
Hi @csaybar. Congratulations for the awesome work with rgee.
I still having some issues though.
After following the discussions [here](https://github.com/r-spatial/rgee/issues/91) and [here](https://github.com/r-spatial/rgee/issues/17), I installed and used rgee perfectly. However, after restarting my computer I still getting the same status on  ee_check() :   'earthengine-api not installed'.

whe

[2020-11-10 14:56] csaybar commented on #99
Hi @guicastrol did you check #110? It seems the Python API is not installed in your current Python Env

[2020-11-10 15:07] guicastrol commented on #99
Cesar, I'm using RStudio Version 1.3.1073. It's not possible to do it like you suggested in #110
Is There another way to set reticulate environment?

[2020-11-10 18:30] guicastrol commented on #99
@csaybar , thank you.
I've upgradade Rstudio to version 1.4 and changed the Python interpreter in Tools > Project options
In the end, the point is that we must set the same python interpreter that R is using, right?

I mean, the path I get with:

must be the same I set in the R project options:

![image](https://user-images.githubusercontent.com/72578825/98715710-4a4c8880-2369-11eb-975f-73c83a3215

[2020-11-10 18:55] csaybar commented on #99
Hi @guicastrol,
Now is only necessary to set a Python interpreter (I mean at Tools > Project options > Python) that has installed the **Earth Engine Python API**!

[2020-11-10 19:00] guicastrol commented on #99
@csaybar , Yes, that's it. Thank you

[2020-11-12 08:19] #99 closed

[2020-11-19 23:03] Lostinthecodingsauce opened #111 "python error call back when mapping tiff"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

De

[2020-11-21 11:47] csaybar commented on #111
@Lostinthecodingsauce thanks for open this issue!
This is a earth-engine problem rather than a rgee problem!. You enter a wrong name for your image asset:
**raster/ncol/418/nrow/253/xmn/-123**

A code like the next one should work:

[code]

[2020-11-27 14:00] frzambra opened #112 "Filenames at exporting via GCS"
* rgee version: 1.0.6
* R version: 4.0.3
* Operating System: Ubuntu 20.04.1 LTS

### Description

Hi all,

I recently started working with the awesome {rgee}. I tested that the installation and credentials are working all fine. I want to achieve a task via {rgee} to leave a backup of my data stored on GCS. So, I want to download the dataset for a specific region (Chile) and export it to GCS. What

[2020-11-27 15:51] csaybar commented on #112
Hi @frzambra thanks for open an issue with a reproducible example!

1. There is a small typo, it should be:
[code]
2. Sorry unfortunately you will not be able to change the fileNamePrefix in neither **ee_as_raster** and **ee_as_stars**. We will fix this bug in the next release.

I will keep the issue open until I correct the bug in the second point. Thanks a lot for reporting this!

[2020-11-27 18:09] frzambra commented on #112
Oh no, typo error!. Dumb of me. Well, that fixed it. Thanks

[2020-11-27 18:31] alherca73 opened #113 "sf_as_ee can not handle POSIXt objects"
* rgee version:1.0.6
* R version:4.0.3
* Operating System: MacOS Catalina 10.15.7

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configurat

[2020-11-27 18:51] csaybar commented on #113
Thanks @alherca73 for open this issue!
Could I have access for some way to the .kml file?

[2020-11-27 19:07] alherca73 commented on #113
Sure. Here's a zip.
[Aguan_Valley.kml.zip](https://github.com/r-spatial/rgee/files/5609284/Aguan_Valley.kml.zip)

[2020-11-27 19:39] alherca73 commented on #113
It seems like the original KML file had some attribute columns with issues. I eliminated those columns within R (prior to using rgee::sf_as_ee) and from then on was able to use it. So I guess the issue was not with rgee instalation but rather with my *.kml file.

Thanks for your quick reply!

[2020-11-27 19:49] csaybar commented on #113
The problem is that `sf_as_ee` doesn't know what to do with POSIXt objects.  Change POSIXt columns to character type or delete those columns and the code will work!

[code]

[2020-11-28 00:22] ctlamb opened #114 "sf_as_ee() throws error "if (is.na(sf::st_crs(x)$Wkt))""
* rgee version: 1.0.6
* R version: 3.5.1
* Operating System: OSx Catalins

[code]

### Description

Turn an sf object into an ee object using sf_as_ee(), but returns the error "Error in if (is.na(sf::st_crs(x)$Wkt)) { : argument is of length zero"

### What I Did
[code]

[2020-11-28 10:44] csaybar commented on #114
Hi @ctlamb thanks for open this issue!

Could you add your `sessionInfo()` after running those lines?

[2020-11-28 13:40] ctlamb commented on #114
[code]

[2020-11-30 12:58] csaybar commented on #114
Hi @ctlamb could u upgrade your sf version (0.8 -> 0.9.6)?. After that, the problem persists?

[2020-11-30 14:36] ctlamb commented on #114
Hi @csaybar, yes the error persists
[code]

[2020-11-30 15:45] csaybar commented on #114
Hi, it seems that your upgrade didn't change the previous sf version ....
![image](https://user-images.githubusercontent.com/16768318/100630739-38885080-332b-11eb-9e39-0a7dcac53763.png)
Maybe terminating your current R session?

[2020-11-30 17:19] ctlamb commented on #114
Ah good catch. Sorry, I missed a cryptic fail message on the install. sf_as_ee() works as expected now. Thanks!

[2020-12-04 12:34] gabi-monteiro commented on #77
Hi Cesar. When I try to run my code with "ee $ ImageCollection", it appears "Attempt to apply a non-function". What should I do?

[2020-12-04 12:55] WattsMatthew commented on #110
ok thanks that did the trick!

[2020-12-04 12:55] #110 closed

[2020-12-19 15:39] andreatitolo opened #115 "R session aborted when trying to generate a list of dates"
* rgee version: 1.0.6
* R version: 4.0.3
* Operating System: Windows 10 64-bit

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You have the Python API installed (from terminal):
- [X] You can find the credentials file on your system:
- [X] You can run a simple EE command from R:

Earthengine api, python and credentials
[code]
Attach your Python (r

[2020-12-19 15:57] csaybar commented on #115
Hi @andreatitolo always that you need to apply a map function to an `ee$List` object use [`ee_utils_pyfunc`](https://www.rdocumentation.org/packages/rgee/versions/1.0.5/topics/ee_utils_pyfunc):

[code]
See:
- https://stackoverflow.com/questions/65027506/problems-with-eelistrepeat
- https://github.com/r-spatial/rgee/issues/77
- https://github.com/r-spatial/rgee/issues/82
- https://gis.stackexchange

[2020-12-20 10:47] andreatitolo commented on #115
Hi @csaybar, thank you so much for your answer. As I thought it was my lack of understanding, I was so focused on dates and possible issues with those, that I totally overlook the first point on the consideration page.

Apologies for that and thank you again, running the following as you showed me solved any issues I was having:

[code]

and the other function like this:
[code]

Just a quick quest

[2020-12-20 10:58] csaybar commented on #115
Hi @andreatitolo. It's the first time that heard about this bug :bug:!

Can you give more information about your session?

[code]

Also, it would be great if you can catch the warning and copy it here. See this reproducible example:
[code]

[2020-12-20 11:24] andreatitolo commented on #115
Sure, I have to say that the warning only appears once when using ```ee_print()``` or exporting to drive, if any of this action is repeated, the warning is not showed.
[code]

As for the warning, I am not exactly sure I understood, but is this something useful?
[code]

Once I run the above, it opens a new tab (next to the script tabs) named  ```doWithOneRestart```with the following function detail

[2020-12-20 11:35] csaybar commented on #115
Hi @andreatitolo thanks for helping us to catch this :bug: ... can u run as follow?. `ee_utils_py_to_r` is a function that we use internally several times and would be great to know where exactly the warning appears!

ee_print :

[code]

ee_as_raster:

[code]

[2020-12-20 11:57] andreatitolo commented on #115
Hi @csaybar sure, that's strange tough, if I run my code and then print my ee_object (in this case an ee_image), this time I get no warning at all.

[code]

Same with ```ee_as_raster```:
[code]

[2020-12-25 18:54] #113 closed

[2021-01-03 19:00] MichaelTD83 commented on #105
I hope this is acceptable to add onto this thread.

I am having this same problem though slightly different from the original post.
When running my original code
[code]
I get the following

[code]

When running your toy_poly code from September 25th (with "ee_Initialize("mtd***", drive = TRUE, gcs = TRUE")  I get the same message with the different zip file name from the new run.

The zip file is

[2021-01-19 22:21] csaybar commented on #105
Thanks a lot, for your comments!.

This is a bit embarrassing ... I omitted an important step here. Please follow the **[new tutorial](https://github.com/r-spatial/rgee/tree/help/gcs)** to upload data using gcs and rgee. I gonna close this issue but feel free to open the issue again.

[2021-01-19 22:21] #105 closed

[2021-01-19 22:22] #108 closed

[2021-01-19 22:22] #111 closed

[2021-01-19 22:23] #114 closed

[2021-01-19 22:39] csaybar commented on #112
Hi @frzambra new features were added to rgee v.1.0.8 now is it possible to solve your request as follow:

[code]
`dsn` is linked to `fileNamePrefix`. All the gcs download metadata are available at raster@history$metadata. I going to close this issue but feel free to open it again!

[2021-01-19 22:39] #112 closed

[2021-01-19 22:40] csaybar commented on #112
New tutorial to integrate **rgee* with **gcs** is available at https://github.com/r-spatial/rgee/tree/help/gcs.

[2021-01-27 21:55] joshualerickson opened #117 "In ee_extract if sf = FALSE rgee returns: Error in sf::st_drop_geometry(.) : object 'sf_y' not found"
* rgee version: 1.07
* R version: 4.02
* Operating System: Windows

#### At submit an issue, please attached the following information of your `rgee` session:

- [x ] You have the Python API installed (from terminal):
[code]

- [ x] You can find the credentials file on your system:
[code]
- [ x] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

[2021-01-27 22:49] csaybar commented on #117
Hi thanks for reporting this issue. This problem was solved in rgee v.1.0.8. Run to upgrade:

[code]

The code below should work:

[code]

[2021-01-27 23:40] MatthieuStigler opened #118 "ee_install_set_pyenv: error when py_env=NULL?"
* rgee version: 1.0.8

It seems like `ee_install_set_pyenv()` will return an error if the argument `py_env` is left NULL? I get `object 'ret_env' not found` which seems to arise since there is only a check `if (!is.null(py_env))` but no action if it is kept NULL?

What should be the default behaviour of `ee_install_set_pyenv()` when no `py_env` value is given by the user? Maybe it would be worth t

[2021-01-28 00:18] csaybar commented on #118
Hi @MatthieuStigler  thanks for pointing it out!. We will add this feature soon. **rgee** needs a Python env, to make the function `ee_install_upgrade`  works. Although is not a good solution, the next code would help:

[code]
Remember that the Python PATH you choose should have **earthengine-api** Python package installed.

Let us know if you have problems setting rgee Python dependencies!

[2021-01-28 01:30] joshualerickson commented on #117
Ok sounds good! Thanks for the heads up on sf object as the argument instead of featureCollection.

[2021-01-28 17:01] MatthieuStigler commented on #118
Thanks Cesar!

So if I have a conda environment called `ee` (which I wold normally use with: `conda activate ee`), do I just need to do:

`rgee::ee_install_set_pyenv(py_path = "~/Programs/anaconda3/envs/ee/bin/python", py_env = "ee")`

myabe it would be nice to also add 1-2 examples in the help file of `ee_install_set_pyenv`, with a `\dontrun{}`?

Thanks!!

[2021-01-30 21:23] dante136677 commented on #87
Hola Cesar, déjame felicitarte por lo que lograste. ahora tengo problemas con descargar las imágenes me aparece este error

Downloading: E:/0.1-Proyectos/PLANTILLA R/R_GEE/precipitación y evapotrasnpiraciónET_MODIS2003.tifERROR in Earth Engine servers: Pixel type not supported: Type<Long>. Convert the image to a floating point type or a smaller integer type, for example, using ee.Image.toDouble().

[2021-01-30 22:23] csaybar commented on #87
hola @dante136677 el error que menciones es un problema de GEE y no de rgee, como menciona el error que nos muestras.

Veo que estas usando `ee_imagecollection_to_local` por lo que et_a debe ser un `ee.ImageCollection`.
Trata de cambiar el tipo de datos de  cada imagen de tu collection a float o int, usando ee.Image.Collection.map.

[2021-01-31 09:31] csaybar commented on #118
Hi @MatthieuStigler the bug was fixed and add extra documentation in the [installation section](https://github.com/r-spatial/rgee#installation).

[code]

 We need to make some extra changes in the install module to permit add examples because if we add it right now it will break our testing pipeline in GH.

But indeed the examples will be in the next release of rgee :), thanks for the recommendati

[2021-01-31 09:31] #118 closed

[2021-01-31 09:33] csaybar commented on #117
fixed! Please install again rgee:

[code]
I will close the issue but feel free to open it again if you continue having problems with ee_extract. Happy Sunday :)

[2021-01-31 09:33] #117 closed

[2021-02-01 15:01] joshualerickson commented on #117
Excellent! Thanks again.

[2021-02-03 01:44] MVanDenburg92 opened #119 "rgee won't load when publishing ShinyApp"
* rgee version: 1.0.8.9999
* R version 4.0.2
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You can find the credentials file on your system:
[code]

- [X] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]
python:         C:/Users/mvand/anaconda3/envs/rgee/python

[2021-02-06 07:51] myoung3 opened #120 "library(rgee);library(gdal);ee_Initialize() breaks pre-specified python configuration"
* rgee version: rgee_1.0.8
* R version: 3.6.3
* Operating System: Debian 9

I've carefully set up a python installation and conda environment using reticulate. If I run `library(rgee);ee_Initialize()` in a fresh session, everything works fine:

[code]

But if I ```library(gdal)``` between loading `rgee` and initializing it, I get this error:

[code]

[2021-02-06 09:48] csaybar commented on #119
Hi @MVanDenburg92  did you trying creating a Dockerfile?.  I don't have experience deploying ShinyApps but it seems is possible deploy a ShinyApp with Docker.  https://www.statworx.com/ch/blog/how-to-dockerize-shinyapps/

The problem is that you will have to handle manually all the requirements of authentification (it means without using ee_install). I have a DockerFile that we created for testing

[2021-02-06 10:57] csaybar commented on #120
Hi @myoung3 thanks for open this issue. I don't understand why this happens, unfortunately, I don't have too much experience with renv. Did you try something like this?

[code]
This error happens because your Python ENV does not have installed the earthengine-api.

[2021-02-06 17:48] myoung3 commented on #120
I've completely reinstalled conda and created a new environment and updated all my environment variables. The environment referenced in the error message does seem to have does have `ee` installed:

[code]

[2021-02-06 18:07] myoung3 commented on #120
Here's a simple test that shows this probably isn't related to `renv` in any case. `renv` only does anything if you start R in a directory with an `renv` installed. If we start R from a new directory (that has the same .Renviron variables controlling which python environment/installation for reticulate to use), we can see there's no startup message for `renv`. The exact same issues occur.

[code]

[2021-02-06 18:07] myoung3 commented on #120
Additionally, if I try to use the following code, it doesn't work

[code]

[code]

`ee_install_set_pyenv()` seems to add environment variables to ~/.Renviron (but not to the local file). So i'll delete the local .Renviron and see what happens:

[code]

[2021-02-06 18:12] myoung3 opened #121 "ee_install_set_pyenv ignores local .Renviron file"
`rgee::ee_install_set_pyenv()` sets environment variables in `~/.Renviron` even if there's a `./.Renviron` file.  It should really check for a local file and modify that if there is one, and otherwise set the global file.

[2021-02-06 18:57] csaybar commented on #120
Hi @myoung3 thanks for detailing your problem so well :) .. I was thinking that probably is that rgee is not reading well the internal [python scripts](https://github.com/r-spatial/rgee/tree/master/inst/python). Can you share the results of run this?:

[code]
Don't forget to terminate your R session before running the example above!

[2021-02-06 19:02] csaybar commented on #121
Sorry, what do you mean with local file?. `ee_install_set_pyenv` set the variable EARTHENGINE_PYTHON and EARTHENGINE_ENV in your .Renviron

[2021-02-06 19:20] myoung3 commented on #120
Ok so when looking at these tests, remember that `library(rgee);ee_Initialize()` works fine. The issue only arises when I do `library(rgee);library(gdal);ee_Initialize()`

Here are my environment variables:
[code]

Without `library(gdal)` works (as expected)
[code]

Now adding in `library(rgdal)`:
[code]

[code]

So the issue has something to do with `openssl`

[2021-02-06 19:26] csaybar commented on #120
Maybe this could help.
https://github.com/openssl/openssl/issues/5845

This problem only happens with sp? what about if a change sp by sf?

[2021-02-06 19:28] myoung3 commented on #121
So you can have an .Renviron file local to your working directory which supersedes the .Renviron file in `~/.Renviron`.

see `?Startup` ([here](https://stat.ethz.ch/R-manual/R-devel/library/base/html/Startup.html)), specifically

(emphasis added)

[2021-02-06 19:29] myoung3 commented on #121
The idea is that users may want multiple projects with different `.Renviron` configurations and thus they create different `.Renviron` files. Right now `rgee` ignores the `.Renviron` file in the working directory and writes to the global .Renviron. But if there is a local `.Renviron` file, that global file is ignored entirely.

[2021-02-06 19:38] csaybar commented on #121
I didn't know anything about this. It has a lot of sense, I will implement in the next release of rgee, thanks :)

[2021-02-09 13:37] caio-valente14 opened #122 "Hi everyone."
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

De

[2021-02-09 13:38] #122 closed

[2021-02-09 14:02] caio-valente14 opened #123 "ee_install() doesn't work."
Hi everyone.

I've searched for tutorials to help configure the package in my PC, and I've found this one: https://www.youtube.com/watch?v=_fDhRL_LBdQ

I executed every part of the code interactively with the tutorial, but when I run `ee_install()` (after installing miniconda with `py_discover_config()` and other packages previously, such as `reticulate`), but it keeps me returning an error saying

[2021-02-09 15:07] csaybar commented on #123
Hi @caio-valente14,

You just need to run **ee_install** no more than that!. More of the step that the video shows are automatic, so you don't need to do it (like install previously reticulate or use ee_install_set_pyenv). Also, Windows users can use either miniconda or anaconda.

1. Terminated your R session.
2. Run:
[code]
3. Restart your R session.
4. Run ee_Initiliaze().
[code]
Please let us k

[2021-02-09 16:08] caio-valente14 commented on #123
Hi @csaybar !

Thanks so much for helping me.

What happened is that when the console returns some question asking if I would like to continue, after the console returns the message that `rgee` wants to store some environment variables in my `.Renviron`.

Here I can show you what is the message and the error returned by console:
[code]

What is strange is that I have Anaconda installed in my PC, b

[2021-02-09 16:45] csaybar commented on #123
Hi @caio-valente14 can you upgrade rgee  and try it again?
It should work now

[2021-02-09 17:00] majaliwa117 opened #124 "Extraction of NDVI to the closest time at each location"
* rgee version:1.08
* R version: 4.0.3
* Operating System: window 10 64-bit

#### At submit an issue, please attached the following information of your `rgee` session:
library(rgee)

# Initialize the Earth Engine module.
ee_Initialize()
 library(rgee)

-- rgee 1.0.8 -------------------------------- earthengine-api 0.1.248 --
 √ email: not_defined
 √ Initializing Google Earth Engine:  DONE!
 √ Eart

[2021-02-09 17:06] caio-valente14 commented on #123
Man, thanks a lot!

Now it worked for me!

I'll recommend this package to others who are interested in this GIS topics with programming!

And congratulations for the tutorial video in youtube!

Since I'm new in proramming (less than a year working with) it's very usefull to have this kind of tutorials to promote such a great package for beginners like me.

I really appreciate your help!

[2021-02-09 17:46] caio-valente14 opened #125 "Cannot run "ee_Initialize()" to initialize python environment"
I just posted some issue related to `ee_install()` function, and you solved the problem, and for that thanks once more, but I need another help here.

Now I'm having problems with `ee_Initialize()` function.

After it connects to GEE, with my login, and generate the token, when I enter the token as input to console it returns some error:

[code]

I'm using a mail account from my university, but it

[2021-02-09 17:56] csaybar commented on #125
Very odd. The use of  "@usp.com.br" shouldn't be a problem. Can you run:

[code]
Do you have an activated Earth Engine account right?

[2021-02-09 17:58] csaybar commented on #124
Please give me access to your asset: "users/Majaliwa117/Oryxloc" in R you can do something like this:

[code]

[2021-02-09 18:01] csaybar commented on #123
Happy to hear that :+1: . I committed a shameful error :), that was the problem.

[2021-02-09 18:01] #123 closed

[2021-02-09 18:12] majaliwa117 commented on #124
Access granted

On Tue, Feb 9, 2021 at 5:58 PM Cesar Aybar <notifications@github.com> wrote:

--
Majaliwa M Masolele
Intern-Conservation Ecology Center, Smithsonian Conservation Biology
Institute, USA
Mobile NO: +255743227297/+255683211137

[2021-02-09 18:33] caio-valente14 commented on #125
@csaybar ,

The activated Earth Engine account is the same I use with Earth Engine through browser, right?

If so, I do have an activated account, and it's open in browser right now by the way.

I tried to run the code above in my PC, but it returns an error message with the part `utils_py <- rgee:::ee_source_python(oauth_func_path)`.

[code]

[2021-02-09 20:01] caio-valente14 commented on #125
@csaybar , another information, I don't know if it is relevant...

I had success in initializing the python environment in my personal computer, but in my company's PC isn't working yet.

[2021-02-09 20:29] csaybar commented on #124
I see three problems here:

1) Your dates. They shouldn't be larger than e+15.
[code]

2) Your condition is inverted.

[code]

3) A typo

[code]

Btw I think you can use `ee_extract`, to make your process easier.

[2021-02-09 20:37] csaybar commented on #125
Sorry I don't understand well windows systems, but it seems it is a problem of privileges of your OS systems instead of earth-
engine. There are some other similar issues here https://github.com/google/earthengine-api/issues?q=SSL and here https://stackoverflow.com/questions/64856038/error-ssl-certificate-verify-failed-when-running-earthengine-authenticate

[2021-02-09 20:50] majaliwa117 commented on #124
Thanks Cesar,
The date are in milliseconds. I converted them to milliseconds because initially I had the normal dates format but it kept posting errors thus why I decided to change them to milliseconds

[2021-02-10 01:05] MatthieuStigler opened #126 "How to addLayer() multiple times? Seemd to overwrite previous one?"
I am not able to `addLayer()` on top of a previous one? Calling twice `addLayer()` will show only the most recent one?

Reproducible code:

[code]

* rgee version: 1.0.8
* R version: 4.0.3
* Operating System: Ubuntu 20.04

[2021-02-10 01:33] csaybar commented on #126
rgee support to operator `+` and `|`.

[code]
You can also obtain the metadata of the interactive map.

[code]

[2021-02-10 11:50] caio-valente14 commented on #125
@csaybar ,

Maybe it could be some security issues due to company's privacy policy.

I really don't have a clue about it, I'm contacting de IT team to ask them if they imagine what could cause something like that, but, sadely, maybe I'll won't be able to use this package in my projects =/

One last question, I saw that my personal computer (which is running the package fine) has a different versio

[2021-02-10 18:16] MatthieuStigler commented on #126
Thanks!

Is the need of using `+` operator intentional, or a constraint from the implementation?

Given that the java and Python interfaces don't require the `+`, and don't have `addLayer` overwriting the previous layer, it would be nice if this could be also the default with `rgee`!? Thanks!!

[2021-02-11 15:44] joshualerickson opened #127 "reduceRegion() vs. reduceRegions() vs. for-loop"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [x ] You have the Python API installed (from terminal):
[code]

- [x ] You can find the credentials file on your system:
[code]
- [x ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

[2021-02-11 16:47] csaybar commented on #126
It's intentional! to make rgee more similar to other packages (i.e. mapview, tmap, leaflet, etc.). I see no problem with both ways of stacking EE objects coexisting. I will add this feature in the next release. Thanks a lot for the feedback :)

[2021-02-11 17:04] csaybar commented on #127
Hi @joshualerickson thanks for the word of encouragement, we are really happy to see rgee useful :).
reduceRegions does not support maxPixels but reduceRegion, did you try our addin for Rstudio?

![ezgif-2-7499f28e66e4](https://user-images.githubusercontent.com/16768318/107670086-af7a8780-6c92-11eb-8e76-2619427d2537.gif)

The use of lazy in **ee_extract** is something we are planning to support in

[2021-02-11 17:17] csaybar commented on #125
Thanks for your supportive words :), I hope you will solve the problem soon. I will close the issue but feel free to open it again if you consider it pertinent.

[2021-02-11 17:17] #125 closed

[2021-02-11 17:18] csaybar commented on #124
I will close the issue but feel free to open it again :)

[2021-02-11 18:34] joshualerickson commented on #127
Thanks Cesar and no I haven't looked at the addin but will give it a looksy! I'll be looking for the update as well, thanks again!

[2021-02-11 18:43] csaybar commented on #127
Sorry it seems that the gif is not complete :)
https://twitter.com/csaybar/status/1292015511547580416

[2021-02-11 19:05] caio-valente14 commented on #125
Ok @csaybar .

I'm having a meeting with IT team next week to talk about this issue.

It seems there is a security issue with running this package, and it happens on Python package too, because there is this SSL verification of certificates from a web server.

Thanks for your help! :)

[2021-02-11 21:44] MatthieuStigler commented on #126
oh great, having rgee follow closely the EE workflow with `addLayer` would be great indeed, thanks for all the good work Cesar!!

[2021-02-15 13:41] jobbo90 opened #128 "rgee compatability with mapview"
* rgee version:
* R version: Version 1.3.1093
* Operating System: Windows 10 Enterprise (v1809)

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]

"//soliscom.uu.nl/users/5600944/My Documents/.config/earthengine/credentials"
TRUE

[2021-02-15 19:21] csaybar commented on #128
Hi @jobbo90 thanks for open this issue.

rgee in the latest version does not return a `mapview` object but a `leaflet` object.

[code]

That is why you got an error when you run:

[code]

The proper way to merge `rgee` and `mapview` is:

[code]

The changes made are because we want to avoid strong dependencies to a specific R package to display interactive maps. Currently `rgee` only depends on `l

[2021-02-15 23:07] MatthieuStigler opened #129 "Error: unexpected 'repeat': Conflict of ee$Reducer$repeat versus R's reserved repeat?"
I believe there is a conflict between `ee$Reducer$repeat` and R base `repeat`. The problem is that as `repeat` is a reserved word in R, using `repeat` will throw an error: *Error: unexpected 'repeat'*

A simple solution is to quote `'repeat'` like: `ee$Reducer$'repeat'`. This will then work. I guess it will be hard to solve this at the rgee level, so hopefully this post will help people facing the

[2021-02-15 23:30] MatthieuStigler opened #130 "Using `map(function(x)...)` returns error: Evaluation error: argument "x" is missing, with no default."
I am trying to map a simple function over a ee.list, but I get an error *Evaluation error: argument "x" is missing, with no default. *. I am not sure what is wrong? The code works in [javaScript](https://code.earthengine.google.com/44d87376be8c3d71aefd1dec6cd26f23) and python (`li.map(lambda x: ee.Number(x).ceil()).getInfo()`) but no in rgee 1.0.8?

[code]

[2021-02-16 06:34] #124 closed

[2021-02-16 08:51] csaybar commented on #130
Hi @MatthieuStigler
Maybe this post can help:
 - https://r-spatial.github.io/rgee/articles/rgee02.html#the-map-message-error

[code]

[2021-02-16 09:00] csaybar commented on #129
Yes!, unfortunately, this is something that is impossible to solve without making changes to the Python EarthEngine API. The same issue was open here: https://stackoverflow.com/questions/65027506/problems-with-eelistrepeat. Thanks, I will maintain open this issue until I upgrade the documentation.

[2021-02-16 13:25] jobbo90 commented on #128
Ah thanks for the clarification, missed that bit about the update.

A pitty though because mapview seems to have a nice 'clickable' lay-out, especially when there is multiple spatial datasets involved.  For example when I try to plot 2 spatial point datasets over the rgee satellite image, I can't figure out how that works:

mapview(list(stp1, stp2), first) # error: Error in FUN(X[[i]], ...) :
  'o

[2021-02-16 16:17] MatthieuStigler commented on #130
Oh sorry, I missed that post! That solves it, thanks!

[2021-02-16 16:17] #130 closed

[2021-02-20 00:24] javortegar opened #131 "Error in py_call_impl(callable, dots$args, dots$keywords) in ee_Initialize()"
Hi! I just installed rgee succesfully on my Rstudio and I have some troubles when I try to run the ee_Initialize() function, the error was with the next message:

I don't have troubles when I use the functions: ee_check(). ee_check_credentials(), etc... everything is ok with that.

Any suggestion about what I'm doing wrong?
Thanks.

[2021-02-22 19:43] MatthieuStigler opened #132 "ee_as_sf when bands have too long names: more informative warning?"
This is just a small detail, but if band names are too long, using with `ee_as_sf` the default dsn (default to shp), band names will be trimmed (to 10 characters), and in that case, trimming could lead to duplicate band names. This happened to me trying to use `ee_as_sf` with band names *201904_tmmn* and *201904_tmmx* (wide version of Terraclim data). They became both *X201904_tmm*, which trigger

[2021-02-22 20:47] csaybar commented on #132
Hi @MatthieuStigler, thanks a lot  to bring new ideas and always reporting rgee bugs! We really appreciate it.

Honestly, I also don't understand why my past self used a shapefile as a default format (this is really embarrassing). This weekend I will start to solve all rgee bugs and I definitely will start with this thanks! :)

[code]

[2021-02-22 20:59] csaybar commented on #131
Hi @javortegar this is a problem in Python not R.
Upgrade the EarthEngine Python API works?

1. Terminate your R session.
2. Upgrade ee.
[code]
Maybe these links could help.

https://github.com/googleapis/google-api-python-client/issues/1039
https://github.com/gee-community/qgis-earthengine-plugin/issues/67

[2021-02-22 21:13] MatthieuStigler commented on #132
These two lines are actually very useful, thanks!

I am not sure actually why `ee_as_sf` is writing a file, even if `dsn=NULL`? It seems geojsonio::geojson_sf(check_1) is enough?

[2021-02-22 21:29] csaybar commented on #132
Yes! It is. `ee_as_sf` supports three forms to move data from Earth Engine to your local environment: `via='drive'`, `via='gcs'`, and `via='getInfo'`. The two first options will always write a file in your system, and to make everything more homogeneous we gave this functionality also to `via='getInfo'`. When `dsn=NULL` rgee will create a file in your `temp()` folder.

[2021-02-23 01:27] javortegar commented on #131
Hi @csaybar, thanks for your response. Effectively, it was a problem in Python.

Finally, I could find there was a trouble with the version of the package 'six' 1.12.0. I upgraded to the 1.13.0 version that fix a bug related to the message that I was getting.

So, I could use many rgee functions succesfully after that.

Regards and thank you again.

[2021-02-23 04:56] MatthieuStigler commented on #132
I see... I understand the idea of consistency among methods, but for the gDrive/Gcs, the reason for downloading the file is to be able to read it in R after, right? Here it is first read in R, and then written to file, but not re-used by rgee, unless the user wrote down the temp path?

[2021-02-23 16:54] serbinsh commented on #84
I am having the same problem with Python 3.8 on my Mac

[code]

  I have a GEE account as well.  I cant see the solution as I don't have access...any ideas?

[2021-02-23 17:03] serbinsh commented on #84
Some more hacking

[code]

[code]

[2021-02-27 00:02] MatthieuStigler opened #133 "Map$addLayer with same layer name: Error in if (!e2_shown[x]) e2_name[x] else NULL : missing value where TRUE/FALSE needed"
With `rgee` 1.0.8, if one uses `Map$addLayer` with the same layer name, this will trigger an R error: *Error in if (!e2_shown[x]) e2_name[x] else NULL :  missing value where TRUE/FALSE needed*.

This is admittedly not good practice from the user side and not rgee's fault, but maybe rgee could throw a more informative error message?

Example:

[code]

[2021-03-01 23:39] ifeanyi588 opened #134 "how to add features like nighttimelights to my polygon shapefile"
My apologies because I sense this is a trivial question but I am an R programmer but new to GIS analysis. I have a polygon shapefile for Cameroun. I am simply looking to be able to add a variable for night time lights. I know what the indicator in question and from what ImageCollection I'd be getting the data. However, I cant tell which of your tutorials I should be looking at to figure out how to

[2021-03-02 20:30] #120 closed

[2021-03-02 20:39] csaybar commented on #121
Hi @myoung3 now `ee_install_set_pyenv` can set local `.Renviron` files and `rgee` read local `.Renviron` files.

[code]

Please let us know if you persist having problem!

[2021-03-02 20:39] #121 closed

[2021-03-02 20:45] csaybar commented on #126
Hi @MatthieuStigler it took me more time than I expected but now `rgee` supports an OOP-oriented style like Python. We change all the map viz module now **rgee** depends on R6 OOP system

You can see all the examples running `?R6Map`.

[code]

This module has no been tested yet, so if you find a bug please let us know!

[2021-03-02 20:45] #126 closed

[2021-03-02 20:48] csaybar commented on #127
Hi @joshualerickson now `ee_extract` has support to download via `drive` and `gcs` and lazzy evaluation.

[code]

[2021-03-02 20:50] #127 closed

[2021-03-02 21:07] joshualerickson commented on #127
Thanks @csaybar! I'll give it a test in the next few days. Nice addition :)

[2021-03-02 21:24] csaybar commented on #128
I think this way is much better because `mapview` is no the only package that offers support to display interactive maps. Makes that **Map.addLayer** that only depends on `leaflet` and returns a `leaflet` object will increase the interoperability with other geoviz packages like `tmap` for instance.

If you want to display two spatial objects in mapview with an Earth Engine on-the-fly resource in t

[2021-03-02 21:27] csaybar commented on #129
Hi @MatthieuStigler I added a new section in the *consideration* vignette reporting this problem. Thanks :)

[2021-03-02 21:27] #129 closed

[2021-03-02 21:35] csaybar commented on #132
Yes, only for 'drive' and 'gcs' options.

It has a lot of sense that when users set 'getInfo' and do not specify any path in `dsn` the file is not be written. We implemented this in the new dev version, also `ee_as_sf` save by default a GeoJSON instead of a shapefile.

Thanks!

[2021-03-02 21:35] #132 closed

[2021-03-02 21:35] #131 closed

[2021-03-02 21:40] csaybar commented on #133
Good catch thanks.

To avoid this I added a random string in hex to the name. I'm not sure if this is the better approach to deal with this problem ... If you have a better idea let us know!

![image](https://user-images.githubusercontent.com/16768318/109718911-317e1200-7ba8-11eb-969c-786ea4f231cf.png)

[2021-03-02 22:10] csaybar commented on #134
Maybe `?ee_extract` can help:
[code]
![image](https://user-images.githubusercontent.com/16768318/109722082-7d32ba80-7bac-11eb-9412-877c5492152b.png)

[2021-03-03 01:27] ifeanyi588 commented on #134
Thanks so much! This is extremely helpful.

[2021-03-03 18:04] #134 closed

[2021-03-03 22:29] MatthieuStigler commented on #133
nice! I would have eventually just used a `warning("Duplicated layer names, please change one)`. But your solution is even nicer for the user :-)

[2021-03-03 22:30] MatthieuStigler commented on #126
Nice. thanks a lot Cesar! It is great to have rgee follow closely the java and Python implementation!

[2021-03-06 17:37] joshualerickson commented on #128
@csaybar really like the approach you presented. I'm going to change some of my code after reading this issue and encourage people to use your above example to add onto a 'leaflet' map. Thanks!

[2021-03-06 20:55] csaybar commented on #128
We already upload a new version of Map that uses R6 rather than just env. Although It is not properly tested yet.

[2021-03-08 05:46] Bhavani88 commented on #73
I am encountered with this same issue, have you solved it or not?

[2021-03-08 13:53] csaybar opened #135 "ee_manage_create Server Error: must have at least 3 segments and at most 10 segments."
Name "::::" is invalid. The portion of the Asset name following "projects/*/assets/" must have at least 3 segments and at most 10 segments.

[2021-03-09 14:15] michielvandijk opened #136 "UnknownApiNameOrVersion: name: earthengine version: v1alpha"
I just installed rgee for the first time. I followed the instructions in the article provided on the rgee website. I used the latest version of RStudio to refer to the correct Conda file in Project Settings. When I run Initialize() I receive an error after email and Google credentials are set to green. See below for the information on versions, traceback etc.

* rgee version: 1.08
* R version: 4.0

[2021-03-09 15:56] jobbo90 commented on #128
Thanks @csaybar this works like a charm!

[2021-03-09 15:56] #128 closed

[2021-03-09 17:30] jdbcode commented on #136
Hi @michielvandijk - please see https://github.com/google/earthengine-api/issues/157
The issue should be resolved in the next version of the `earthengine-api` library.

[2021-03-09 17:50] csaybar commented on #136
Thanks, @jdbcode to mention it! I didn't know about it :)

[2021-03-09 18:04] jdbcode commented on #136
@csaybar is `rgee` always trying to install the most recent version of the `earthengine-api` library or do you freeze the version in each `rgee` release?

[2021-03-09 19:05] csaybar commented on #136
Hi @michielvandijk to solve the problem just follow the next steps in R:

[code]

[2021-03-10 07:40] Mew-YL commented on #73
I got the same issue, have you solved it?

[2021-03-11 01:46] taitlw commented on #73
Has there been any development on this problem? I am having the same issue. I can manage to get one step closer and add the sign-in code for GEE, but the same error message pops up. I had rgee working two days ago, but now can't get past the first step!

[2021-03-15 09:37] khouakhi opened #137 "Knit R markdown with rgee code to html"
I can't see where to input the gee credentials when trying to knit an R Markdown with rgee code. The gee Authenticator web page pops up but not sure where to paste the code.

Here is the R Markdown error I got:
[code]

[2021-03-22 13:45] Lvulis opened #138 "ee_check() crashes RStudio (but not R)"
* rgee version: 1.09
* R version: 4.0.3
* Operating System: Windows 10 Pro, Build 19041

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) conf

[2021-03-23 05:36] MichaelTD83 opened #139 "ee_initialize - Google Drive credentials:Error: Can't get Google credentials"
* rgee version: 1.0.9
* R version: R version 4.0.4 (2021-02-15)
* Operating System: Windows 10 x64

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
The first time I ran this it said
[code]
pretty sure I'm doing something wrong here though because after restarting Rstudio I now get a different file

[2021-03-23 08:50] LBautistaB13 commented on #137
Hi @khouakhi sorry for the late response. Is it not possible to authenticate `rgee` with Rmarkdown. Please, authenticate your Google Earth Engine account in an R console, it is just necessary once, after that you will not have a problem when you initialize Google Earth Engine with Rmarkdown.

[2021-03-23 08:57] LBautistaB13 commented on #138
Hi @Lvulis thanks for opening this issue. `ee_check`  is a simple function that uses the `reticulate` package to test your Python connection. Can you show us where the errors appear?:

[code]

Thanks!

[2021-03-23 09:56] khouakhi commented on #137
Tried to `ee_clean_credentials()`  and then `ee_Initialize()` from the console but got the same issue when using the RStudio's "Knit" button however, what worked is `rmarkdown::render('rmd_file .Rmd') ` from the console.

[2021-03-23 09:59] LBautistaB13 commented on #139
Hi @MichaelTD83 for open this issue :) and sorry for the inconvenience. It is a weird bug I try to reproduce this error but with no success. Maybe I can explain a bit what `ee_Initialize` does internally ... there are three main functions: `rgee:::ee_create_credentials_drive`,  `rgee:::ee_create_credentials_gcs`, `rgee:::ee_create_credentials_earthengine` each of them try to retrieve and initializ

[2021-03-23 10:03] LBautistaB13 commented on #137
Thanks, can you show us what your R console display after running this:
[code]
Share the `traceback()` is really appreciated!

[2021-03-23 10:28] khouakhi commented on #137
Now it works: after `library(rgee)` and `ee_Initialize()` from the console, I restarted the R session. The `ee_Initialize()` needs to be within the Rmd code after the first initialization from the console. I think you can close the issue - thanks

[2021-03-23 13:52] Lvulis commented on #138
My python skills are non-existent so thank you for the code. As I noted it appears to be an RStudio to Python issue, not an R to Python issue! I regularly use reticulate w/o issues for image processing packages.

[code]

I started a new Rstudio session and tried explicitly calling the conda environment I use and it can find ee. Then ee_check also doesn't fail or cause RStudio to crash. Maybe the d

[2021-03-23 14:41] MichaelTD83 commented on #139
Yes, I there actually two files there ending in my .edu email address (The file type is also listed as EDU file if that makes a difference). There are also several other files and folders there including a .json, credentials.

[2021-03-23 19:13] LBautistaB13 commented on #138
Hi @Lvulis that for clarifying it.

The best option to use rgee or the earthengine-api is to install miniconda. I think everything will work smoother.

[code]
Unfortunately, I can reproduce the problem but it seems it is a common problem between anaconda and Rstudio. https://community.rstudio.com/t/rstudio-crashes-with-using-python-reticulate/55210/5

[2021-03-23 19:31] LBautistaB13 commented on #139
Hi Michael thanks, just to be sure can u share with us, the result of running this.

[code]

[2021-03-23 19:40] Lvulis commented on #138
Yikes! OK. Good to know... Thank you for developing this **wonderful** package and managing such issues.

[2021-03-23 21:44] MichaelTD83 commented on #139
Here are the results.
[code]

[2021-03-23 22:12] LBautistaB13 commented on #139
I think I finally caught the bug :bug: :smile:.

It seems your account has a double credential for google drive. This is a really strange case, see:

[code]

To fix this bug, just run:

[code]
We will add some extra messages for this in the next release thanks!.  Please let us know if the problem continues.

[2021-03-23 22:13] LBautistaB13 commented on #138
thanks @Lvulis  for your words of encouragement we will try to bring rgee v.1.0.9 to CRAN soon :)

[2021-03-23 22:24] MichaelTD83 commented on #139
Thank you! I just had to go download my service account key (SAK) again and it was good to go.

[code]

[code]

[2021-03-23 22:24] #139 closed

[2021-03-24 07:13] #138 closed

[2021-03-24 07:14] #137 closed

[2021-03-24 14:48] paanwaris opened #140 "How to remove a cloudy scene ?"
I'm new in rgee package so I want to remove the scene when it have a cloud (more than 10 percentage)
to create smooth animation.

Thank you for your guidance
![raster_as_ee](https://user-images.githubusercontent.com/81313703/112330489-aa294780-8cea-11eb-9e73-0a2d8c33a761.gif)

[code]

[2021-03-25 14:52] egbendito opened #141 "Error in browseURL(url): 'browser' must be a non-empty character string"
* rgee version: 0.1.248
* R version: 3.6.3
* Operating System:
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.4 LTS
Release:        18.04
Codename:    bionic

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):

- [x] You can find the credentials file on your system:

- [ ] You can run a simple EE

[2021-03-25 19:06] LBautistaB13 commented on #140
Hi @paanwaris  we will happy to help on this task but can u share with us a reproducible example adding the geometry (Boundary) and check the variable `rgbVis`. Thanks

[2021-03-25 19:16] csaybar commented on #141
Hi @egbendito this is possible but not secure. The idea is copy your Google Earth Engine credentials available on this folder.

[code]

You can use other computer (with GUI) to download the credentials, after that save the credentials in, for instance, Google Drive and using Curl download/save the credentials to your system with non-GUI. But remember if someone have access to your EE credentials t

[2021-03-26 02:34] paanwaris commented on #140
@LBautistaB13
This is my boundary (Shapefile)
Thank you for your help
[Boundary_Lat_Lon.zip](https://github.com/r-spatial/rgee/files/6208964/Boundary_Lat_Lon.zip)

[2021-03-26 09:03] pdbentley opened #142 "calculating percentile using ee_extract"
Hi, I am trying to calculate percentiles using the ee_extract function; below is a working example of what I thought it would look like. The code works for means, but not for percentiles. Are percentiles currently supported? or is there a different setup? The code below runs without generating any errors, however no values are returned for percentiles. Thanks in advance.

[code]

[2021-03-26 09:47] csaybar commented on #140
Hi @paanwaris maybe you can take a look to https://geemap.org/notebooks/18_create_landsat_timelapse/. Here a reproducible example:

[code]

[2021-03-26 09:54] csaybar commented on #142
Hi @pdbentley thanks for opening this issue. ee_extract only supports ee$Reducer that return one value. Sorry we don't considerate the possibility that  `ee$Reducer$percentile` can return just one value, we will fix this problem soon. But for now this small change in your code should solve your problem.

[code]

[2021-03-28 14:57] egbendito commented on #141
Hi @csaybar thanks for the reply! I was wondering if you know whether it is possible to emulate [this method](https://github.com/google/earthengine-api/blob/97343cb94ad4e73b7d0f7276f2594e08177d85aa/python/ee/oauth.py#L174) using the Python API for Google Earth Engine.

I have not found a way to print hyperlinks to the R console, but maybe something like below in ee_create_credentials_earthengine()

[2021-03-29 07:10] paanwaris commented on #140
@csaybar Thank you for your information, but this code is about mask the cloud not cut the scene that have cloud.
So I want to put only clear cloud (less than 10 percentage) to show time series that clear cloudy scene.

like this .gif, but I want to choose NDVI with Landsat 8.
![77121867-203e0300-6a34-11ea-97ba-6bed74ef4300](https://user-images.githubusercontent.com/81313703/112799276-575be100-909

[2021-03-30 03:18] pdbentley opened #143 "ee_extract and mosaic tiles for the same date - reproducible example"
Hi, I have a question regarding ee_extract and values returned for regions of interest which cover multiple tiles.

In the example below, when using ee_extract, the region of interest overlaps two tiles on the same date -  how do you return just a single value for that date?  I've looked though the examples online, but wasn't sure if there is an existing command for this, or some variation of usin

[2021-03-30 07:43] csaybar commented on #141
Thanks @egbendito you right I think currently this part is only friendly with Rstudio and users with GUI, we will make some changes in the next release of rgee to suport colab and Rbase users. You can display the verification link as follow:

[code]

[2021-03-30 09:02] egbendito commented on #141
Great! Sounds like a good solution! for authentification in non-GUI remote servers. I am trying to get it to work on a case like this.

I was reading on the [`gargle`](https://gargle.r-lib.org/articles/non-interactive-auth.html#sidebar-1-deployment) package, and indeed in fully non-interactive contexts [your solution above](https://github.com/r-spatial/rgee/issues/141#issuecomment-807315952) is th

[2021-03-30 10:46] csaybar commented on #143
Hi each column have the id of the image not the date, in this case just return one value because the other image don't have any value, see `Map$addLayers`

[code]
![image](https://user-images.githubusercontent.com/16768318/112977044-e24ee100-9155-11eb-94b8-12085e95dc09.png)

[2021-03-31 05:09] RussellGrayxd commented on #73
I am having the same issue. I have used rgee with no problem in the past and now I can't even get past the first steps of initialization. Can someone please respond to the issue?

[2021-03-31 05:26] RussellGrayxd commented on #73
I managed to fix it... if you're passing the check but not the initialization, its a credential error and not a Python error, even though the error tracebacks are making it seem as if it is.

Simple run:

# clean credentials
ee_clean_credentials()
# initialize earth engine
ee_Initialize()

Re-sign in with your rgee associated gmail once you initialize and it will work again

[2021-03-31 08:35] RussellGrayxd opened #144 "rgee functions don't exist anymore????"
* rgee version:1.0.8
* R version: 4.0.3
* Operating System: Windows 10

### Description

Trying to run functions from several different tutorials. I expected them to work.

### What I Did
They did not work. All of them say the functions are not part of the rgee namespace. There is no indication anywhere that they were deprecated

[code]

[2021-03-31 10:59] LBautistaB13 commented on #144
Hi @RussellGrayxd we will encourage you to use `Dataset` module. We believe it is easier to use.

[code]

[2021-03-31 11:08] RussellGrayxd commented on #144
Thanks for letting me know. However, if the former functions were deprecated it would be helpful if you could make that note on the rgee pages with the updates, I searched for any mention of function deprecation and there was nothing. The vast majority of tutorials use this chunk of code (many of which are on the rgee csaybar website) so they could be very confusing to those who don't know these f

[2021-03-31 11:12] LBautistaB13 commented on #144
![image](https://user-images.githubusercontent.com/54723897/113135693-b3eb0780-9222-11eb-8041-72d04f28315d.png)

[2021-03-31 11:35] csaybar commented on #144
Hi @RussellGrayxd deeply sorry for the inconveniences, we are planning to upgrade the documentation soon, we had to delete the `ee_search` module because it needs to create constantly a file on their system and  this is against [CRAN's policies](https://cran.r-project.org/web/packages/policies.html).

I will close this issue but let us know if you have some ideas for improving the EarthEngine Cata

[2021-03-31 11:35] #144 closed

[2021-04-04 11:15] leeyounguni commented on #73
please add proxy setting command of R before  initialization ,
Sys.setenv(http_proxy='http://127.0.0.1:1080')
Sys.setenv(https_proxy='http://127.0.0.1:1080')

[2021-04-06 11:49] egbendito commented on #141
Using the [above](https://github.com/r-spatial/rgee/issues/141#issuecomment-808908199) code into [`ee_Initialize()` line 307](https://github.com/r-spatial/rgee/blob/868681b2e5eeba73b446c890cd4b44956201f58b/R/ee_Initialize.R#L307), I managed to save and store the credentials interactively in a non-GUI remote server. It could be a solution(?).

Moving on, I realized that linking GDrive is also linke

[2021-04-07 13:22] StephHerb commented on #117
Hi - I am trying to use ee_extract to extract mean values from an ee$Image using an ee$FeatureCollection as the geometry.

`ee_extract(x=image,y=FeatureCollection,fun = ee$Reducer$mean(),scale=100)`

And I get: Error in eval(lhs, parent, parent) : object 'sf_y' not found

Any ideas? Thank you.

[2021-04-07 13:44] LBautistaB13 commented on #117
Hi @StephHerb did u try the dev version?

[code]

[2021-04-07 16:41] ambarja opened #145 "How can I to get all bands in an image to the same resolution size ?"
Hi @csaybar in the moment I'm tying to create a new dataset with different variables and my question is the How can I to get all bands with the same size resolution?

In stackoverflow I fond an issue similar [issue](https://gis.stackexchange.com/questions/316596/how-can-i-resample-a-image-or-imagecollection-to-a-higher-resolution-in-google-e)

* rgee version: 1.0.8
* R version: 4.0.2
* Operating S

[2021-04-07 17:07] jdbcode commented on #145
You can set all bands to a specified scale and crs using [`reproject`](https://developers.google.com/earth-engine/guides/projections#reprojecting). Consider the [resampling](https://developers.google.com/earth-engine/guides/resample#resampling) method when you apply it.

Note that often reprojecting is not necessary though because most exporting and analysis functions like reductions provide `scal

[2021-04-07 22:42] ambarja commented on #145
Thanks @jdbcode  , recently I created a function with reproject and  scale,  afther it was applied to dataset with the bands of size different , now the output have 30 meters.
Is this correct ? :thinking:
**This is my code:**

[code]
[code]
[code]

[2021-04-08 12:29] csaybar commented on #145
Just a curious, why do you need to rescale all the bands to the same spatial resolution? : 3

[2021-04-08 12:38] csaybar commented on #141
Hi @egbendito, this is a common problem  in Docker environments. I think the easiest way is to copy manually all your credentials to the path:

[code]

`GEE` and `Google Drive` use a previous OAuth2 authorization to get the respective credentials (token). However if you have your credentials somewhere you can just copy in the path above. and `rgee` or the `earthengine-api` will work. Does it have

[2021-04-08 13:07] ambarja commented on #145
Excellent question, I want to create an environmental index using a PCA with Modis and Landsat data.

[2021-04-08 14:55] csaybar commented on #145
As @jdbcode comment you don't need to change the scale, See [https://developers.google.com/earth-engine/guides/scale](https://developers.google.com/earth-engine/guides/scale)

[2021-04-08 15:04] ambarja commented on #145
I nderstand, I thought it was necessary to have aligned each pixel with the same resolution, thank you very much for the answer and the comments, I promise to read your references. :nerd_face:

[2021-04-08 15:04] #145 closed

[2021-04-08 23:52] StephHerb opened #147 "RESOLVED --> package or namespace load failed for ‘rgee’ in get(Info[i, 1], envir = env): lazy-load database 'C:/Users/s/Documents/R/win-library/4.0/rgee/R/rgee.rdb' is corrupt"
* rgee version:
* R version: 4.04
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal): Error: object 'earthengine' not found
[code]
``Error: object 'earthengine' not found```

- [ ] You can find the credentials file on your system:
[code]
[code]

Attach your Python (retic

[2021-04-08 23:55] StephHerb commented on #147
When I try to install sf, reticulate, and remote and go through the process of re-installing rgee I also keep getting this error. Thank you!

"Error in py_call_impl(callable, dots$args, dots$keywords) :
  Evaluation error: Unable to access object (object is from previous session and is now invalid).
Error in py_call_impl(callable, dots$args, dots$keywords) :
  Evaluation error: Unable to access ob

[2021-04-09 00:10] StephHerb commented on #147
I was able to re-install rgee and run R without any errors by switching to R-3.6.3, clearing the cache, and re-installing rgee. I hope that helps anyone else who experiences this issue in the future. Thank you!

[2021-04-09 00:11] #147 closed

[2021-04-14 19:56] LBautistaB13 commented on #147
Thanks for reporting @StephHerb :)

[2021-04-19 01:52] kongdd opened #148 "discrete legend is needed"
discrete legend is needed
[code]
![image](https://user-images.githubusercontent.com/9815742/115171104-dfac2f80-a0f4-11eb-987b-bbbeb454013c.png)

[2021-04-19 02:07] kongdd commented on #148
[code]

[2021-04-23 09:34] csaybar commented on #148
Hi, @kongdd  sorry for the late response.

This is something that I forgot to implement 😖. Thanks for the reminder. I will try to do it this weekend!

[2021-04-23 09:36] kongdd commented on #148
Thank you

[2021-04-28 06:31] kongdd opened #149 "dollar to dot"
Whether is it possible to change `$` to `.`. In this way, GEE JavaScript scripts can be used in R seamlessly.

[2021-04-28 22:20] spittssj opened #150 "rgee has problems with 64-bit integers"
* rgee version: 1.0.9
* R version: 4.0.3
* Operating System: MacOS X 11.2.3

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You have the Python API installed (from terminal):
[code]

- [X] You can find the credentials file on your system:
[code]
- [X] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[2021-04-28 22:55] csaybar commented on #150
Hi @spittssj, happy to see that `rgee` is useful :). You are right, `datetime` Python and R conversion is a problem, we talk about this [here](https://r-spatial.github.io/rgee/articles/considerations.html#be-careful-with-eedate).

You can solve your problem as follow:

[code]

[2021-04-28 23:11] spittssj commented on #150
My fault. I just started using `rgee` this morning and I have not had a chance to peruse all of the documentation because I have been too busy using it! I will continue to read through the documentation.

Do you have any interest in putting it on conda-forge? I use conda to manage my R installation because in the conda environment (r_geospatial) R, python, and my whole geospatial toolchain (like P

[2021-04-28 23:11] #150 closed

[2021-04-29 05:06] csaybar commented on #148
Hi I added a new feature to Map (Map$addLegend). In the next version of rgee (v.1.1.0) `legend` Map$addLayer argument will be deleted.

[code]

[2021-04-29 05:15] csaybar commented on #150
Hi @spittssj I never heard about conda-forge, but it has a lot of sense to me. I promise to put effort to make this happen in rgee v.1.1.0. I'm really happy you find rgee useful for your research :). The sync PostGIS + rgee sounds quite interesting! :rocket:

Muchas gracias por los saludos :D

[2021-04-29 05:18] csaybar commented on #149
Unfortunately, `rgee` depends on reticulate. The Python modules are transformed to R environments so this change goes against R syntax.

[2021-04-29 05:18] #149 closed

[2021-04-30 04:42] kevinhawkshaw opened #151 "numpy not installed error"
* rgee version: 1.09
* R version: 4.0.3
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
FALSE

- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[2021-04-30 08:04] csaybar commented on #151
Hi @kevinhawkshaw, we are sorry that you have problems installing `rgee`.

It seems that your conda env does not have installed `numpy`. Therefore no just `rgee` but also `reticulate` should not work.
Can you run the code below and copy the results to be sure of this?

[code]

[2021-04-30 15:47] kevinhawkshaw commented on #151
Hi there, thanks for your help. Here's what I get:

`> library(reticulate)

Error in py_module_import(module, convert = convert) :
  ModuleNotFoundError: No module named 'version'

Detailed traceback:
  File "C:\Users\kevin_000\Documents\R\win-library\4.0\reticulate\python\rpytools\loader.py", line 39, in _import_hook
    module = _import(
  File "C:\Python27\ArcGIS10.2\Lib\site-packages\numpy\__i

[2021-05-01 01:15] kongdd commented on #148
Awesome work. Thank you. I will have a try

[2021-05-01 08:27] csaybar commented on #151
It seems that your ArcGIS Python2 has conflicts with your conda rgee ENV (numpy). This problem should occur also in Python, not just in R. https://gis.stackexchange.com/questions/609/will-arcgis-desktop-support-latest-python-2-x-or-python-3-x-versions#697

@ryali93 any idea to solve this? You mention me this problem one time. How can I call python Env in Windows?

[code]

or

[code]

[2021-05-01 18:08] ryali93 commented on #151
Hi @kevinhawkshaw ,
It is possible that your problem is because you have more than one python installed and reticulate is calling another python by default. I recommend that, first of all, delete environment variables related to python, especially the Rstudio one "C:\Users******Documents.Renviron".
Otherwise, also delete the r-miniconda folder, including all created envs, and try to install again.

[2021-05-01 21:07] kevinhawkshaw commented on #151
Hi @ryali93 ,
I did as you said, deleting the environmental variables and then reinstalling rgee. Here's the output

------------------------------------- Python configuration used to create rgee --
python:         C:/Users/kevin_000/AppData/Local/Programs/Python/Python39/python.exe
libpython:      C:/Users/kevin_000/AppData/Local/Programs/Python/Python39/python39.dll
pythonhome:     C:/Users/kevi

[2021-05-01 21:24] kevinhawkshaw commented on #151
I also tried using both versions of use_python() that @csaybar mentioned prior to calling ee_check(), but that does not work. Still "numpy not installed"

[2021-05-01 21:56] csaybar commented on #151
@kevinhawkshaw Did you try removing the ArcGis Python from `%PATH%` variable?

https://github.com/r-spatial/rgee/issues/56#issuecomment-621948126

[2021-05-02 00:16] kevinhawkshaw commented on #151
there is no reference to the ArcGIS python in my Path. Only Python 3.9, which is what I want to use.

here are the contents of my .Renviron

EARTHENGINE_PYTHON="C:\Users\kevin_000\.conda\envs\rgee\python.exe"
EARTHENGINE_ENV="rgee"

numpy does exist within that rgee folder, as does earthengine-api, i.e., the rgee installer seems to have worked, i just can't access it.

i tried fully removing the A

[2021-05-02 12:10] csaybar commented on #151
hi @kevinhawkshaw!. Can you share your `PATH`, it will help us to try to reproduce the error.

[code]

Are you sure if you deleted ARCGIS Python 2.7 still not working?

[code]

[2021-05-02 12:50] ryali93 commented on #151
Have you installed python 3.9 by conda?  Remove all of conda from your environment variables and try removing the .Renviron file as well.

[2021-05-02 19:55] kevinhawkshaw commented on #151
[1] "C:\\Program Files\\R\\R-4.0.5\\bin\\x64;C:\\ProgramData\\Oracle\\Java\\javapath;c:\\Rtools\\bin;c:\\Rtools\\gcc-4.6.3\\bin;C:\\Program Files (x86)\\Intel\\iCLS Client\\;C:\\Program Files\\Intel\\iCLS Client\\;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\Program Files\\Intel\\Intel(R) Management Engine Components\\DAL;C:\\Pr

[2021-05-05 14:50] csaybar commented on #151
Hi @kevinhawkshaw I give up let me know when you have time to a zoom call, maybe we can solve the problem together csaybar@gmail.com

[2021-05-07 19:14] alanfalcaothe commented on #139
Hello everyone. I am new to programming in R and am trying to execute a R code where I access the google drive and the google earth engine. However, two situations are happening: first on my personal laptop at home I run the code and it works perfectly and doesn't even open a browser to ask for access permission.
While in the second case, when I use the remote desktop connection and access the com

[2021-05-10 14:11] alanfalcaothe opened #152 "Erro in credentials googledrive and google earth engine."
Hello everyone. I am new to programming in R and am trying to execute an R code where I access google drive and the google earth engine. However, two situations are happening: first on my personal laptop at home I run the code and it works perfectly and doesn't even open a browser to ask for access permission.
While in the second case, when I use the remote desktop connection and access the compan

[2021-05-11 03:50] MichaelTD83 commented on #139
@alanfalcaothe I am pretty new at this myself but if you tried the above and it didn't work, then if you haven't already I would suggest would be to update R, Rstudio, and all of your packages on both computers and then try it again. Part of my problem was that I had different versions of several applications and packages on my two computers.

[2021-05-11 14:22] ifeanyi588 opened #153 "How to pull ee.ImageCollection("COPERNICUS/Landcover/100m/Proba-V-C3/Global")"
When I try to pull any or all of the coverfractraction types as an image collection, I get the following error:

**ERROR in Earth Engine servers: Image.reduceRegions: Need 1 bands for Reducer.mean, image has 0.
Error in ee_monitoring(task) :
ee_monitoring was forced to stop before getting results**

However, I was able to pull the data for all coverfractractions about a six weeks ago with the same

[2021-05-12 15:27] csaybar commented on #152
Hi @alanfalcaothe it does not look like a problem with `rgee`. It seems like `googledrive` cannot direct you to a web browser to get the GD credentials via your remote desktop connection (although I'm not sure).

Are you take a look at this?
https://github.com/tidyverse/googledrive/issues/325

I'm afraid that the only way to solve this problem is to copy manually your credentials in:

[code]

[2021-05-12 15:36] csaybar commented on #153
Hi @ifeanyi588 it seems that your `s5p_collect` ImageCollection does not have any image. Can you confirm it?

[code]

[2021-05-12 16:05] ifeanyi588 commented on #153
No but "COPERNICUS/Landcover/100m/Proba-V-C3/Global" is the image collection which is what is being used as gee_dataname. Am I missing understanding your question?

[2021-05-12 16:20] csaybar commented on #153
Hi @ifeanyi588, yes but when your filter IC using `filterBounds` and `filterDate` it seems that the result is zero images

[2021-05-12 16:50] ifeanyi588 commented on #153
Yes, which used to work but stopped working about a month or so ago. I pulled polygon level mean indicator values for the 9 bands within the specified image collection. Do you know why this might be happening?

[2021-05-12 16:53] ifeanyi588 commented on #153
Here is the link I am following imagecollection and bandnames: https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_Landcover_100m_Proba-V-C3_Global

It is possible that those band names are no longer in use. I just want to be sure my code is not wrong because the same function pulls me polygon level means for NO2 emissions, Night Time Lights and several other image collection ty

[2021-05-12 17:07] csaybar commented on #153
Hi @ifeanyi588 I can make a fast checking if you share with us your polygon, to make readable your polygon use:

[code]

[2021-05-12 17:34] ifeanyi588 commented on #153
My apologies but how do I send you the files we are using?

[2021-05-13 02:16] csaybar commented on #153
Hi @ifeanyi588 just share with us the name of your asset. For instance,

[code]

[2021-05-14 16:05] lalgonzales opened #154 "Error sf_as_ee GCS: ERROR in Earth Engine servers: Could not unzip file"
* rgee version: 1.0.9
* R version: 4.0.5 (2021-03-31)
* Operating System: Windows 10 x64 (build 19042)

### Description

I am trying to run sf_to_ee, and I get the following results:

The code was:
[code]

The code results was:

Thanks for your answers

[2021-05-15 11:55] csaybar commented on #154
Hi @lalgonzales

It seems to be a bug on the server-side.
It was reported in GoogleEarthEngin devs:
https://groups.google.com/g/google-earth-engine-developers/c/ybvaS_pwgTg

[2021-05-15 16:19] lalgonzales commented on #154
Thanks, @csaybar, i will follow the discusion, it seems the bug continue.

[2021-05-17 14:02] ifeanyi588 commented on #153
Oh sorry for my silence, here it is

asset_boundary <- "users/ifeanyiedochie/sous_prefectures"
asset_polygons <- "users/ifeanyiedochie/gin_poly"

[2021-05-17 16:42] jimoreira opened #155 "equivalent for 'require' used in gee"
Can i use a code stored in .js file?, in this opportunity on my own repositories.

in javascript would look like
`var LandsatLST = require('users/javiermoreira/lstsofiaermida:modules/Landsat_LST.js')
`
i ask this about an year ago, trying to use ee_manage_asset() and already been answered that was the wrong solution.
Perhaps there are some new developments to be able to use this .js files.
many th

[2021-05-19 14:20] dariovanderlinden opened #156 "Extracting data from within a band"
### Description

Using the Hansen Global Forest Change v1.8 (2000-2020) [dataset](https://developers.google.com/earth-engine/datasets/catalog/UMD_hansen_global_forest_change_2020_v1_8#bands) on Google Earth Engine, I would like to visualise the 'lossyear'. band. Simply adding a map layer with a two-tone colour palette gives one image layer with the yearly data varying by colour (see code below). I

[2021-05-19 19:39] alanfalcaothe commented on #152
hello, thanks for responding and trying to help.
I am very frustrated about that.

I've looked at questions on googledrive, gargle, tydiverse and rgee. Nobody can solve it.
I installed curl and httr and it didn't work either.

tidyverse/googledrive/issues/328
r-spatial/rgee/issues/152
r-spatial/rgee/issues/139
r-lib/gargle/issues/177
tidyverse/googledrive/issues/276

[2021-05-20 00:20] csaybar commented on #156
Please upgrade rgee 1.0.9.999

[code]

![image](https://user-images.githubusercontent.com/16768318/118900705-e4414f00-b911-11eb-878d-2363e37a8c03.png)

[2021-05-20 00:53] csaybar commented on #155
mmm, I think this feature is possible but will not work well for all the cases. Let see what we can do on the next releases :)

[2021-05-24 01:25] Leprechault opened #157 "Bug with files not saved in the container or directory"
Hi Everyone!!

I'm using the last version on `rgee` inside a Google Compute Engine virtual machine and in my case I do:

[code]
Hello my "f-cmpc-s2" container and looks like ok in `Successfully auto-authenticated` and `GCS credentials` , but if I try to download the images:

[code]

Always the error output is:

[code]

I give all the privileges in the Google Storage to `gcs-auth-file@fc-vm-v1.iam.

[2021-05-24 09:41] dariovanderlinden commented on #156
Thank you, this works great!

[2021-05-24 14:03] dariovanderlinden commented on #156
Hi,

Thanks for your comment. I tried it last week and everything was working perfectly. However, I ran the code again today and some errors came up even though I did not change anything. Here is the code:

[code]

And I get the following errors:
1. After creating m1 and m2

[code]

2. After creating the legend:

[code]

[2021-05-29 15:28] csaybar commented on #156
Hi @dariovanderlinden did you upgrade to the newest version?

[code]
![image](https://user-images.githubusercontent.com/16768318/120075628-67953a00-c0a2-11eb-8fca-ed49d51e3d45.png)

[2021-05-29 15:33] csaybar commented on #157
Hi @Leprechault did you follow this tutorial? Looks like your google account does not have privileges to use the service account key. https://github.com/r-spatial/rgee/tree/help/gcs/

![image](https://user-images.githubusercontent.com/16768318/120076000-e9399780-c0a3-11eb-97bd-f62ed14a99d5.png)

[2021-05-31 00:39] #157 closed

[2021-05-31 00:39] Leprechault commented on #157
Thanks @csaybar !!!

[2021-05-31 00:48] Leprechault opened #158 "keras doesn't work with rgee despite ee_install_set_pyenv()"
He Everyone!!!

I try to install without success `keras` and `rgee` for nn regression use in the imagery data set. In my example:

[code]
Sounds Ok, but if I try to open my `keras` saved models:

[code]

and If I restart R and call the models first:
[code]
load my models now is Ok, but the `rgee`  doesn't work:

[code]
Please, how can I fix it?

[2021-05-31 15:32] csaybar commented on #158
Hi @Leprechault, please let me know if the code below works

[code]

[2021-05-31 17:56] Leprechault commented on #158
Thanks, @csaybar problem solved!!!

[2021-05-31 17:56] #158 closed

[2021-05-31 18:06] Leprechault opened #159 "Topographic correction in S2_SR imagery: help with GEE native function"
Hi Everyone!!

I'd like to create an r function for topographic correction in S2_SR (BOA)  using the NASA SRTM Digital Elevation 30m for DEM. I find some steps in GEE native function (`https://mygeoblog.com/2018/07/27/sentinel-2-terrain-correction/`), but my idea is to translate to r as `topoCorr_IC_L4toL8` function. Please, I need some help and ideas for the code modification. In my example the c

[2021-06-01 12:12] giacfalk opened #160 "ee_as_sf(): preserve attributes but drop geometry"
I am often using rgee::ee_as_sf() to convert a GEE FeatureCollection into an sf dataframe. However, when the FeatureCollection is large or its geometries are complex, the operation becomes time-intensive and sometimes it fails because the size of the geoJSON is too large. Is there a way to drop the geometry column in advance and only require from the API the numerical attributes of the FeatureColl

[2021-06-01 17:43] ambarja commented on #160
Hi @giacfalk an alternative solution is to use the function to simplify of sf package, but this should preserving the geometry topology, this using `st_simplify()` with `preserveTopology= TRUE` argument , another solution is to load the geometry by **Google Earth Engine** and read from R with `ee$FeatureCollection()`.
Here is a reproducible example :point_down:

[code]

141.4 Kb

124.3 Kb
[code]

[2021-06-01 18:51] csaybar commented on #160
Hi @giacfalk let me know if this code works for you!

[code]

[2021-06-01 18:55] csaybar commented on #159
Hi @Leprechault  maybe you can take a look at the best practices vignettes. Like Topographic correction is an intensive task
you must export intermediate results to avoid “Computed value is too large” errors.
 https://r-spatial.github.io/rgee/articles/rgee03.html#export-intermediate-results

[2021-06-02 11:56] pdbentley opened #161 "Question - implementation of landtrendr"
Hey, great package.

Wondering if is is possible to implement the algorithm for landtrendr through rgee at this stage?

https://developers.google.com/earth-engine/apidocs/ee-algorithms-temporalsegmentation-landtrendr

If so, a simple worked example would be much appreciated.

Regards,

Paul

[2021-06-02 22:24] jdbcode commented on #161
You should be able to run LandTrendr using rgee. I've started a simple demo of it. I'll share it here when it is complete (likely within a week).

[2021-06-03 09:55] giacfalk commented on #160
Thanks for your reply @csaybar !

I tries your code, but I get the following error

`ERROR in Earth Engine servers: Shapefiles require exactly one geometry column, found none.
Error in ee_monitoring(task = table_task, quiet = quiet) :
  ee_monitoring was forced to stop before getting results`

[2021-06-10 15:57] coverton-usgs commented on #160
I just received the same error -
Also when using
[code]

When I try a local save:
[code]
I get
[code]

Also with Map() I get - Error: 'addCopyExtent' is not an exported object from 'namespace:leafem'
That may be a different issue though, and I am happy to submit a separate issue if requested
[code]

[2021-06-10 16:16] csaybar commented on #160
Hi @coverton-usgs I'm not able to reproduce this error, could u try updating to the latest version `rgee`  and `sf`:

[code]
Please let us know if the problem persists.

[2021-06-10 23:01] csaybar commented on #160
Hi @coverton-usgs I think the problem is that your `leafem` version is a very early one. rgee needs `leafem::addCopyExtent` to create the basemap. Upgrading `leafem` should solve the problem.

your version: 0.0.1
current version: 0.1.6

[2021-06-11 14:15] dariovanderlinden commented on #156
Yes I have, unfortunately still not working!

[2021-06-15 22:08] #63 closed

[2021-06-15 22:08] csaybar commented on #73
@leeyounguni should solve the problem

[2021-06-15 22:08] #73 closed

[2021-06-29 07:34] spoonerf commented on #84
I am having the same issue as @serbinsh, using Python 3.8 on Mac Big Sur. Is there a workaround for this issue?

[2021-06-30 18:21] silcordero opened #162 "EEException: GeometryConstructors.Rectangle, argument 'coordinates': Invalid type."
* rgee version: 1.0.9.999
* R version: R-4.0.5
* Operating System: WIN10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):

I have Python 3.9.5

- [ ] You can find the credentials file on your system:

The operation indicated FALSE. However, I have an active GEE account and wile running _ee_Initiali

[2021-06-30 18:31] csaybar commented on #162
Hi @silcordero! Can you try the code below?. Thanks

[code]

[2021-06-30 18:35] csaybar commented on #84
Hi @spoonerf can you share more information about your system.

- Python (reticulate) configuration.
- rgee version.

We would love to help you with your issue :). Please open a new issue, this one was made in an very early version on rgee

[2021-06-30 18:35] #162 closed

[2021-06-30 18:37] silcordero commented on #162
Thank you! It worked. I still have a lot to learn but I am enjoying the package

[2021-07-04 08:57] philament opened #163 "ee_imagecollection_to_local() cannot renew Google drive credentials"
I am using `ee_imagecollection_to_local()` to download 3 years of images for a small spatial subset of S2 imagery (a few hundred images total).

In essence I am running this code (let me know if you need a reproducible example but aoi and date range are probably not relevant for this):
`s2_l1c = ee$ImageCollection('COPERNICUS/S2')$filterDate(start_date,end_date)$filterBounds(aoi)$map(ee$Image$toUi

[2021-07-04 10:36] ambarja commented on #163
Hi @philament  is possible to show me your info about user , for example:
[code]

[2021-07-07 06:23] philament commented on #163
The problem seems to have resolved itself now on my end by re-installing rgee and re-initalizing. I will close the issue for now but might re-open if it occurs again.

[2021-07-07 06:23] #163 closed

[2021-07-07 18:42] Leprechault opened #164 "Don't download images parcially cropped"
Hi Everyone,

I used the code below for BOA not shadows or cloud in Sentinel-2 images:

[code]

But some images are partially cropped, like:

![image](https://user-images.githubusercontent.com/17205267/124811582-9cfa3680-df30-11eb-8a0f-49ffde765b41.png)

I'd like to know why this happenss and if it's possible to create some rule for not download these incomplete images?

Thanks in advance,

Alexan

[2021-07-12 20:46] kevinhawkshaw commented on #151
just to follow up on this complicated story, it seems like I have solved my problem. The issue does appear to be that rgee/reticulate was picking up the python installation used for ArcGIS. While that version was not in my PATH variable, it was set as my PYTHONPATH. Changing PYTHONPATH to "C:\Users\kevin_000\AppData\Local\r-miniconda\envs\rgee" partially solved my problem.

When I then ran ee_chec

[2021-07-15 23:57] lopezjuana opened #165 "Convert feature collection to multiband image"
* rgee version:
* R version:
* Operating System: Windows

I have a feature collection of points with properties and I need to convert those properties to image bands. When I map over the list of properties I get a list of images. How can I transform that list or get directly a multiband image?

nuevaImagen <- predictoras$map(ee_utils_pyfunc(function(field){
  image_reduced <- setDatos$reduceToImag

[2021-07-16 07:05] csaybar commented on #164
Hi @Leprechault sorry for the late reply, can you share with us your "all.shapes.target" geometry. thanks!

[2021-07-16 07:32] csaybar commented on #165
I think your problem is discussed here: https://gis.stackexchange.com/questions/318754/earth-engine-map-over-list-versus-ee-list. The best  option is to use client-side lists:

[code]

[2021-07-16 08:57] csaybar commented on #151
Hi @kevinhawkshaw thank you so much for have the time to explain to us better the problem.
I think I know why `ee_check` generated the problem:

[code]

It seems your reticulate is calling a different Python environment by default. Defining EARTHENGINE_PYTHON or RETICULATE_PYTHON in a local or global `.Renviron` should solve the problem.  I will force `ee_users` to always read the env `EARTHENGINE

[2021-07-16 17:53] Leprechault commented on #164
Hi @csaybar thank you very much for your attention.

The area geometry is in  (`+proj=utm +zone=21 +south +datum=WGS84 +units=m +no_defs`:

[code]

Please, could you check too, why my filter (`filter(ee$Filter$lte("CLOUDY_PIXEL_PERCENTAGE", 1))`) do not avoid >1% cloud problem in the image below `"VILAPALMAt033K20200415T134211_20200415T134210_T21JYG_2021_05_19_04_27_39.tif"`:

![image](https://use

[2021-07-16 21:17] Leprechault commented on #164
Nice @csaybar and works!!!! My final file code now is:

[code]

Thanks very much!!!

[2021-07-16 21:17] #164 closed

[2021-07-17 01:37] lopezjuana commented on #165
**csaybar** Thank you very much, I was able to generate the multiband image. Now I need to convert the image to a grd or similar format to use the **predict function of the caret package**.
One of the parameters is "Raster* object. Typically a multi-layer type (RasterStack or RasterBrick)"
I can't find a way to convert the Image from GEE obtained to raster. Best regards

[2021-07-17 07:28] csaybar commented on #165
https://www.rdocumentation.org/packages/rgee/versions/1.0.9/topics/ee_as_raster

[2021-07-17 18:40] lopezjuana commented on #165
Good afternoon: I exported the image to the drive, downloaded it and was able to run the predict function. Thank you!!!
The code used is:
imgPred <- ee_as_raster(
  image = stack,
  region = region,
  via = "drive",
  scale = 1000,
  maxPixels = 1e+09,
)
I leave as a comment the message that appears to me, in case it is useful:
Error: Internal error: `what` must refer to arguments in the LHS of `=

[2021-07-18 14:21] AlvaroMCMC opened #166 "Feature request - Export gif from collection of images"
Hi César, I searched for this in the documentation but I didn't find it, maybe if it exists you can redirect me to it, if don't, I think it would be a great feature of rgee, Thanks.
[code]

[2021-07-19 18:55] jimoreira opened #167 "EEException: Image.multiply: If one image has no bands, the other must also have no bands. Got 0 and 1."
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ]  You can find the credentials file on your system:

[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

[2021-07-20 21:11] kamapu opened #168 "Clean all files in rgee_backup folder. Alternative to ee_clean_container()"
* rgee version: 1.0.9.999
* R version: 4.1.0
* Operating System: Ubuntu Focal Fossa

After doing a loop with NDVI calculations I tried to delete all the files in the container at Google Drive by using the command:

[code]

I realized that this command deletes only one file at time. Thus I tried to define an own function to delete everything after a loop was concluded:

[code]

Here I was expecting

[2021-07-21 04:59] MichelineCampbell opened #169 "ee_extract returns error 'incorrect number of dimensions'"
* rgee version: 1.0.9
* R version: 4.1.0
* Operating System: Windows 10

### Description
Hello, I am new to rgee (and GEE), so apologies if this is an obvious question with an obvious solution.
I am trying to extract a timeseries following the example here: https://github.com/r-spatial/rgee/blob/examples/rgee/08_extract.R
[code]

And get the error:
```Error in `[.default`(x, index, ) : incorrect n

[2021-07-21 20:58] tcalegario opened #170 "Erro: Don't know how to coerce an object of class <try-error> into a <dribble>."
* rgee version: 1.09
* R version: 4.03
* Operating System: windows 8.1

#### At submit an issue, please attached the following information of your `rgee` session:

- [ I think so] You have the Python API installed (from terminal):
[code]

- [ No, but its there] You can find the credentials file on your system:
[code]
- [Yes ] You can run a simple EE command from R:

[code]

Attach your Python (ret

[2021-07-22 04:34] ambarja commented on #170
Hi @tcalegario thanks for opening this issue, this error message is because you don't have the `googledrive` package installed in your Rstudio environment.

[2021-07-22 05:45] csaybar commented on #166
Hi @AlvaroMCMC we exported to rgeeExtra. Sorry, we are still working on the documentation.
https://github.com/r-earthengine/rgeeExtra

[2021-07-22 05:48] csaybar commented on #167
Hi @jimoreira please share a reproducible example including your geometry (ee_x) as a simple bbox. Thanks!

[2021-07-22 06:02] csaybar commented on #168
Hi @kamapu thanks for open this issue, this has a lot of sense to me. Thanks, I will work on it soon :)

For now, you can directly use the `googledrive` package.

[code]