[2021-07-22 06:05] csaybar commented on #169
Hi @MichelineCampbell sorry for the inconvenience. I'm almost 100% sure that we already solved this bug :). Can you install the latest rgee version?

[code]

Please let us know if the problem persists.

[2021-07-22 19:46] Sebastianmarzini opened #171 "Error: Invalid GeoJSON geometry when filtering an ImageCollection by a multipolygon"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ yes] You have the Python API installed (from terminal):
[code]

- [ No but it is there] You can find the credentials file on your system:
[code]
- [Yes ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[co

[2021-07-22 20:46] csaybar commented on #171
Something like this should work.

[code]

[2021-07-23 05:53] Sebastianmarzini commented on #171
Thank you a lot! It works now!!

[2021-07-23 20:44] luisdiazc opened #172 "How display imageCollection one to one in the map view"
I have consulted a collection of Sentinel 1 images for a specific ROI and a given time window. I want to visualize these one by one in the map view. I would appreciate some help on this as I am totally new to using rgee.

[code]

[2021-07-23 22:02] ambarja commented on #172
Hi @luisdiazc thanks for open this issue, for visualization multiple layers with rgee is using the `Map$addLayers()` function, however, is necessary to install `rgeeExtra`. Here you can check more documentation :next_track_button: [**more info**](https://r-spatial.github.io/rgee/reference/Map.html)

[2021-07-23 22:29] luisdiazc commented on #172
How can I access the names of the images within a imageColeection. Thank you, very much!

[2021-07-23 23:07] ambarja commented on #172
You can access to band names using the next code `S1RRVH$toBands()$bandNames()$getInfo()`

[2021-07-24 03:37] luisdiazc commented on #172
Great!

I triying use addLayers function for display a imageCollection, but jump the next error:

`Map$centerObject(eeObject = RR, zoom = 9)
Map$addLayers(eeObject = RRS1RRVV)

Error: tentativa de aplicar una no-función`

I installed the rgeeExtra package using `remotes::install_github("r-earthengine/rgeeExtra")` and load with `library(rgeeExtra)`.

Than you for you answers!

[2021-07-24 14:58] ambarja commented on #172
@luisdiazc here a reproducible example :arrow_down:
[code]
![Captura de pantalla de 2021-07-24 09-55-38](https://user-images.githubusercontent.com/23284899/126872324-05f19010-a781-40c7-8200-c5a557efde34.png)

[2021-07-24 16:59] tcalegario commented on #170
Hi @ambarja, thanks for your answer.
I solved the problem using my original user account, since I was using a new one for testing some R problems that I was dealing with. But this script in the original account was working fine.
But if you wish we can try to understand the problem in case that other users have the same issue.
It seems that the googledrive package is not the problem.
Thanks for you

[2021-07-24 19:03] luisdiazc commented on #172
@ambarja , I think that my problem is that R is not recognizing the Map $ addLayers method, therefore the error that I indicated before jumps🤔

Also, the comparison between layers with the operator `|` does not work. I think that `rgeeExtra` is bad installed.

[2021-07-26 15:51] #170 closed

[2021-07-27 16:37] ambarja commented on #172
Hi @luisdiazc you can update your rgee package with the dependencies and after to use the last code. If you have the same problem Would you mind attached us your sessionInfo?

[code]

[2021-07-27 18:39] csaybar commented on #168
Hi @kamapu I solved this problem related to the release of googledrive 2.0.0. Now `ee_clean_container` works faster and recursively. Thanks for your contribution :)

[code]

If the problem persists, feel free to re-open the issue.

[2021-07-27 18:39] #168 closed

[2021-07-28 16:36] csaybar commented on #115
This bug was solved in the latest rgee version.

[2021-07-28 16:36] #115 closed

[2021-07-28 16:36] #133 closed

[2021-07-28 16:37] #135 closed

[2021-07-28 16:37] #136 closed

[2021-07-28 16:37] #140 closed

[2021-07-28 16:40] #142 closed

[2021-07-28 16:40] #143 closed

[2021-07-28 16:40] #148 closed

[2021-07-28 17:12] #151 closed

[2021-07-28 17:14] #153 closed

[2021-07-28 17:24] csaybar commented on #154
Hi @lalgonzales it seems the bug was solved.
Feel free to open the issue again if you consider it necessary.

[2021-07-28 17:25] csaybar commented on #155
@davemlz

[2021-07-28 17:26] csaybar commented on #156
Hi @dariovanderlinden we solve a lot of bugs in `R6map` now it should works!

[2021-07-28 17:27] #156 closed

[2021-07-28 17:27] #159 closed

[2021-07-28 17:29] #160 closed

[2021-07-28 17:30] #165 closed

[2021-07-28 17:30] #166 closed

[2021-07-28 17:31] #167 closed

[2021-07-28 17:32] davemlz commented on #155
I'm on it :wink:

[2021-07-28 17:39] lalgonzales commented on #154
Hello, @csaybar I tried to run te code now and I still have the same problem

[2021-07-28 17:51] csaybar commented on #154
Hi @lalgonzales  can u share with me your shapefile?

Thanks!

[2021-07-28 19:45] lalgonzales commented on #154
[shape.zip](https://github.com/r-spatial/rgee/files/6896063/shape.zip)

[2021-07-28 21:05] luisdiazc commented on #172
Hi @ambarja , i managed to do it. Thank you very much for you suport. I consider this issue closed. Good bye🥳

[2021-07-28 21:05] #172 closed

[2021-07-28 21:38] csaybar commented on #154
Hi! I don't have any problem.
![image](https://user-images.githubusercontent.com/16768318/127399427-0a676f5a-a8d2-4b79-8df8-6d6090e77b19.png)

Can you share with us your some details about your R session?

[code]

[2021-07-30 19:25] ifeanyi588 opened #174 "Is it possible to pull return multiple statistics columns for the same image?"
At the moment, I have a function that is able to compute any statistic based on the an image. Here is the function below:
[code]
However, this will only estimate one statistic at a time. How could I write something that will compute multiple statistics and put it in the same dataframe object?

Thank you for your help

[2021-07-31 14:13] TianyaImpression opened #175 "Error:Don't know how to coerce an object of class <try-error> into a <dribble>."
* rgee version:1.0.9
* R version:4.0.5 (2021-03-31) -- "Shake and Throw"
* Operating System:win10

[code]
`
![image](https://user-images.githubusercontent.com/22004043/127742496-fea19863-967f-46ab-bd69-f3d878a34d4f.png)

I wonder why my rgee can't download raster via google drive. I have updated my googledrive package 2.0

[2021-08-01 07:08] csaybar commented on #174
You can use `ee$Reducer$combine`

[2021-08-01 07:10] csaybar commented on #175
Can you share with us your `sessionInfo()` and a reproducible example? Thanks! :)

[2021-08-01 07:50] TianyaImpression commented on #175
Thank you for your reply!  The code I give in the first post is my example, my `sessionInfo()` is as fellow:

R version 4.0.5 (2021-03-31)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19042)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936  LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936 LC_NUM

[2021-08-01 07:53] csaybar commented on #175
Hi I don't have access to `./SHP/CMR.SHP`

[2021-08-01 13:23] TianyaImpression commented on #175
Sorry, I don't know how to upload a SHP, but no matter what SHP  I use, the error always report.  You can use other SHP instead.

[2021-08-01 13:26] TianyaImpression commented on #175
I found that my code can perform success except for the error.
I can found the result data in my googledrive, but the rgee can't download it automatically

[2021-08-03 03:00] kevibarcena commented on #108
csaybar i need your help. when i run "rgee" give that line. pls
Error: package or namespace load failed for ‘rgee’:
 .onLoad failed in loadNamespace() for 'rgee', details:
  call: py_module_import(module, convert = convert)
  error: ModuleNotFoundError: No module named 'ee'

[2021-08-03 08:35] TianyaImpression commented on #175
I found why lead the error! when I intalize the rgee，I forgot to give Google drive permission to tidyverse API
![image](https://user-images.githubusercontent.com/22004043/127984112-b9210151-acff-4728-afd7-3a1dccfbdd89.png)

I use `ee_clean_credentials() ` then intalize rgee again, success!

[2021-08-04 10:22] kamapu commented on #168
I just checked the new version of the package and it works perfect. This time also the folder **rgee_backup** gets deleted.

[2021-08-06 21:51] #171 closed

[2021-08-06 21:53] csaybar commented on #175
Thank @TianyaImpression I will add it in the Readme documentation!

[2021-08-06 21:53] #175 closed

[2021-08-06 22:46] malmistry opened #176 "ee_extract() using points instead of polygons geometry"
_
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          3
minor          6.3
year           2020
month          02
day            29
svn rev        77875
language       R
version.string R version 3.6.3 (2020-02-29)
nickname       Holding the Windsock

rgee version 1.0.9.999

I am able to run the example [here](https

[2021-08-06 23:25] csaybar commented on #176
1) You do not obtain values because the image and the points are not in the same geographical location. (We will add some warnings to catch this issue).
![image](https://user-images.githubusercontent.com/16768318/128579526-725e018c-925b-4853-93a6-4e19b45f5b84.png)

2) Aggregating an ee.ImageCollection is possible using reduce operators. https://developers.google.com/earth-engine/guides/ic_reducing

[2021-08-08 19:53] lalgonzales commented on #154
![image](https://user-images.githubusercontent.com/84168595/128644070-8bc4d68a-9669-4d19-9b3e-a4d59c6aa1eb.png)

[2021-08-08 23:26] csaybar commented on #154
Hi @lalgonzales when u use `sf_as_ee(via="gcs_to_asset")` several messages appear on the console:

[code]

It seems to me that for some reason, your zipfile is empty.  Can you share with us that the zipfile storage in the /tmp folder '/tmp/Rtmp9x87dI/' if it exists? (see point 4). You can also find it in the `manisfest.json`.

[code]

[2021-08-08 23:36] lalgonzales commented on #154
Hi @csaybar, i share a image of the folder, there is no zipfile
![image](https://user-images.githubusercontent.com/84168595/128648980-2382e91e-ec84-47b5-8ba7-e1212cec9fca.png)

[2021-08-10 21:05] malmistry commented on #176
Thank you. Very useful! The warning to catch this issue could be useful!
Malcolm

[2021-08-19 22:54] fsotoj opened #177 "Save clusterer object to use it in a new session"
* rgee version: 1.0.9
* R version: 4.1.0
* Operating System: Windows

### Description

Hello community, I'm trying to save a clusterer object from the result of wekameans on a collection of ambiental variables. I don't want to train the model every time that I want to classify a region, because I'm training the model with the half of Chile (the country).

### What I Did

I tried serializing the cl

[2021-08-25 15:10] MatthieuStigler opened #178 "googledrive dependency: version 2 needed?"
I suspect rgee needs actually version 2 of `googledrive`? It now requires only `(≥ 1.0.0)`, I had 1.0.1 installed, and ran into an error message using `ee_as_raster` complaining about:

And it seems `with_drive_quiet` was introduced for version 2 (https://cloud.r-project.org/web/packages/googledrive/news/news.html)?

See below:

[code]

<sup>Created on 2021-08-25 by the [reprex package](https://re

[2021-08-26 08:13] JialiJIN opened #180 "Error: Miniconda is already installed at "C:/Users/dell/AppData/Local/r-miniconda""
* rgee version: 1.1.1
* R version: R 4-1-1
* Operating System: Windows10

I installed rgee by the following steps:

remotes::install_github("r-spatial/rgee")    ----- DONE

library(reticulate) ------ DONE

But when I ran the code: rgee::ee_install()

it shows the message below:

Collecting package metadata (current_repodata.json): ...working... failed

# >>>>>>>>>>>>>>>>>>>>>> ERROR REPORT <<<<<<<

[2021-08-27 00:39] Leprechault opened #181 "Unexpected behaviour during images download in a loop"
* rgee version:
[code]
* R version and Operating System:
[code]

#### At submit an issue, please attached the following information of your `rgee` session:

- [ X ] You can find the credentials file on your system:
[code]
- [ X ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

Despite the credentials looks like OK, I have an

[2021-09-16 02:14] jinglez99 opened #182 "The problem I met during initializing rgee environment"
* rgee version: 1.1.0
* R version: 4.0.3
* Operating System: Windows

#### At submit an issue, please attached the following information of your `rgee` session:

Warning message:
程辑包‘rgee’是用R版本4.0.5 来建造的

Warning message:
程辑包‘reticulate’是用R版本4.0.5 来建造的

(*)  Python version
√ [Ok] C:/Users/jingl/AppData/Local/r-miniconda/envs/rgee/python.exe v3.9
(*)  Python packages:
√ [Ok] numpy
√ [Ok] earthengin

[2021-09-16 22:06] MichaelTD83 commented on #154
Since this is still open I hope it is okay to add to this because I believe I have the same or very similar issue and wanted to try to get some help with it.

[TestShps.zip](https://github.com/r-spatial/rgee/files/7164226/TestShps.zip)

[code]

Code result
[code]
I do have all of these files show up in the Temp folder, including a zip file. I have also checked this .zip file and there is a shapefi

[2021-09-17 02:47] AlvaroMCMC opened #183 "How to export all bands separately of one satelital image (one image per band)?"
### What I do is export an image after selecting its bands with the same resolution. In this example, I selected the 4, 3 and 2 of some sentinel image. Is there a way to export all bands (one image per band)?. I know they have different spatial resolutions (10, 30, 60 m..).

[code]

[2021-09-18 21:18] Tartomas opened #184 "RGB loadGeoTIFF in GCP Storage"
* rgee version:1.1.0
* R version 4.1.1 (2021-08-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.3 LTS

### Description
Hello Cesar, gracias por tu aporte a la comunidad de GEE en R, realmente has hecho un tremendo trabajo y no cabe duda que seguiras aportando por muchos años más !

### Issue or question

I'm trying to get a Sentinel RGB image that I have exported previously

[2021-09-20 02:32] gaozitianhaha opened #185 "ee_extract() becomes extremely slow in a loop after several runs"
* rgee version: 1.1.0
* R version: 4.0.0 or 4.1.0
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configurati

[2021-09-20 04:05] gaozitianhaha commented on #185
I also notice that if I don't stop the loop, I will receive the errors:

Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Computation timed out.
In addition: Warning messages:
1: In ee_utils_py_to_r(.) : restarting interrupted promise evaluation
2: In ee_utils_py_to_r(.) : restarting interrupted promise evaluation
3: In ee_utils_py_to_r(.) : restarting interrupted promise

[2021-09-20 17:49] Leprechault commented on #181
@csaybar problem not solved yet with `rgee_1.1.2`. In my case:
[code]
I try to force OAuth token using a Google storage API together in the code:

[code]

But doesn't work. My session info:

[code]

[2021-09-20 18:10] csaybar commented on #181
Hi @Leprechault can u share with me a fully reproducible example.

![image](https://user-images.githubusercontent.com/16768318/134052726-ca9d770b-9dea-47e2-8b31-ae19eef8e4ad.png)

I don't have access to your shapefiles

[2021-09-20 18:13] csaybar commented on #182
I think this bug is related #63. Not solved yet.

[2021-09-20 18:14] csaybar commented on #183
See https://developers.google.com/earth-engine/guides/scale

[2021-09-20 18:14] #183 closed

[2021-09-20 18:16] csaybar commented on #184
Hola @Tartomas muchas gracias por tus palabras :D! . Can u give me access to read your bucket?
csaybar@gmail.com
Thanks!

[2021-09-20 18:19] csaybar commented on #185
Hi @gaozitianhaha I think it is an error from the server-side. I can help u to optimize your code but please give me access to your shapefile.

[2021-09-21 21:58] Leprechault commented on #181
@csaybar I find the problem. Is the Google server that's breaking the http2 connection.

I make before my code:

[code]
and problem solved!

[2021-09-21 21:58] #181 closed

[2021-09-22 06:42] gaozitianhaha commented on #185
Hi Csaybar,
Thank you so much for your kind helps and prompt reply. I figure out that if I upload results to google drive it seems working well. I agree this might be the problem of server not the package. I can accept the results to be saved in drive for now (and I change my codes accordingly). If I still find a problem in the future I will update here.

Thanks again for your help!

Best regards,

[2021-09-22 21:11] Tartomas commented on #184
Hi @csaybar
I make public this file [access to the tif.](https://storage.googleapis.com/rgee-test/raster_RGB_S2SR_T18GXA_2021-08-31_mask.tif) and also make you **_Storage Object viewer_**
Let me know if you are able to go through this issue.

What I'm really into is to use _ee$Image$loadGeoTIFF(uri)_ to rendered in leaflet with _addTiles_()

[code]
Tell me what you think
Thanks !

[2021-09-23 19:41] #182 closed

[2021-09-23 19:56] csaybar commented on #184
Hi @Tartomas the problem is that their resource is not a COG (https://www.cogeo.org/).

[code]

You can use GDAL > 3.1 to convert it running:

[code]

[2021-09-23 19:58] csaybar commented on #185
great! :D  thanks for letting us know!

[2021-09-23 19:58] #185 closed

[2021-09-26 21:02] Tartomas commented on #184
Hi Cesar
Thanks you very much, I was able to load RGB from a bucket as a COG files.
Best, thank again !

[2021-09-26 21:02] #184 closed

[2021-09-27 19:01] bpelto opened #186 "ee_utils_gif_* not available"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

I

[2021-09-27 21:59] csaybar commented on #186
Hi please install.

[code]

[2021-09-28 15:16] bpelto commented on #186
Thank you! That did the trick.

[2021-09-28 15:16] #186 closed

[2021-10-06 08:17] ConservationAlpha commented on #155
I am having the same challenge trying to access gee-cdcc-tools , i cent get it to work via RGEE, i need to use
"var utils = require('users/parevalo_bu/gee-ccdc-tools:ccdcUtilities/api')"

[2021-10-19 20:54] dariovanderlinden opened #187 "Removing options to select Map Tiles and Layers"
* rgee version: 1.1.2
* R version: 4.0.3.
* Operating System: Windows

### Description

I would like to create a map using the Hansen Global Forest Change v1.8 (2000-2020) [dataset](https://developers.google.com/earth-engine/datasets/catalog/UMD_hansen_global_forest_change_2020_v1_8#bands) on Google Earth Engine and host this on R Shiny. I noticed when creating the map, we have the option to selec

[2021-10-20 14:58] victorkorir1 opened #188 "Runtime error when mapping a function over an eelist of dates"
* rgee version:1.1.2
* R version:4.1.0 (2021-05-18) -- "Camp Pontanezen"
* Operating System:Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [1] You have the Python API installed (from terminal):
[code]

- [1] You can find the credentials file on your system:
[code]
- [1] You can run a simple EE command from R:

[code]

Attach your Python (retic

[2021-10-26 23:03] gc759 opened #189 ""library(rgee)" does not work in R studio but works in R"
* rgee version:1.1.0
* R version:4.1.1
* Operating System:macOS

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

<img width="341" alt="截屏2021-10-26 23 54 46" src="https://user-images.githubusercontent.com/71622914/138972476-4620ad29-5119-470d-a15d-9b6be62e8790.png">

Attach your Python (ret

[2021-10-28 15:57] peterpothmann opened #190 "ee_install() Error"
* rgee version: 1.1.2
* R version: 4.0.2
* Operating System: Windows

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

[2021-10-29 09:02] #190 closed, assigned to nobody

[2021-10-29 17:33] dariovanderlinden opened #191 "rgee and shinyapps.io"
* rgee version: 1.1.2
* R version: 4.0.3
* Operating System: Windows

### Description

I would like to deploy my map on shinyapps.io but I come across an issue when using ee_Initialize since it opens a web browser to get the Earth Engine Authentication. Do you know of a way to retrieve and print this authentication key without having to manually go into the browser? This way, I can run the shiny a

[2021-10-30 20:49] csaybar commented on #187
Hi @dariovanderlinden sorry my late reply.

You can change the transparency of an eeObject with opacity.

![image](https://user-images.githubusercontent.com/16768318/139557885-73572604-2881-4e74-811d-e5c1a73e0d0f.png)

I think is not a good idea to create a map service using Map$addLayer (The map resource will disappear in a couple of hours), soon I will add an example about how to create Shiny ap

[2021-10-30 20:49] #187 closed

[2021-10-30 21:01] csaybar commented on #188
Hi please use rgee::ee_utils_pyfunc.

https://stackoverflow.com/questions/65027506/problems-with-eelistrepeat

[2021-10-30 21:01] #188 closed

[2021-10-30 21:08] csaybar commented on #189
Hi @gc759 sorry for the late reply.

1) Did you try re-installiing rgee?
https://stackoverflow.com/questions/67001134/am-not-able-to-load-tidyverse-in-r-4-0-5-any-leads

2) Are you sure that you are using the same version of R in Rstudio?. Please run in both Rstudio and your R console this:

[code]
In mac, you do not need more than `ee_install()` to set properly the Python ENV that rgee needs.

[2021-10-30 21:10] csaybar commented on #191
You need to set the EE credentials as a secret_key. @ambarja can you help me to create a tutorial for this?

[2021-10-30 22:07] gc759 commented on #189
Hi @csaybar ,
Thank you for the suggestions!

I tried to remove and reinstall rgee, but was unable to install it again. Maybe it's because I didn't manage to remove the package competely, but I'm not sure.

I formatted my laptop and started from the first step, but after succeeding (passed the ee_check and did some work with Google earth engine) once, my "earthengine-api" still disappeared again (

[2021-10-31 14:51] victorkorir1 commented on #188
Thank you @csaybar ,the error is solved!

[2021-10-31 15:38] victorkorir1 opened #192 "Error during wrapup: EEException: Invalid argument specified for ee.List(): 0.0"
* rgee version:1.1.2
* R version:4.1.0 (2021-05-18) -- "Camp Pontanezen"
* Operating System:Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [1] You have the Python API installed (from terminal):
[code]

- [1] You can find the credentials file on your system:
[code]
- [1] You can run a simple EE command from R:

[code]

Attach your Python (retic

[2021-10-31 15:46] victorkorir1 commented on #192
https://code.earthengine.google.com/2ef38463ebaf5ae133a478f173fd0ab5
This the function i am trying to replicate in R

[2021-11-01 02:33] csaybar commented on #192
Hi @victorkorir1!

Can you help me a bit by creating a small example that shows me where exactly the error appears? I don't have too much experience with SAR data.

[2021-11-01 09:16] obaines opened #193 "Dataset property values not displaying correctly"
* rgee version: 1.1.0
* R version: 4.1.0
* Operating System: Windows 10 Home x64

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:
[code]
- [x] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configurati

[2021-11-01 09:32] csaybar commented on #193
Hi @obaines

This problem was described in https://r-spatial.github.io/rgee/articles/considerations.html#be-careful-with-eedate

[code]

[2021-11-01 09:52] obaines commented on #193
Ah great - thought it was odd I didn't see an issue regarding this already! Thanks for your help @csaybar

[2021-11-01 13:17] victorkorir1 commented on #192
I first load Sentinel 1 imagery and filter according to my study area,time,VV/VH polarization and ascending or descending path.
` library(rgee)
library(tcltk)
#Load sentinel1 image collection
sentinel1 <-ee$ImageCollection('COPERNICUS/S1_GRD')
#AOI Geometry
Ext <- list(
  c(35.953444081338944, 0.31636293022018336),
  c(36.21024950126082,0.31636293022018336),
  c(36.21024950126082, 0.74755670600260

[2021-11-01 13:36] victorkorir1 commented on #192
What follows is calling of the above methods.The only cause of error is the speckle filtering method
[code]

[2021-11-01 13:37] victorkorir1 commented on #192
The error occurs in the last line
```leefiltered <- exports_refinedLee(test1)```

[2021-11-01 13:39] victorkorir1 commented on #192
It is a quite a lengthy piece of code but hopefully you can be able to reproduce it.Thanks

[2021-11-02 17:54] harifparengal opened #194 "Error: one or more Python packages failed to install [error code 1]"
* rgee version: 1.1.0
* R version: 4.1.2
* Operating System: windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal): No
[code]

- [ ] You can find the credentials file on your system:  FALSE
[code]
- [ ] You can run a simple EE command from R:  No

[code]

Attach your Python (reticulate) config

[2021-11-03 12:58] #194 closed

[2021-11-03 13:19] victorkorir1 commented on #192
I suspect this is the line causing the error ```rect_weights <- ee$List$'repeat'(ee$List$'repeat'(0.0,7),3)$
                                cat(ee$List$'repeat'(ee$List$'repeat'(1,7),4))```
This is because I tried debugging the function and it breaks at this point with the error
[code]

[2021-11-03 13:34] victorkorir1 commented on #192
So I did a simple test line by adding Print statement after every line and the in the function and I establish that it breaks at this line: ```sigmav <- sample_stats$toArray()$arraySort()$arraySlice(0,0,5)$arrayReduce(ee$Reducer$mean(),c(0))```

[2021-11-03 16:37] victorkorir1 commented on #192
You need to pass a list ee$Numbers not just numbers to arrayReduce,
i.e ```sigmav <- sample_stats$toArray()$arraySort()$arraySlice(0,0,5)$arrayReduce(ee$Reducer$mean(),c(ee$Number(0))```

[2021-11-03 16:37] #192 closed

[2021-11-10 08:42] andreatitolo opened #195 "ee_install() fails, Conda info could not be constructed"
* rgee version: 1.1.2
* R version: 4.1.2
* Operating System: MacOS Monterey 12.0.1

### Description

Hi Cesar, I was trying to initialize rgee using the command ``` ee_install()``` (I already have Anaconda installed on my system) and I got an error telling me that conda info could not be constructed and that reticulate did not find any python environment. If I choose to not install miniconda, the

[2021-11-10 13:38] ludovicacrocitto91 commented on #167
Hi everyone, Did you solve this error: "If one image has no bands, the other must also have no bands. Got 0 and 1" ?

[2021-11-12 10:37] victorkorir1 commented on #167
Hey was this error solved?I am facing a similar issue
`Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Image.divide: If one image has no bands, the other must also have no bands. Got 0 and 1.

Detailed traceback:
  File "/home/victor/.virtualenvs/rgee/lib/python3.6/site-packages/ee/data.py", line 577, in getMapId
    parent=_get_projects_path(), fields='name', body=reque

[2021-11-12 12:06] csaybar commented on #167
It looks like an issue in your EE code rather than rgee. I can take a look but please share with me a reproducible (copy+paste) example. :pray:

[2021-11-12 12:11] victorkorir1 commented on #167
[code]

[2021-11-18 05:33] AcademicusChamaeleon opened #196 "Errors when running ee_Initialize() and ee_check()"
* rgee version: 1.1.0
* R version: 4.1.2
* Operating System: Windows 10

[code]

### Description

It had errors when I ran ee_Initialize() and ee_check()

### What I Did

[code]

[2021-11-18 22:13] jordi-1 commented on #196
I got exactly the same problem. Wondering if it's not related to code unable to differentiate between Python 3.1 and 3.10 recently released ?

[2021-11-19 00:10] csaybar commented on #196
Hi can restart your R session and then run:

[code]

and show us the result?

[2021-11-19 00:49] csaybar commented on #196
Thanks to @ryali93, we found the bug. It is a really specific issue, it only happens if you are using:
  - Windows
  - Python 3.10 (installed by default by miniconda).
  - are calling python using reticulate.
  - loads the ssl python package.

The bug in reticulate occur exactly here: https://github.com/rstudio/reticulate/blob/dd6d6e8139dcfc4ce19e6b7150406a6f4e1af747/inst/python/rpytools/loader.py

[2021-11-19 00:49] #193 closed

[2021-11-19 00:53] csaybar commented on #195
Sorry, it looks like a problem with your conda env. Did you try to use virtualenv?

https://github.com/conda/conda/issues/9356

[2021-11-19 02:10] bmaitner opened #197 "Guidance regarding writing functions"
* rgee version: 1.1.0
* R version: 4.1.2
* Operating System:  x86_64, linux-gnu

[code]

### Description

I'm trying to write a function to alter the MODIS NDVI band "DayOfYear" to give the day relative to the start of the UNIX era (1-1-1970).  While the code isn't too terribly difficult to get working in general, I'm having trouble figuring out how the function needs to be structured in order to

[2021-11-20 18:12] csaybar commented on #197
Hi @bmaitner you can not combine local-server objects into a map function. More details here https://developers.google.com/earth-engine/guides/client_server

The function below replicates your client-server function.

[code]

[2021-11-21 12:06] victorkorir1 opened #198 "EEException: reduce.mean: Error in map(ID=S1A_IW_GRDH_1SDV_20141225T155606_20141225T155631_003877_004A5A_5345): Image.addBands: Parameter 'dstImg' is required."
* rgee version:1.1.2
    *R version:4.1.0 (2021-05-18) -- "Camp Pontanezen"
   * Operating System:Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python

[2021-11-22 13:34] andreatitolo commented on #195
Thanks! I didn't, using virtualenv did the trick! (mostly, I had to manually install python packages because some of them failed during the creation of the virtualenv using reticulate)
I am still convinced this is a mistake on my end somewhere, but in case it's useful for someone else:

- Completely removed Anaconda/Miniconda (unnecessary)
- Removed reticulate and rgee
- Reinstalled reticulate
- P

[2021-11-22 13:35] #195 closed

[2021-11-22 14:18] bmaitner commented on #197
Ahhh, I think I see.  Thanks so much for pointing me to that resource and for the assistance with the code!  Apologies for asking a question that was answered elsewhere

[2021-11-26 08:14] csaybar commented on #198
Hi @victorkorir1  sorry for the late reply!!

It doesn't look like a rgee problem. Can u share with us an example with less than 30 lines of code? It gonna take me a lot of time to try to find the bug on this one. Thanks :)

[2021-11-27 08:46] jordi-1 opened #199 "Guidance on how to extract categorical raster data grouped by categories"
* rgee version: 1.1
* R version: 4.0
* Operating System: Windows 10

### Description
Not sure if this is the right place to post this. I haven't been able to find this in the "examples" section. Apologies in advance if this is not the right place, please redirect me.

I am looking for a code template/tutorial allowing the grouped extraction of categorical raster data (example: Landuse-landcover cl

[2021-11-30 14:41] Leprechault opened #200 "Several clouds yet in COPERNICUS/S2_SR despite restrict filters"
I'd like to know if there is yet something to do not to download ` COPERNICUS/S2_SR` images with cloud or shadows. In my reproducible example:

[code]

![image](https://user-images.githubusercontent.com/17205267/144067633-ebf711d0-a465-4730-8fa2-7533d32118fd.png)

[code]
![image](https://user-images.githubusercontent.com/17205267/144067595-6a9cf97f-509b-44fd-a8a0-7d6bbf156f44.png)

It's clear the

[2021-12-01 21:47] csaybar commented on #199
hi @ambarja I think you were working on something similar can u share your code here. :pray:

[2021-12-01 21:58] csaybar commented on #200
Maybe using the SLC band and [COPERNICUS_S2_CLOUD_PROBABILITY](https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_S2_CLOUD_PROBABILITY) can give you better results. You would have to:

1) Convert SLC and COPERNICUS_S2_CLOUD_PROBABILITY to a binary mask (0: clear, 1:mask).
2) Merge both products using AND operator.
3) Create your own "CLOUDY_PIXEL_PERCENTAGE" using [ee$Image$red

[2021-12-02 00:36] Leprechault commented on #200
Thanks very much, @csaybar, but look a little bit complicated. Please, do you have any examples in R? I don't find any examples in R syntax from the web.

[2021-12-02 02:29] csaybar commented on #200
Hi @Leprechault use rgeeExtra to have a more R-friendly interface to rgee.

[code]

[2021-12-02 02:58] Leprechault commented on #200
So nice @csaybar, thanks again!! Problem solved

[2021-12-02 02:58] #200 closed

[2021-12-02 22:20] jsocolar opened #202 "add `predefinedAcl` option to `*_as_ee` and `local_to_gcs`"
As far as I can tell, `*_as_ee` will fail whenever the GCS bucket is set up with uniform bucket-level access. Note that uniform bucket-level access is now the default suggested by GCS when creating a new bucket.

This seems to be related to this issue
https://github.com/cloudyr/googleCloudStorageR/issues/111

Presumably, it is fixable by creating a `predefinedAcl` argument that is passed through t

[2021-12-05 21:43] csaybar commented on #202
@jsocolar thank you so much for reporting!.

_Note that uniform bucket-level access is now the default suggested by GCS when creating a new bucket._

U right! it was a big mistake does not to specify how the users will control access of buckets and objects (now I understand why so many issues related to *local_to_gcs*). Please I will be very grateful if you can make a PR with this :)

[2021-12-08 12:03] #202 closed

[2021-12-11 10:12] csaybar opened #204 "COG support"
- Change COG titiler vizparams to be more according to GEE vizparams.
- Error message when in *Map$addLayer("hola.tif")* the .tiff file is not a COG.

[2021-12-13 08:51] patchcervan commented on #196
I don't know if this has anything to do with anything, but this line in ee_check_python() returns 3.1 instead of 3.10:
py_version <- as.numeric(py_discover_config()[["version"]])

P.S. thanks for the handy package!

[2021-12-13 17:09] patchcervan commented on #196
I see... python 3.9 does work for now, thanks!

[2021-12-13 20:47] jsocolar opened #205 "minor language edits in docs?"
Hi @csaybar, would you be interested in PRs for minor edit to the docs addressing small linguistic improvements (that generally do not affect meaning or clarity, but do improve readability)?

[2021-12-13 22:18] Leprechault opened #206 "Problem with rgee in Rstudio inside Anaconda"
* rgee version: 1.1.0
* R version: 4.1.1
* Operating System: W10

[code]

I try several times and nothing worked for me to install the `rgee` in Rstudio inside Anaconda. I always the output error:

[code]

Inside the Anaconda when I try to install inside `rgee` environment the output error is:

[code]

Please, any help with it

[2021-12-14 08:13] csaybar commented on #206
Hi, it is a problem with python3.10.

https://github.com/r-spatial/rgee/issues/196#issuecomment-973603808

You will find the code to install here: https://github.com/ricds/DL_RS_GEE/blob/main/rgee_install_packages.R
and a video tutorial here: https://www.youtube.com/watch?v=1-k6wNL2hlo

[2021-12-14 11:35] csaybar commented on #205
Hi @jsocolar yes please, that would be great :D

[2021-12-15 00:13] #205 closed

[2021-12-15 03:58] michaeldgarber opened #208 "Link for English guide is broken"
Hi, just a note that the link is broken for the guide in English. Thanks for the great package.

https://amazeone.com.br/barebra/pandora/rgeebookT1eng.pdf

[2021-12-15 20:55] csaybar commented on #206
Hi @Leprechault the problem has been solved!. Please run as follow to fix!

[code]

[2021-12-15 20:55] #206 closed

[2021-12-15 20:55] #204 closed

[2021-12-15 20:55] #198 closed

[2021-12-15 20:56] csaybar commented on #196
Hi, the problem has been solved!. Please run as follow to fix!

[code]

[2021-12-15 20:56] #196 closed

[2021-12-15 20:57] csaybar commented on #189
Hi @gc759  the problem has been solved!. Please run as follow to fix!

[code]

[2021-12-15 20:57] #189 closed

[2021-12-15 20:57] csaybar commented on #180
Hi @JialiJIN  the problem has been solved!. Please run as follow to fix!

[code]

[2021-12-15 20:57] #180 closed

[2021-12-15 20:58] #141 closed

[2021-12-15 20:58] #154 closed

[2021-12-15 20:58] #152 closed

[2021-12-15 20:58] #176 closed

[2021-12-15 21:00] #169 closed

[2021-12-15 21:00] #174 closed

[2021-12-15 21:00] #177 closed

[2021-12-16 22:37] csaybar commented on #119
Hi, I added a template that should make the deployment process easier.
https://github.com/csaybar/shiny_rgee_template

[2021-12-16 22:37] #119 closed

[2021-12-16 22:38] csaybar commented on #191
Hi @dariovanderlinden I added a template to help with this task
https://cesar-aybar.shinyapps.io/rgee_app_demo/
https://github.com/csaybar/shiny_rgee_template

[2021-12-16 22:38] #191 closed

[2021-12-16 22:43] csaybar commented on #155
@ConservationAlpha  and @jimoreira, we added this feature to [rgeeExtra ](https://github.com/r-earthengine/rgeeExtra).
Feel free to open an issue in rgeeExtra if your Javascript module doesn't work.

[2021-12-16 22:43] #155 closed

[2021-12-16 22:49] jimoreira commented on #155
Great! I will give it a try. Thanks

[2021-12-16 23:09] csaybar commented on #155
@jimoreira I forgot to mention that rgeeExtra depends on **reticulate 1.22.9000**. Please install as follow:

[code]

[2021-12-20 17:00] ConservationAlpha commented on #155
Thank you Cesar, much appreciated!

From: Cesar Aybar ***@***.***>
Sent: Friday, 17 December 2021 00:44
To: r-spatial/rgee ***@***.***>
Cc: Info ***@***.***>; Mention ***@***.***>
Subject: Re: [r-spatial/rgee] equivalent for 'require' used in gee (#155)

@ConservationAlpha<https://github.com/ConservationAlpha> and @jimoreira<https://github.com/jimoreira>, we added this feature to rgeeExtra <https:

[2021-12-20 19:25] jordi-1 commented on #199
# * rgee version: 1.1.2
  # * R version: 4.1.1
  # * Operating System: Windows 10

  #### At submit an issue, please attached the following information of your `rgee` session:

  - [x] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:

library(rgee)

[1] TRUE

[code]

Attach your Python (reticulate) configuration:

[code]

### Descri

[2021-12-21 01:11] gltyree opened #209 "Trouble with rgeeExtra install"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [x] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

De

[2021-12-21 13:08] csaybar commented on #209
Hi @gltyree sorry for the inconveniences with rgeeExtra can u detail a bit more your problem in https://github.com/r-earthengine/rgeeExtra/issues

[2021-12-21 13:08] #209 closed

[2021-12-21 13:57] gltyree commented on #209
Hi Cesar,

Certainly! Funny, I thought the issue was still in 'draft mode' and not yet submitted. I'll resend it.

Best,
Gayle Tyree
________________________________
From: Cesar Aybar ***@***.***>
Sent: Tuesday, December 21, 2021 6:09:10 AM
To: r-spatial/rgee ***@***.***>
Cc: Gayle Tyree ***@***.***>; Mention ***@***.***>
Subject: Re: [r-spatial/rgee] Trouble with rgeeExtra install (Issue #209)

W

[2021-12-22 17:44] Leprechault opened #210 "error/rlang_error `file` does not identify at least one Drive file"
* rgee version: 1.1.2.9000

* R version: R version 4.1.2 (2021-11-01)

* Operating System: Windows 11

#### At submit an issue, please attached the following information of your `rgee` session:

- [ X ] You can find the credentials file on your system:
[code]
- [ X ] You can run a simple EE command from R:

[code]
Attach your Python (reticulate) configuration:

[code]

I install several times `rge

[2021-12-22 18:14] csaybar commented on #210
hi @Leprechault  can u run:

[code]

[2021-12-22 18:23] Leprechault commented on #210
Hi @csaybar thanks for your answer. The session info is:

[code]

[2021-12-22 18:42] ambarja commented on #199
@jordi-1 Here a new pipeline to extract the values of areas by categorical rasters  inside each polygons, however you should care with categories present, it in the gather function.

[code]
[code]
[code]
[code]
[code]
![image](https://user-images.githubusercontent.com/23284899/147140172-2b99393d-2683-4d74-8865-89adcdb31585.png)

[2021-12-22 18:54] csaybar commented on #210
Hi @Leprechault it seems the GEE & GD sync has been experiencing some delay. Now it's working perfectly on my side (please let me know if it's the same for you). I will add a warning message when this happens.

[2021-12-22 18:59] #199 closed

[2021-12-22 19:20] Leprechault commented on #210
Hi @csaybar, please, look the output:
[code]
Don't show `Saved locally as:` and the file is not in the directory.

[2021-12-22 20:06] csaybar commented on #210
Hi @Leprechault unfortunately I can't reproduce your issue, but it seems to be an issue with the paths. I notice that `ee_imagecollection_to_local` does not return an error when the directory does not exist. I will fix this in the next release. Please, we will be very grateful if you can figure out why the output file is not written in your system

[2022-01-01 22:19] gltyree opened #211 "Iterative temporal reduction method not translating well to rgee"
* rgee version: 1.1.2
* R version: 1.4.1717
* Operating System: Windows 10

Hi all,

I want to reduce a daily dataset to monthly averages in rgee. The approach for doing this in GEE and the GEE Python API has been to set a list of months (1...n), then define a function using filter(ee.Filter.calendarRange() to map over the list to retrieve monthly images of the reduced variable. Here is an example

[2022-01-02 21:06] csaybar commented on #211
hi @gltyree, sorry, but in R, u have to use **ee_utils_pyfunc** when u work with ee.List objects. There are other headaches. Please see the next link: https://r-spatial.github.io/rgee/articles/rgee02.html#the-map-message-error to get more information. Let us know if the problem persists.

[2022-01-03 15:00] ifeanyi588 opened #212 "EEEexception: Computation Timed out"
I wrote the following function to pull data from the google earth engine server. I created the function this way to deal with the fact that GEE server often complains about the size of shapefile I am using. This code as you can see chops the shapefile into smaller bits and runs the queries to GEE before recombining all the data in R and returning it out to the console. I have also included the fun

[2022-01-05 06:33] MichelineCampbell commented on #169
Oh I'm so sorry, I never got around to replying, but yes, this solved it! Thank-you!

[2022-01-06 20:00] HunterGleason opened #213 "Way to import Earth Engine modules using 'require' ?"
* rgee version: 1.1.2.9
* R version:4.0.4
* Operating System:Debian Bullseye

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]
bash: earthengine: command not found

- [x] You can find the credentials file on your system:
[code]

TRUE

- [x] You can run a simple EE command from R:

[code]
TRUE

[2022-01-12 16:07] DavidDHofmann opened #214 "Reducing image collection to image returns only one value per band"
* rgee version: 1.1.2
* R version: 4.1.2
* Operating System: x86_64-pc-linux-gnu (64-bit)

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You have the Python API installed (from terminal):
[code]

- [X] You can find the credentials file on your system:
[code]
- [X] You can run a simple EE command from R:

[code]

### Description
Hi there!

I'm try

[2022-01-12 18:39] mcket747econ commented on #99
Hello. I have been running into the same issues mentioned in this discussion. When I run ee_install(py_env="rgee")
I get:
![image](https://user-images.githubusercontent.com/59522800/149200716-763a4600-7bfc-433a-9f88-67e83bd4a24b.png).

I then follow the instructions and get the same issue:
![image](https://user-images.githubusercontent.com/59522800/149200848-f33d2cc1-8419-4848-8d4f-c6dabd754924.pn

[2022-01-12 20:48] mcket747econ opened #215 "Unable to Connect R to Python with rgee/reticulate. Cannot create Python Environment."
* rgee version: 1.1.2.9000
* R version: 4.1.2
* Operating System: Windows Desktop 64 Bit

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) con

[2022-01-12 22:21] mcket747econ commented on #215
Even when attempting to install the earth engine api, I still get errors when I switch over to R
[code]

[code]

[2022-01-13 20:16] mcket747econ commented on #215
By following instructions from this youtube video: https://www.youtube.com/watch?v=1-k6wNL2hlo&t=86s by Ricardo Dalagnol.
I followed the commented steps for installing earth engine in a conda environment and then followed the given code for connecting rgee to the aforementioned environment.
A few things that I did not understand that the linked video showed me:
1. I needed to use miniconda and the

[2022-01-14 12:13] csaybar commented on #214
Hi @DavidDHofmann you have to define the scale argument:

[code]
The warnings appear because GEE retrieved your query using *positive y spacing* and `raster` does not automatically support it. I recommend you use `ee_as_stars` to avoid this problem. https://github.com/evetion/GeoArrays.jl/issues/53

[code]

[2022-01-14 15:16] DavidDHofmann commented on #214
Hi @csaybar
Thank you for the swift reply! The code works when providing the `scale` argument. Does this mean that it is not possible to download the data at its native resolution?

[2022-01-15 00:30] zackarno opened #216 "Question - how to get ee_get_date_ic to work after compositing and setting 'system:time_start'?"
Hello,

I was wondering if there is a way/work-around to get the `ee_get_date_ic` function to work again after creating a composite image collection in which the dates were reset in a map function?

You can see below I started to write a custom function to composite yearly & monthly rasters/ImageCollections (mainly borrowed from Javascript I saw stackoverflow). I believe it is working correctly. H

[2022-01-15 03:10] csaybar commented on #216
Hi, @zackarno nice first issue :)

Sorry, it was a bug in the rgee python side. It should work now.

[code]

Let us know if the problem persists.

[2022-01-15 03:28] csaybar commented on #214
Hi @DavidDHofmann  :)

In fact, you can!. The issue is that after applying a reducer `collection$mean()$clip(aoi)` you will lose the image geotransform properties.

[code]

![image](https://user-images.githubusercontent.com/16768318/149607099-d03159d5-2abb-4d81-8859-8aec602a3ebe.png)

[code]
![image](https://user-images.githubusercontent.com/16768318/149607118-df3c3dff-820c-4c34-9291-c1f751ba8df7.

[2022-01-15 10:03] DavidDHofmann commented on #214
Ah okey cool, I wasn't aware of this. This also explains why the estimated image size becomes unreasonably small after applying the reudcer. Thank you very much for the clarification. The download works perfectly fine now :)

[2022-01-15 10:03] #214 closed

[2022-01-15 15:15] zackarno commented on #216
Thanks so much @csaybar!   It is working now after the reinstall

[2022-01-15 15:15] #216 closed

[2022-01-16 15:25] zackarno opened #217 "Question - rgee inspector tool functionality available?"
Hello,

I was wondering if `rgee` has functionality to use an inspector tool on map visualizations (similar to the Javascript code editor)?  If not, is there a known work-around or is this a feasible enhancement/feature request?

[2022-01-16 16:48] csaybar commented on #217
This would be a very useful feature, however, I haven't had the time to implement it. In order to minimize dependencies on rgee, I think this would fit better in another R package (maybe eeProfiler?). We don't need to start from scratch, since much of the **[mapedit](https://github.com/r-spatial/mapedit)** code could be reused.

I'm going to leave this issue open in case someone is interested in i

[2022-01-18 01:33] zackarno opened #218 "Question: Subsetting imageCollection to single image w/ `get` + `index` produces ComputedObject rather than image?"
Hello,
I was wondering why with `rgee` an extra step is required to implement the below javascript work-flow:

[code]
In rgee I need to call `ee$Image` on the indexed list to convert it from a `ComputedObject` to a printable `Image`. In the Javascript code editor when I run the above I see the ComputedObject automatically being switched to an Image. Is it necessary for `rgee` to maintain the Compu

[2022-01-20 07:59] DavidDHofmann opened #219 "ee_Initialize() crashes Rstudio but works fine through the command line"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [X] You have the Python API installed (from terminal):
[code]

- [X] You can find the credentials file on your system:
[code]
- [X] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

Hi

[2022-01-20 08:03] csaybar commented on #219
hi @DavidDHofmann can you run.

[code]

Does the problem continue?

[2022-01-20 08:08] csaybar commented on #218
Hi @zackarno, thanks for reporting it.
It has a lot of sense to me to make `ee_print` more similar to the CodeEditor print. I will implement it in the next release.
Thanks :)

[2022-01-20 08:15] csaybar commented on #219
Please create a report and share it with us:

[code]
**Please audit the report and remove any sensitive information before sharing it!!**

[2022-01-20 08:44] DavidDHofmann commented on #219
Hi there and thanks for looking into this.

I tried running `ee$Initialize()` with the same result, the session simply crashes. Attached you can find the diagnostic report.

[code]

[2022-01-20 15:40] zackarno commented on #218
awesome - thanks @csaybar !

[2022-01-24 09:08] csaybar commented on #219
Hi @DavidDHofmann  sorry for the late reply.

The problem looks to be related to reticulate rather than rgee or the earthengine-api. Are you able to run Python code from within Rstudio?

[code]

[2022-01-24 20:20] DavidDHofmann commented on #219
Hi @csaybar

The code does not work in R-Studio: `Error: Unexpected '[' in "np$array(["` However, the following piece of code runs:

[code]
Returning
[code]
I've used reticulate in the past without any issues, so I'm not sure if this is the cause of the problem.

[2022-01-25 17:24] Tai-Rocha opened #220 "Request payload size exceeds the limit:41943304 bytes / Execution failed; out of memory"
* rgee version: 1.1.2
* R version: 4.1.2
* Operating System: Linux  Mint 20.3

Hi everyone, I followed this reproducible example to get some statistics (mean, stdDEv, min and max values) for each square of polygon based on NASEDEM elevation data (30-meter resolution).

[code]

My issue is: I have millions of squares and I need to get statistics (mean, stdDEv, max , min values, Morans I) for each s

[2022-01-25 18:26] csaybar commented on #220
Hi @Tai-Rocha, you must extract statistics by batches. https://r-spatial.github.io/rgee/articles/rgee03.html#reduceregion-vs--reduceregions-vs--for-loop

[code]

[2022-01-26 14:20] Tai-Rocha commented on #220
@csaybar  Thank you so much for the quick reply! I use the batches and unfortunately, after 12 hours running,  I got the same error...

![rgee](https://user-images.githubusercontent.com/11633554/151179648-507a8fbf-9378-48e3-a123-7f456caddea6.png)

[2022-01-27 01:10] zackarno opened #221 "error with `sf_as_ee(x)` , but not `sf_as_ee(st_geometry(x))`"
Hello,

I am getting an error I do not understand with the `sf_as_ee` function. Below is a reprex where I have sliced the very first feature from my original sf object and assigned the resulting/copy-pasted `dput` to object `adm3` . I get an error when running `sf_as_ee()` on the object. However, `sf_as_eeO` works after running `st_geometry()` or even after simply selecting one column from the sf

[2022-01-27 23:11] ambarja commented on #220
Hi @Tai-Rocha here you have a reproducible example, but remember that it is necessary to simplify the geomeries when our dataset has multiple polygons, because they send the request to the "api earth engine" in json format and if the polygons have multiple geometries, the request is blocked, because the size of the json is huge, the best practice is to use `st_simplify (sf)` or `ms_simplify (rmaps

[2022-01-28 21:30] gltyree opened #223 "Error with using reduceRegion with a grouped Reducer"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

Hi

[2022-01-30 13:48] DavidRoncal commented on #191
Hello César, by the way, have you tried to use rgee inside a flexdashboard with runtime:shiny? It runs for me locally but when it is compiled to post on shinyapps.io it doesn't work. Thanks in advance

[2022-01-31 12:27] csaybar commented on #220
I will close this issue since it is not directly related to rgee. https://groups.google.com/g/google-earth-engine-developers would be a better place to issues related to the client-server model.

[2022-01-31 12:27] #220 closed

[2022-01-31 12:54] csaybar commented on #221
Hi @zackarno the problem is that sf_as_ee only supports the conversion of columns of a type character, logical, and numeric.

The other problem was explained in the `details` section.

For small sf objects with few columns, only use `sf_as_ee(via="getInfo")`. If you require import a large dataset, consider trying the other options: `getInfo_to_asset` or `gcs_to_asset`.

I will improve the document

[2022-01-31 13:00] csaybar commented on #223
Hi @gltyree, something like this should work

[code]

[2022-01-31 13:00] #223 closed

[2022-01-31 14:48] Tai-Rocha commented on #220
Thank you @csaybar  and @ambarja ! I tried the suggestion of @ambarja but I'm still receiving the error. Now I am almost sure that the easier way is cut the geometry and do the statistics for small polygons (with fewer squares) ...

[2022-02-03 19:35] HunterGleason commented on #213
I believe you are correct, this functionality is built into the rgeeExtra package. Thanks, I’ll see if I can import the module using the rgeeExtra package.

From: gltyree ***@***.***>
Sent: February 1, 2022 8:10 AM
To: r-spatial/rgee ***@***.***>
Cc: Gleason, Hunter ENV:EX ***@***.***>; Author ***@***.***>
Subject: Re: [r-spatial/rgee] Way to import Earth Engine modules using 'require' ? (Issue #2

[2022-02-04 14:59] dpoursanidis opened #224 "rao() function from R-package rasterdiv"
Hello amazing team!

You are doing wonderfull developments.

I have a question/request.

I wanna run the Rao() function from the R-package rasterdiv at "EarthEngine Object: Image". How can that be done? Any plans to include rasterdiv in the developements?

[2022-02-06 18:34] zackarno commented on #221
Thanks a lot for the answer - good to know!

[2022-02-07 23:13] Leprechault opened #225 "Using Planet in rgee"
Hi Everyone!!

I'd like to know if is possible to using `rgee` for download Planet's imagery using a personal Planet API key? We have a Planet tutorial for Google Earth Engine (``https://developers.planet.com/docs/integrations/gee/gee/``) but it's possible the `rgee` integration?

Thanks in advance,

Alexandre

[2022-02-08 03:14] csaybar commented on #224
Hi @dpoursanidis thanks for your words of encouragement!

I never use rasterdiv, can you provide more details about what the function does exactly? I think would be a better feature for [rgeeExtra](https://github.com/r-earthengine/rgeeExtra).

[2022-02-08 03:25] csaybar commented on #225
Hi @Leprechault.

I'm not familiar with the Planet API, but it seems to be pretty handy! ... There should be no problem planet with rgee: https://developers.planet.com/docs/integrations/gee/quickstart/. Besides, Map$addLayer supports COG object visualization using titiler in the backend.

[code]

[2022-02-08 07:59] dpoursanidis commented on #224
Hi @csaybar.

The function does "In other words, Rao's Q is the expected difference in reflectance values between two pixels drawn randomly with replacement from the considered evaluated pixels set. The distance matrix can be built in several dimensions (layers), thus allowing to consider more than one band at a time" from https://www.sciencedirect.com/science/article/pii/S1470160X16304319.

We us

[2022-02-09 19:45] ckukund opened #226 "Error in py_resolve_dots(list(...)) : attempt to apply non-function"
### Description
Hey @csaybar

I have a challenge reproducing the following javascript code in R (code from: https://gis.stackexchange.com/questions/359099/how-to-perform-change-detection-using-classified-land-cover-map-in-google-earth);
[code]
My R implementation is;

[code]
The code above returns the following error;

[code]
What am I doing wrong in the translation @csaybar?

I have shared the LU

[2022-02-15 19:46] MatthieuStigler opened #227 "ee_as_sf(via=gcs) leads to Cannot update access control for an object when uniform bucket-level access is enabled"
* rgee version: 1.1.2
* R version: 4.1.2
* Operating System: Ubuntu 20.04

When I try to replicate the example in `ee_as_sf()`, using via="gcs", I get a strange error message: _Error in `abort_http()`:
! http_400 Cannot update access control for an object when uniform bucket-level access is enabled._ Strangely enough, the task goes through and shows as _completed_. Should I have used a different t

[2022-02-16 14:27] MatthieuStigler opened #229 "ee_as_sf() maxFeatures only works for maxFeatures>5000"
* rgee version: 1.1.2

It looks like the argument `maxFeatures` in `ee_as_sf()` is assumed to be always bigger than 5000. If it is less than 5000, this will trigger an error message: _Export too large. Specified 5000 features (max: 10)_ In the example below, the true FC has 5 features, and I am setting `maxFeatures = 10`, so this should work?

Looking at `rgee:::ee_fc_to_sf_getInfo_batch`, the pro

[2022-02-16 16:04] csaybar commented on #227
Hi @MatthieuStigler you have to switch your rgee-tests bucket from `bucket-level` to `fine-grained level`. A fully tutorial about how to do this and why is here: https://r-spatial.github.io/rgee/articles/rgee05.html.

![image](https://user-images.githubusercontent.com/16768318/154306016-6a58048d-e764-4d2e-9a36-27e187b28d7d.png)

[2022-02-16 16:23] #229 closed

[2022-02-16 18:41] MatthieuStigler commented on #229
I see, the option I had in mind was rather to simply change `if (maxFeatures > 5000)` to `if (maxFeatures != 5000)`, allowing the user to choose the `maxFeatures` herself, rather than silently setting `maxFeatures` back to 5000.

Bonus point: if you do it this way, the error message is hilarious!

[2022-02-16 20:39] ckukund commented on #226
Thank you @csaybar for your support. I have edited the issue description and hope that the example is now reproducible.

[2022-02-16 23:49] csaybar commented on #226
Hi @ckukund thank you it helps a lot!

The map that the code uses is a Javascript method, not an Earth Engine method!
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map

[code]

[2022-02-17 00:30] #210 closed

[2022-02-17 00:31] Leprechault commented on #225
Thanks @csaybar!!! Using GEE plugin in Google Cloud works!!

[2022-02-17 00:31] #225 closed

[2022-02-17 02:25] Leprechault opened #230 "Get NDVI average data from COPERNICUS/S2_SR collection by date"
Hi Everyone!!

I'd like to extract the NDVI average from `COPERNICUS/S2_SR` in a specific `ROI` and create a data frame. In my example:

[code]

My desirable output is a data frame with the average NDVI in each date/tile inside my ROI and not all the band values in 10m resolution. Please, any help with it?

[2022-02-18 12:08] MatthieuStigler commented on #227
oh, sorry about this, I missed that part of the documentation! I changed the access control, and now it runs fine!

I also tried the `ee_utils_sak_validate()` function, it does not work when I don't specify `bucket` (given that some buckets have the previous uniform control behavior), but it does when I specify `ee_utils_sak_validate(bucket = "rgee-tests")`

[2022-02-18 12:10] MatthieuStigler commented on #227
As a side note, if one tries `ee_utils_sak_validate(bucket = "wrong")`, some error messages come very early, but the test still takes a minute?

[code]

[2022-02-18 21:13] zackarno opened #232 "issue with `get` on `ee$List`"
Hello,

There seems to be an issue when using `get` on an earth engine list. Below I have created a reprex to show the issue.

Below is the JS which works fine in the code editor

[code]
![image](https://user-images.githubusercontent.com/23731112/154759816-1bf1a497-3790-45bd-ac52-829722cca263.png)

Here is the R code that produces the error:

[code]

<sup>Created on 2022-02-18 by the [reprex packa

[2022-02-18 21:27] ambarja commented on #232
Hello @zackarno  only put list() inside ee$List() > `ee$Image(ee$List(list(first))$get(-1)) %>%  ee_print( )`

[code]

[2022-02-18 21:46] zackarno commented on #232
amazing, thanks @ambarja for the quick reply - this works! So whenever using `ee$List` you need to also use `base::list`?

[2022-02-18 22:22] ambarja commented on #232
@zackarno yes, here some examples, maybe @csaybar could clarify this case better.
[code]

[2022-02-18 23:49] csaybar commented on #227
Hi @MatthieuStigler can you show us the message error when run `ee_utils_sak_validate()`.

You're right, there is no reason for continuous checking if a previous check fails, we will fix it soon!

[2022-02-18 23:56] csaybar commented on #230
Hi @Leprechault S2 does not have a band called NDVI.

![image](https://user-images.githubusercontent.com/16768318/154776066-e9aec17a-f18a-4393-b681-6aa294f185d4.png)

Is there something missing in your code?

[2022-02-19 00:09] csaybar commented on #232
Yes, this is a typical issue due to the different coercion rules implemented in the Javascript and Python EE client libraries. The elements of the `ee$List` must be either a list or a computer object. See https://developers.google.com/earth-engine/apidocs/ee-list

It seems that passing an `ee.Image` object in Javascript immediately changes it to a List, however, this does not happen in the Python

[2022-02-19 13:51] Leprechault commented on #230
Thanks @csaybar, I need to put `B4` and `B8` in `img$select`, but I'd like in output just only NDVI and not the bands. I need to add something like ( eg. python example):

[code]

But I don't know how make it and I don't find similar example for Sentinel-2 in: `https://csaybar.github.io/rgee-examples/`

Could you please help me with it?

[2022-02-19 16:39] Leprechault commented on #230
@csaybar It works now. I take some landsat examples for changed `img$select("NDVI")` by `img$select("B[4|8]")` and in `s2_clean` I add `img_band_selected <- img_band_selected$select("B8")$subtract(img_band_selected$select("B4"))$divide(img_band_selected$select("B8")$add(img_band_selected$select("B4")))`. The complete solution:

[code]

[2022-02-19 16:57] Leprechault opened #233 "Average NDVI inside 95% percentile"
I'd like to get NDVI average data from `COPERNICUS/S2_SR` collection by date using `rgee` package. I don like to extract the NDVI mean with all values inside my `ROI`, but inside the interval 5th percentile and  95th NDVI values.
I try to do:

[code]
I didn't find any way for combining `ee$Reducer$mean()` and `ee$Reducer$percentile(95)` . I add `img_band_selected$reduce(ee$Reducer$percentile(list(

[2022-02-21 05:54] csaybar commented on #230
great! :)

[2022-02-21 05:54] #230 closed

[2022-02-21 06:00] csaybar commented on #233
Hi @Leprechault would not be better to extract the entire time series and do the filter locally?. I mean using quantile: https://www.rdocumentation.org/packages/stats/versions/3.6.2/topics/quantile.

[2022-02-21 13:39] Leprechault commented on #233
Hi @csaybar , I don't extracts the NDVI values from the image locally because I have more than 23,000 areas since 2019 and I don't have RAM memory for aggregate this size of data after aquisition. But is strange that output contains `T22JCM_p95` but the values is the same:

[code]

[2022-02-21 14:39] Leprechault commented on #233
Thanks, @csaybar, I considering the `ee_extract` using a single value using `ee$Reducer$mean()` or `ee$Reducer$percentile()`, but not both.

[2022-02-21 14:56] csaybar commented on #233
Hi @Leprechault the problem is that `ee_extract` assume that the output name is the same that the reducer name. For instance,
ee$Reducer$**mean** -> {'id': xxxxx, '**mean**': '99'}

This always happens in reducers that only return a single value. To make that percentile reducer works in ee_extract run as follows:

[code]

We are going to work in a solution to make that ee_extract works for all the

[2022-02-21 15:16] #233 closed

[2022-02-21 19:55] ambarja opened #235 "Problems with the display of Map with COG"
Hi @csaybar , recently I have been using Google Cloud Storage integration with rgee for I have eternal map in Rmkadown, however I have problem with displaying COG format with Map$addLayer, additional I would like to remove the black bakcground.
Here I added my script step by step.

### Demo01 [problem: white all image]
[code]
![]()
###  Demo 2 [Problem: Black background ]
[code]
### alternative
[c

[2022-02-24 12:27] ckukund commented on #226
Many thanks @csaybar! That works perfect! So cool!

[2022-02-24 12:27] #226 closed

[2022-02-24 12:39] ambarja opened #237 "Legend does not appear on MacOS"
![image](https://user-images.githubusercontent.com/23284899/155525518-7f1046f9-e380-4c6c-9668-e19a279dc76b.png)

### Code:

[code]

[2022-02-24 19:21] Leprechault commented on #233
@csaybar `combine` like in GEE is not a option in `rgee` ? (eg. `var.reducers <- ee.Reducer.percentile(95L).combine(ee.Reducer.())`

[2022-02-25 00:16] zackarno opened #238 "problem with `ee_get_date_ic()` on `JRC/GSW1_3/YearlyHistory` ImageCollection"
Hello,

Hope you are doing well.

I am noticing an unexpected error with `ee_get_date_ic()` on the "JRC/GSW1_3/YearlyHistory" `ImageCollection`. See reprex below with in-line comments

[code]

<sup>Created on 2022-02-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-02-25 01:19] zackarno commented on #238
Not sure if this is helpful or not, but I realized the mismatch seems to go away after filtering the dates - see below

[code]

<sup>Created on 2022-02-24 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-03-03 16:47] ckukund opened #239 "Problem with mapping functions over a collection - not working?"
Hey @csaybar and @davemlz

I seem to have an issue with mapping functions since yesterday. This affects both eemont functions and locally defined functions. Please see the example below;

### Description

[code]

I unfortunately miss all the indices up to this point.

[code]
I get the following output when I run the preceeding line;

[code]

Has something changed in the last two days? The describe

[2022-03-03 16:57] #239 closed

[2022-03-03 17:04] ckukund commented on #239
Hey guys,

There is no issue here. My bad as I previously selected "inBands"!

[2022-03-04 08:51] davemlz commented on #239
Great, @ckukund!

One thing: [NDBI is already included in Awesome Spectral Indices](https://github.com/davemlz/awesome-spectral-indices#urban-%EF%B8%8F), so, you can directly compute it without using `normalizedDifference()`.

Second: I don't know the BSI, but if you want, you can [add it to Awesome Spectral Indices](https://github.com/davemlz/awesome-spectral-indices#call-for-indices-rotating_lig

[2022-03-05 09:54] ckukund commented on #239
Very nice, @davemlz!

It is also cool to notice that ```spectralIndices()``` as well works with TOA data.

I computed BSI according to ([https://www.mdpi.com/2072-4292/9/12/1245](url)) and often use  [https://www.indexdatabase.de/db/i.php](url) as reference to many index equations.

Sure, I will be happy to contribute some of the indices within my domain/research area to ``spectralIndices()``!

Ki

[2022-03-07 19:13] Fredtouz opened #240 "Error in `confirm_some_files()`:....! `file` does not identify at least one Drive file."
* rgee version: 1.1.2.9000
* R version: 4.1.2 (2021-11-01)
* Operating System: x86_64-pc-linux-gnu (64-bit)

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:
[code]
- [x] You can run a simple EE command from R:

[code]

Attach your Pyth

[2022-03-14 02:40] ambarja opened #241 "Problems with user memory limit exceeded"
Hi @csaybar :eyes: , I recently used rgee in my workflow, but I have problem with user memory limit exceeded, maybe it is because of lapply usage or some bug in my workflow?
Thanks.
[code]
[code]

[code]
[code]

[2022-03-14 16:45] aloboa opened #242 "No non-system installation of Python could be found."
* rgee version:
rgee_1.1.3
* R version:

R version 4.0.4 (2021-02-15)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Pop!_OS 21.04

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/blas/libblas.so.3.9.0
LAPACK: /usr/lib/x86_64-linux-gnu/lapack/liblapack.so.3.9.0

* Operating System:

                                                           sysname

[2022-03-14 19:17] csaybar commented on #242
`rgee` use reticulate to find Python ENV paths. https://github.com/rstudio/reticulate/issues/1012
If it can not find them, you can set it manually creating an environment variable. In rgee we have a function to do that:

[code]

[2022-03-14 19:42] csaybar commented on #242
The path is just a reference, users can change the anaconda/miniconda installation directory anytime. Take a look to the `ee_install_set_pyenv` documentation:

[code]

[2022-03-15 07:01] aloboa commented on #242
Fresh RStudio session:

[code]

Instead, the "raw R" session (without RStudio, does not complain:
[code]

 
Console:
[code]

[2022-03-15 11:49] aloboa commented on #242
I understand, but considering the last contribution to that issue is from  Jun 29, 2020
and the heavy dependency of rgee on reticulate, it would be useful if you could advice users
like me on what to do (besides trying to shake that issue in the reticulate repo) to be able of using
rgee (which is what I want to do). There has to be some way to circumvent the problem.

[2022-03-15 12:09] csaybar commented on #242
Dear @aloboa you don't need to run either `ee_install` or `ee_install_set_pyenv`. If you `/usr/bin/python3` already have installed the `numpy` and `earthengine-api` you shouldn't have any problem. As https://github.com/rstudio/reticulate/issues/710
says just set the environment variable to prevent the miniconda prompt:

[code]
See [this link](https://stat.ethz.ch/R-manual/R-devel/library/base/html

[2022-03-15 13:58] aloboa commented on #242
Thanks!
The `Sys.setenv(RETICULATE_MINICONDA_ENABLED=FALSE)`
did the trick. I'm onboard now.
I suggest mentioning this command in the documentation for installing rgee. Despite being an issue related to reticulate, it
does affect users willing to install rgee.

[2022-03-15 14:41] aloboa opened #244 "ee.Algorithms.Image.* available in rgee?"
Are ee.Algorithms.Image.Segmentation.* tools available through rgee? In particular, ee.Algorithms.Image.Segmentation.* ?

[2022-03-15 18:29] vanubhav opened #245 "I'm having the same issue, using R 4.1.3"
* rgee version:
* R version:
* Operating System:

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code]

### Description

De

[2022-03-15 19:33] #244 closed, assigned to nobody

[2022-03-15 19:36] csaybar commented on #245
Hi, @vanubhav. Would you mind providing us with some context? :)

[2022-03-16 08:42] csaybar commented on #242
Hi @aloboa I don't agree with your suggestion (reticulate is not rgee! both are active packages so this little bug will most likely be fixed in the future), but we understand that the installation process can be a bit frustrating.

We want to remark that the issue here was never related to the installation.

No non-system installation of Python could be found.
Would you like to download and instal

[2022-03-16 08:42] #242 closed

[2022-03-16 08:43] csaybar commented on #242
Hi @aloboa, sorry but, we don't agree with this suggestion (reticulate is not rgee! both are active packages so this little bug will most likely be fixed in the future), but we understand that the installation process can be a bit frustrating.

We want to remark that the issue here was never related to the installation.

No non-system installation of Python could be found.
Would you like to downlo

[2022-03-16 08:57] aloboa commented on #242
@csaybar, do not want to make you waste your time, but I do want to show the user's point of view.

But the user does not know that, just sees that something is going wrong

Perfect!, but I just suggest putting that recommendation where it is most useful for the users. Perhaps not at the installation section, but at the 1st run. Note that while reticulate has a very dynamic development, this parti

[2022-03-16 09:26] aloboa commented on #244
Great!
In order to avoid asking this type of question again, could either
`ee_help(ee$Algorithms$Image) `or `ee_help(ee$Algorithms) `provide a really helpful information?
Or from the ee entry in the Documentation for the package (help(rgee), the selecting ee)
Or perhaps there is another way to get this information that I've not been able to find (apologies in this case).

[2022-03-16 09:54] csaybar commented on #242
Hi @aloboa, not all Linux users experience this issue (this is a very particular case, which unfortunately you have had to experience). As you may have noticed, reticulate has hundreds of open issues regarding the installation (and each one is unique).  Including all of these isolated one-off cases in the rgee documentation would be too much work for us.

We believe that [rgee/issues](https://gith

[2022-03-16 10:03] csaybar commented on #244
Hi @aloboa

what `ee_help` does is render in an R-friendly format the documentation of the [earthengine-api](https://github.com/google/earthengine-api/tree/master/python) Python package. There is no relevant information in `ee$Algorithms$Image` because there is no relevant information in the `ee.Algorithms.Image` Python class.

See the next link: https://github.com/google/earthengine-api/blob/6001

[2022-03-16 14:18] aloboa opened #246 "Security concern with permissions to Tidyverse API Packages for ee_as_raster()"
I understand that, in order to be able of using `ee_as_raster() `and similar functions, I must run
`ee_Initialize(drive=TRUE)`

I am bit concerned about having to let Tidyverse API Packages
"See, edit, create, and delete all of your Google Drive files"
Could this be a security risk?
Is this permission forever or just for the current session?
Are edit and delete really needed? I would prefer having

[2022-03-16 22:49] csaybar commented on #246
Hi @aloboa, **googledrive** via [gargle](https://gargle.r-lib.org/index.html) create a *service account token* that will give you privileges to edit, create, and delete GD files. But this **token will never leave your computer**, so there shouldn't be any security issues unless you share your key with someone else.  However, if you run a certain script, you could delete all your GD files!, it's th

[2022-03-17 07:39] aloboa commented on #246
But both in `ee_as_raster() `and `ee_image_to_drive()` the examples from the documentation start by
`ee_Initialize(drive = TRUE)`
which opens a window in which I do not see how I can grant reading permissions only, it is everything or nothing:

![image](https://user-images.githubusercontent.com/6074054/158759905-87962b21-e224-436c-a1a2-a27bf1f40287.png)

[2022-03-17 09:09] csaybar commented on #246
@aloboa rgee depends on googledrive, and it seems that it does not support this feature with the Oauth app prompt (idk why). However, if you need more flexibility you can create a [service account token](https://developers.google.com/identity/protocols/oauth2/scopes) to define the IAM policy you desire. Something like this should work:

[code]

[2022-03-17 09:11] #245 closed

[2022-03-17 17:39] tcalegario opened #247 "package or namespace load failed -- .Rdata"
* rgee version: 1.1.3
* R version: 4.1.0
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ No] You have the Python API installed (from terminal):
[code]

- [No] You can find the credentials file on your system:
[code]
- [depends] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configurati

[2022-03-17 19:11] tcalegario commented on #247
Using old project i got this:

![image](https://user-images.githubusercontent.com/28005796/158878070-3d0dbc12-47de-4178-a353-92a5c430c3e1.png)

Using new project:

![image](https://user-images.githubusercontent.com/28005796/158878130-02252855-2855-4c54-bf95-00494a345ccf.png)

[2022-03-17 19:18] tcalegario commented on #247
Tool -> Global options -> python -> select python interpreter -> conda-> choose rgee env.

[2022-03-18 05:27] csaybar commented on #247
Hi @tcalegario, what do you mean with save a project?. If you create a `.Rdata` remember that you can not save the `reticulate` pointers.

You don't need to do this if you set your Python ENV with `ee_install` or `ee_install_set_pyenv` (.Renviron).

[2022-03-18 05:37] #247 closed

[2022-03-18 08:25] aloboa commented on #246
Cesar,
I have checked that link. I understand the section rgee users would need is [Drive API](https://developers.google.com/drive), v3 , but
I'm frankly overwhelmed for a tide of information that I do not understand. How did you get the token you include in your example? I've not been able to find it.

By looking at `?drive_auth()`, I have tried:
[code]
I'm prompted:
[code]
I select 2 (not knowin

[2022-03-18 09:34] aloboa opened #248 "Is zoom=18 the maximum?"
* rgee version:
1.1.3
* R version:
R version 4.0.4
* Operating System:

                                                           sysname
                                                           "Linux"
                                                           release
                                        "5.15.11-76051511-generic"
                                                           v

[2022-03-18 20:18] csaybar commented on #248
Hi @aloboa thanks, we fixed the issue. Please let us know if the problem persists!

[code]

[2022-03-18 20:23] csaybar commented on #246
Hi @aloboa I need to investigate a bit more this, but I agree that users should have the option to control privileges. If my memory serves me well, this was a feature from older versions of googledrive (R package).

Unfortunately, this is something that must be done outside R.

[2022-03-20 09:39] aloboa commented on #248
Works great, thanks!

[2022-03-20 09:46] aloboa commented on #246
In order to circumvent the problem, by now I'm using
`ee_image_to_asset()`
for a set of images and then go to the GEE gui to
save them from asset to a locally synced folder in drive.
I wonder if you could not use `Export.image.toDrive() `from within rgee,
bypassing the R package googledrive (I do not need to
save data from R to drive, but from GEE assets to drive. Then I can read
those files into

[2022-03-24 16:43] coverton-usgs commented on #212
I have a computationally similar process (no where near as eloquently written) that uses reduceRegions with a for loop on each polygon in a lengthy shapefile and uses getInfo() to extract a table of results saved locally.  (I recognize that this is probably the least efficient process its possible to implement).  So far its completed a little over 1500 iterations through the for loop.  But the loo

[2022-03-24 19:28] egbendito opened #249 "Can't download images from GCS bucket using `ee_gcs_to_local()`"
* rgee version: rgee 1.1.3
* R version: R version 4.1.2
* Operating System: Ubuntu 20.04

- [x] You have the Python API installed (from terminal):

- [x] You can find the credentials file on your system:

- [x] You can run a simple EE command from R:

Python (reticulate) configuration:

[code]

### Description

I am trying to export an image to Google Cloud Storage and from the bucket to my local

[2022-03-25 07:40] TianyaImpression opened #250 "Question: Continue after the task is disconnected"
* rgee version: rgee1.1.3
* R version: 4.1.3
* Operating System: win10

![image](https://user-images.githubusercontent.com/22004043/160075727-d328c1c0-fa20-41df-b18a-989ebba8f08a.png)

Sometimes due to poor network, rgee's ee_as_raster task will be interrupted. Is there a way to make it continue to execute after it is interrupted? instead of running again?

Thank you for your reply!

[2022-03-25 14:21] #240 closed

[2022-03-31 10:23] SvenVw opened #252 "Add option to enable the high-volume endpoint instead of the default endpoint"
Hi, when making automated requests to Earth Engine it advised to use the high-volume endpoint instead of the default endpoint (https://developers.google.com/earth-engine/cloud/highvolume). At the moment it looks like `ee_Initialize`  always uses the default endpoint. Would it be possible to enable the use of the high-volume endpoint by for example adding an extra argument to `ee_Initialize`. If ne

[2022-04-06 14:34] 12038019 opened #253 "Problems with ee_Initialize(), why i always meet this erro and never successfully Initialize?"
* rgee version: 1.1.3
* R version: 4.1.3
* Operating System: Windows 10

# Initialize the Earth Engine module.
ee_Initialize()

-- rgee 1.1.3 -------------------------------------------- earthengine-api 0.1.304 --
 √ user: not_defined
 √ Initializing Google Earth Engine:Error in py_call_impl(callable, dots$args, dots$keywords) :
  EEException: Not signed up for Earth Engine. Visit https://eartheng

[2022-04-11 22:47] bmaitner opened #254 "Inconsistency with names using ee_imagecollection_to_local()"
* rgee version: 1.1.2
* R version: 4.1.2
* Operating System: Windows, Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [ x] You have the Python API installed (from terminal):
[code]

- [ x] You can find the credentials file on your system:
[code]
- [ x] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuratio

[2022-04-17 11:32] csaybar commented on #238
Hi @zackarno deeply sorry for the very late reply. This is a bug that seems to happen on the Earth Engine side. I already reported in the GEE devs groups. You can find more details on the link below:

https://groups.google.com/g/google-earth-engine-developers/c/XUy27yH7XJI

btw, I added a more informative message, if the error occurs again in the future. Let me know if it works for you

[code]

Ve

[2022-04-17 11:33] #238 closed

[2022-04-17 11:39] csaybar commented on #235
Hi @ambarja i will take a look about it soon :) thank you

[2022-04-17 11:39] csaybar commented on #237
Hi @ambarja I will take a look at it soon :) thank you

[2022-04-17 11:41] csaybar commented on #241
yes in memory issues cases, I think it's better a batch approach. See https://developers.google.com/earth-engine/guides/debugging#user-memory-limit-exceeded

[2022-04-17 11:41] #241 closed

[2022-04-17 12:50] csaybar commented on #249
Hi, @egbendito sorry for the very late reply I can't reproduce this error, can you share with me your traceback.

[code]

We have a new vignette with information about how to sync GCE + GEE + rgee:
https://cran.r-project.org/web/packages/rgee/vignettes/rgee05.html

[2022-04-17 13:02] csaybar commented on #250
Hi @TianyaImpression, yes I highly recommend always using `lazy=TRUE` in case of poor internet connection. When 'lazy=TRUE', instead of getting a RasterStack object, it will retrieve a 'future::sequential' object.

For instance:

[code]

The function above will create a `future::sequential` object with the EE task initialized (i.e. from GEE to DRIVE/GCS). Now using:

[code]

Users can decide when

[2022-04-17 13:05] csaybar commented on #252
Hi @SvenVw this looks great, I will apply it to the high QPS, after that, I will try to add this new feature. Please a PR would be very helpful :pray: Thanks! :)

[2022-04-17 13:14] csaybar commented on #253
Hi @12038019 it seems that you don't have a valid EE account, can you use the Code Editor web IDE?

[2022-04-17 13:41] csaybar commented on #254
Hi, @bmaitner  can you share with us a reproducible example. Thanks :)

[2022-04-18 22:51] bmaitner commented on #254
Sure thing, apologies for that, I should have thought ahead and included one.  See below :)

[code]

<sup>Created on 2022-04-18 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-04-19 06:09] zackarno commented on #238
Thanks @csaybar - the new message helps! Also good to know these types of issue can occur from the EE side.

[2022-04-19 10:49] yaozhang-eco opened #255 "Rgee install problem"
* Operating System:
![image](https://user-images.githubusercontent.com/103999328/163987529-ece68f4f-790a-4585-8aa9-3128c2de9454.png)

how can I solve this problem？
anyone can help me

[2022-04-22 07:05] TianyaImpression commented on #250
@csaybar Thank you for your reply! I use GEE to obtain a large range of Landsat images, so the stitching is very time-consuming, and the general processing process will not be interrupted, but the process of rgee Moving image from Google Drive to Local is sometimes interrupted due to the influence of the network. I would like to know this rgee from the Internet Can the process of downloading data

[2022-04-29 13:58] olehprylutskyi opened #256 "Error in py_call_impl(callable, dots$args, dots$keywords) : AttributeError: module 'collections' has no attribute 'Callable' during ee_Initialize()"
* rgee version: 1.1.3.9000
* R version: 4.1.2
* Operating System: Ubuntu 22.04 LTS
* Python (reticulate) configuration:

[code]

Hello! I have successfully installed and set up `rgee` package, as well as the `earthengine` environment.` ee_check()` confirms successful installation. But when I try `ee_Initialize()`, it results in an Error message:

[code]
I suppose that happened due to some Python i

[2022-05-02 20:31] graflukas138 opened #257 "ee_image_to_drive doesn't rename"
* rgee version: 1.1.3
* R version: 4.1.3 (2022-03-10) nickname       One Push-Up
* Operating System: Windows

#### At submit an issue, please attached the following information of your `rgee` session:

Attach your Python (reticulate) configuration:

python:         C:/Hyapp/Anaconda3-2020.11/envs/rgee/python.exe
libpython:      C:/Hyapp/Anaconda3-2020.11/envs/rgee/python38.dll
pythonhome:     C:/H

[2022-05-02 20:33] #257 closed

[2022-05-03 16:45] btavernia opened #258 "reduceRegions not adding property to Feature Collection"
* rgee version: 1.1.3
* R version: 4.1.2
* Operating System: Windows (64-bit)

The rgee session indicates that I have earthengine-api 0.1.302.

I have been able to locate the credentials file on my system:

C:\Users\Brian.Tavernia\.config\earthengine\credentials

I have been able to run simply EE commands from R (e.g., reading Feature and Image Collections).

My Python (reticulate configuration is

[2022-05-03 17:14] ambarja commented on #258
Hello @btavernia, please Can you share your featurecollection (`city`)?
Also, I recommend you to use [`ee_extract`](https://r-spatial.github.io/rgee/reference/ee_extract.html) function instead of  `Reduce$Region`

[2022-05-03 19:34] btavernia commented on #258
Note that I tried ee_extract, and it did not return the mean.

Here's the link to the asset.

https://code.earthengine.google.com/?asset=projects/ee-btavernia/assets/tl_2021_us_uac10_1_500

I appreciate your assistance.

[2022-05-03 19:54] ambarja commented on #258
@btavernia  Here is a reproducible code :point_down:  , to extract the value take 2 min max
[code]

[2022-05-03 20:45] btavernia commented on #258
Thanks!  This works.  It doesn't work when I map the user-defined qFn function on image collection (which is commented out in the code above).  I developed this function (and bitwise function) to mask shadow, cloud, and snow from the images.  Any notion why the user defined functions might be causing an issue?

#Helper function to extract the values from specific bits
#The input parameter can be a

[2022-05-05 06:25] zackarno opened #259 "`ee_extract` fails with feature collection > 5k features no matter how `via` is set"
Hello,

I noticed `ee_extract` fails with feature collection > 5k features no matter how `via` is set. I think it is because of how `rgee::ee_as_sf`  is called without the the option to change the default `maxFeatures` argument in `rgee::ee_extract` . I've copied this section of the code below. I think a simple solution could be to let the user supply a `maxFeatures` argument to `rgee::ee_extract`

[2022-05-06 09:43] sob95 opened #260 "Error in loading rgee library"
* rgee version: 1.1.3
* R version: 4.1.1
* Operating System: Windows 10 64-bit

I have been happily using rgee with no problems up until yesterday. Today when I tried to load the library I got this error:
library(rgee)
Error: package or namespace load failed for ‘rgee’:
 .onLoad failed in loadNamespace() for 'rgee', details:
 call: py_module_import(module, convert = convert)
 error: ModuleNotFound

[2022-05-08 22:28] Leprechault opened #261 "Extraction of bands and vegetation indices"
I'd like to get "B2","B3","B4","B8","NDVI","SAVI" and "TVI" average data from COPERNICUS/S2_SR collection by date/tile. I like to extract these bands and vegetation indices mean inside my ROI and I create a `s2_clean` function for bands selection and indices creation but doesn't work.
I try to do:

[code]
But I always have as output:

[code]
Please, any help with it?

[2022-05-13 16:05] vlahm opened #262 "rgee and Earth Engine Python API version incompatibility"
* rgee version: 1.1.3
* R version: 4.2.0
* Operating System: Ubuntu 20.04

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
- [x] You can find the credentials file on your system:
- [x] You can run a simple EE command from R:

# Initialize the Earth Engine module.
ee_Initialize()

── rgee 1.1.3 ────

[2022-05-16 14:09] Leprechault opened #263 "Problem for create index using `image$expression`"
I'd like to create the `SAVI` index using the formula `expression = '1.5 * ((NIR - RED) / (NIR - RED + 0.5))'` inside `image$expression`, but when I try to do it, the output is:
[code]

In my example is:

[code]
Please, any type or help about it?

[2022-05-23 19:18] agonzest commented on #87
Hola Cesar, he seguido tus comentarios y me has ayudado bastante en lo que estoy haciendo, te agradezco. Ahora estoy teniendo el mismo problema de @dante136677 y no puedo descargar ee.ImageCollection porque aparece el siguiente mensaje:

ERROR in Earth Engine servers: Pixel type not supported: Type<Long>. Convert the image to a floating point type or a smaller integer type, for example, using ee.I

[2022-05-26 16:13] #215 closed

[2022-05-26 17:14] mcket747econ opened #264 "Even Though I have Earth Engine API installed when I search from terminal it won't appear."
* rgee version: 1.1.3
* R version: 4.2.0
* Operating System: Windows 64-bit operating system, x64-based processor.

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach yo

[2022-05-27 12:11] ArapKorir commented on #260
Hi,

Until recently, everything was working well but now calling library(rgee) brings this error:

Error: package or namespace load failed for ‘rgee’:
 .onLoad failed in loadNamespace() for 'rgee', details:
  call: py_module_import(module, convert = convert)
  error: ModuleNotFoundError: No module named 'ee'

I do not know how to proceed from here.

Kindly help

[2022-05-28 17:36] poniitty opened #265 "ee_Initialize in a non-interactive R session"
* rgee version: 1.1.0
* R version: 4.1.1
* Operating System: Linux 64-bit

Thanks for the great resource!

I have a workflow in R including download of rasters from GEE via Google Drive.

Everything runs perfectly when running the code interactively in RStudio but I'm running into troubles when trying to run the R code via SLURM on the same super-cluster it works otherwise.

The problem seems to b

[2022-06-09 00:48] zackarno opened #266 "feature request - transparency slider for layers in map after calling `Map$addLayer()`"
Would it be feasible/possible to add a transparency slider for the layers added to the map with `Map$addLayer()` ?  There is currently a checkbox which is nice,  but I think an additional transparency slider (as there is in GEE javascript code editor) would be an improvement.

[2022-06-19 18:17] huangguacui opened #267 "ee_Initialize returns invalid request"
* rgee version: 1.1.3.9000
* R version: 4.2
* Operating System: win10

Python configuration:

[code]

### Description

Previous version works fine. After upgrading the R and packages, initializing the Google Earth Engine always returns invalid request. Any suggestions and help are greatly appreciated!

### What I Did

[code]

[2022-06-20 06:50] jmrmcode commented on #267
Hello,

Same problem here.

**py_config()**
python:         C:/Users/***/AppData/Local/r-miniconda/envs/rgee/python.exe
libpython:      C:/Users/***/AppData/Local/r-miniconda/envs/rgee/python38.dll
pythonhome:     C:/Users/***/AppData/Local/r-miniconda/envs/rgee
version:        3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 05:59:00) [MSC v.1929 64 bit (AMD64)]
Architecture:   64bit
num

[2022-06-20 16:22] jmrmcode commented on #267
Hi, I got this response from the Google Earth Engine Developers forum:

_rGEE is using an outdated client library (v0.1.302). The current version of the Earth Engine Python Client Library is v0.1.315_

However, I installed the newest version, so, my guess is that rgee needs to be updated because while I updated it to an older version (0.1.302) as they recommend, the issue persists.
Regards
Juanmi

[2022-06-20 19:46] csaybar commented on #267
hi @jmrmcode yes sorry for the inconvenience, I will work on it this weekend. You can still use EE with rgee using:

[code]

However, integration with drive and GCS API will not work.

[2022-06-21 13:02] jmrmcode commented on #267
Thank you! @csaybar

[2022-06-22 02:39] jwilliamrozelle opened #268 "ee_check() error, Python version 3.10 is recognized as Python 3.1"
* rgee version: 1.1.3
* R version: 4.1.2
* Operating System: Windows

when I run ee_check, I get the error:

`(*)  Python version
√ [Ok] C:/Users/jwrozelle/AppData/Local/Programs/Python/Python310/python.exe v3.1
Error in ee_check_python(quiet = quiet) : rgee needs Python 3.5 >=`

Python 3.10 should satisfy this requirement, but looks like the check is getting hung up on the weird python version nu

[2022-06-22 03:56] jwilliamrozelle commented on #267
I'm also having this issue, but when I run ee$Initialize, I'm getting this error:

`Error in py_call_impl(callable, dots$args, dots$keywords) :
AttributeError: module 'collections' has no attribute 'Callable'`

[2022-06-22 14:17] mhkhan27 commented on #267
I think I found a way with gcloud
1. install gclould
2. Instead of running ee_initilize(), i used ee$Authenticate() and then ee$Initialize()
All I can say is it's working for me!

[2022-06-22 16:09] huangguacui commented on #267
Hi @csaybar , I updated the rgee, and run the rgee::ee_Initialize(drive = T). I got the following issue:
[code]
Any suggestions? Thanks!
[code]

[2022-06-23 15:22] csaybar commented on #267
Hi, @huangguacui I have already opened a request in EE issue tracker (https://issuetracker.google.com/issues/236861104), to inform/help, in a better way, R users with this new requirement. In short, you now also **need to install gcloud in your system**. This requirement comes from the Earth Engine **Python** API, not R.

Follow this instruction to install gcloud and the issue should be solved.
ht

[2022-06-23 15:31] csaybar commented on #268
Hi @jwilliamrozelle thank you for opening this issue!

This was an embarrassing bug from my side 🫣🙈, but @MartinHoldrege solved, and his changes are in the dev version -> https://github.com/r-spatial/rgee/pull/251/commits/9f6eeb00d5f26c48b7c95aa6c8a4d2feee04c795

Can you confirm us that this bug also occurs if you install the latest version?
[code]

[2022-06-24 01:21] jwilliamrozelle commented on #268
Sorry, I was using the latest version on CRAN. I'll get back to you if I use the github version and still have an issue!

[2022-06-28 20:26] Leprechault commented on #263
Thanks very much! @joshualerickson

[2022-06-28 20:26] #263 closed

[2022-06-29 08:24] kfcabigao1 commented on #267
Hello, Im new to R and want to use GEE within Rstudio thru RGEE.

I have already installed gcloud but still encountered a problem when initializing as listed below:

"ERROR: (gcloud.auth.application-default.login) unrecognized arguments:
User/.config/earthengine/credentials-client-id.json
 To search the help text of gcloud commands, run:
  gcloud help -- SEARCH_TERMS
Fetching credentials using gcl

[2022-06-29 08:35] csaybar commented on #267
Hi @kfcabigao1 can you please open a new issue with more information about your setup. Just need to run `gcloud info`!

[2022-06-29 08:58] kfcabigao1 opened #269 "ee_Initialize() issue"
* rgee version:1.1.3.9000
* R version: 4.2.1
* Operating System: win10

#### At submit an issue, please attached the following information of your `rgee` session:

Attach your Python (reticulate) configuration:

[code]

### Description

I followed the instructions for the installation of RGEE. However, I encountered an error when initializing. ee_check seemed to be fine as it stated OK on 3 compon

[2022-06-30 01:50] DANYPORRAS commented on #91
Error in ee_connect_to_py(path = ee_current_version, n = 5) :
  The current Python PATH: C:/Users/DANIEL/AppData/Local/r-miniconda/envs/rgee/python.exe
does not have the Python package "earthengine-api" installed. Are you restarted/terminated.
your R session after install miniconda or run ee_install()?
If no do it, please try again:

[2022-07-01 14:54] jimoreira opened #270 "ee_Initialize() on ubuntu server fails"
i have been trying to automatically run a script (rgee script) within a server, my idea is to make this automatic, running in the back to populate a database with extracted values from google earth engine.

The issue is,
the interactive part of ee_Initialize() to authenticate as google earth engine user.
I have several errors
-first, the server without a web browser installed. So i have installed

[2022-07-04 02:30] santoshbdias commented on #269
I'm also having a problem with ee_Initialize(), but a little different from what you reported.

versão rge: 1.1.3
Versão R: 4.2.1
Sistema operacional: win11

Executing ee_check(), the return is as follows:
[code]

So far so good, but running ee_Initialize(), I get the following return:

[code]
![image](https://user-images.githubusercontent.com/32546723/177071002-b273e44a-21b8-4310-bcf8-84b7fe1f3b5

[2022-07-04 02:33] santoshbdias commented on #267
I'm also having a problem with ee_Initialize(), but a little different from what you reported.

versão rge: 1.1.3
Versão R: 4.2.1
Sistema operacional: win11

Executing ee_check(), the return is as follows:
[code]

So far so good, but running ee_Initialize(), I get the following return:

[code]
![image](https://user-images.githubusercontent.com/32546723/177071002-b273e44a-21b8-4310-bcf8-84b7fe1f3b5

[2022-07-08 13:11] MelanieDickie opened #271 "ee_Initialize() fails, previous Issues not solving issue"
* rgee version: 1.1.3
* R version: R-3.6.2
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ Yes] You have the Python API installed (from terminal):
[code]

- [No ] You can find the credentials file on your system:
[code]
- [No ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configurati

[2022-07-08 13:13] MelanieDickie commented on #271
Apologies, I forgot to include that if I do > ee_Initialize() without drive=TRUE I get the error still:
-- rgee 1.1.3 -------------------------------------------------------------------------------- earthengine-api 0.1.302 --
 √ user: not_defined
 √ Initializing Google Earth Engine:Error in py_call_impl(callable, dots$args, dots$keywords) :
  google.auth.exceptions.RefreshError: ('invalid_grant: B

[2022-07-08 17:23] MelanieDickie opened #272 "ee_as_raster() error"
* rgee version:1.1.3
* R version:R-3.6.2
* Operating System:Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [Yes ] You have the Python API installed (from terminal):
[code]

- [ No] You can find the credentials file on your system:
[code]
- [No ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[2022-07-09 22:41] markbneal commented on #270
From this link (https://github.com/rstudio/cloudml/issues/191) I got the concept to use in terminal this command:
`gcloud auth login --no-launch-browser`
That should make a link that you can copy and paste into a browser, get a key back, and then paste into your terminal. I think this may create a link between the browser and the R session, so is unique for different setups, and wouldn't be a port

[2022-07-10 19:05] milesalanmoore commented on #271
Thank you for this package!

I am having a similar issue. ee_Initialize() opens a tab in chrome for the authorization process that reads:

[code]
also running (in terminal)
`earthengine authenticate` or `earthengine -h`
returns `zsh: command not found: earthengine`

Which i=I suppose is to be expected as my ee environment requires `conda activate ee` to access earthengine. My understanding is that

[2022-07-12 19:35] milesalanmoore commented on #269
Still experiencing a different error at `ee_Initialize()` as well.

[2022-07-12 19:53] milesalanmoore opened #273 "ee_Initialize() fails on Google server side."
Hey friends! Hope y'all are well. I've been stumped on this issue for days now and can't find a solution. I would love to use this wonderful package but can't seem to get ee_Initialize() to successfully open an authentication window. (see image attached below). Any guidance is greatly appreciated!

* R version 4.1.2 (2021-11-01) -- "Bird Hippie"
* Python 3.8
* rgee_1.1.3
* reticulate_1.25

#### At

[2022-07-13 00:43] caadams commented on #271
I am also having this issue - Google doesn't seem to want to let me in! Any help would be appreciated.

[2022-07-13 20:00] jimoreira commented on #270
still not working for me.
I was reading and find
[this](https://stackoverflow.com/questions/33873177/google-cloud-platform-logging-in-to-gcp-from-commandline#:~:text=this%20to%20date%20is%20still%20the%20best%20option%2C%20even%20behind%20a%20company%20VPN.%20The%20new%20option%20%2D%2Dno%2Dbrowser%20unfortunately%20doesn%27t%20work%20and%20%2D%2Dno%2Dlaunch%2Dbrowser%20will%20be%20deprecated%20by

[2022-07-14 10:33] carol-sartor commented on #273
I am receiving the same error. I tried to install in more than one computer and all of them returned the same message. However, I cannot find the Python API in my computer. Any suggestions?

[2022-07-14 12:34] csaybar commented on #208
solved!

[2022-07-14 12:34] #208 closed

[2022-07-14 12:39] #212 closed

[2022-07-14 13:05] csaybar commented on #218
Hi @zackarno  sorry for the late reply,

Unfortunately, this is something related to the Python API. Since rgee depends on it, it can not be solved without using iterative searching (that would be quite slow).

[2022-07-14 13:05] #218 closed

[2022-07-14 13:06] csaybar commented on #219
Unfortunately, I'm not able to reproduce this issue. I will close this issue for now.

[2022-07-14 13:06] #219 closed

[2022-07-14 13:06] #221 closed

[2022-07-14 13:10] #227 closed

[2022-07-14 13:10] #232 closed

[2022-07-14 15:04] #246 closed

[2022-07-14 15:04] #249 closed

[2022-07-14 15:39] csaybar commented on #254
Hi @bmaitner sorry for the late reply,

I added a message to prevent this issue.

![image](https://user-images.githubusercontent.com/16768318/179021707-41f4ad7c-6a2b-4c78-a732-4fd3764ec994.png)

[2022-07-14 16:05] csaybar commented on #256
Sorry for the late reply,

It seems it is a bug in Python 3.10
https://stackoverflow.com/questions/69515086/beautifulsoup-attributeerror-collections-has-no-attribute-callable
Probably it has been solved now.

Let me know if the issue persist.

[2022-07-14 16:05] #256 closed

[2022-07-14 16:05] #258 closed

[2022-07-14 17:37] csaybar commented on #259
Hi, I added a message to inform users about this issue. THanks!

[2022-07-14 17:37] #259 closed

[2022-07-14 17:43] csaybar commented on #262
Sorry for the late reply,

This has been solved in the last release.

[2022-07-14 18:04] csaybar commented on #260
Hi @ArapKorir sorry for my late reply,

I notice that in some systems if there is NULL pointers related to the EARTH ENGINE PYTHON API in the global environment, rgee return that error (see image below) when it is loaded.

![image](https://user-images.githubusercontent.com/16768318/179051049-6ad9a059-0825-4374-a8c4-e740222d22ad.png)

Can you try to delete them before loading rgee?

[2022-07-14 18:07] csaybar commented on #265
I think it is not possible directly with rgee/Python API. A workaround would be to preload the credentials of Earth Engine and Google Drive. See https://github.com/csaybar/rgee-docker/blob/2aaf780c51ceec70ec42cda936cc7b7cbadaa3d5/Dockerfile#L97

[2022-07-14 18:07] #265 closed

[2022-07-14 22:19] csaybar commented on #270
According to me (please let me know if I'm wrong :pray: ),  this problem should occur only for new users.

@jimoreira  are you trying to run rgee in a system without a GUI? It seems that you do not have  a browser :thinking:

[2022-07-14 22:23] csaybar commented on #270
Update: Sorry I didn't read the part of ubuntu-server. In this case @jimoreira I think the easiest solution is to directly copy the credentials to the .config/earthengine folder. See https://github.com/csaybar/rgee-docker/blob/2aaf780c51ceec70ec42cda936cc7b7cbadaa3d5/Dockerfile#L97

[2022-07-14 22:30] csaybar commented on #271
Hi @MelanieDickie upgrading your earthengine-api Python package should solve the problem.

[code]

[2022-07-14 22:31] csaybar commented on #272
Hi @MelanieDickie It seems you are using an old version of the R googledrive package. Can you try upgrading the package? :eyes:

[2022-07-15 03:53] kfcabigao1 commented on #269
Hello @csaybar, done upgrading the earthengine api. But the same issue persists.

"✔ Initializing Google Earth Engine:ERROR: (gcloud.auth.application-default.login) unrecognized arguments:
  Michael
  Cabigao/.config/earthengine/credentials-client-id.json
  To search the help text of gcloud commands, run:
  gcloud help -- SEARCH_TERMS
Fetching credentials using gcloud
Error in py_call_impl(callabl

[2022-07-15 12:40] csaybar commented on #269
It seems that this error happens on the Python side, not in rgee, can you confirm this running in a python3 console, as follow:

[code]

[2022-07-15 13:20] kfcabigao1 commented on #269
Hello @csaybar,

tried to do that now in a python console but results do reveal same prompt.

"ERROR: (gcloud.auth.application-default.login) unrecognized arguments:
  Michael
  Cabigao/.config/earthengine/credentials-client-id.json
  To search the help text of gcloud commands, run:
  gcloud help -- SEARCH_TERMS
Traceback (most recent call last):
  File "C:\Users\\***\miniconda3\envs\ee\Scripts\ea

[2022-07-15 14:01] MelanieDickie commented on #272
Thanks @csaybar. I updated all my packages, here is google drive:

[1] ‘2.0.0’

I'm still getting errors. I did some crazy combination of suggested fixes in various posted Issues over the course of two days, and somehow it worked - but only temporarily. It's again not working. And I can not reproduce the combination of steps that got me there. Something along the lines of redownloading rgee from g

[2022-07-15 14:37] milesalanmoore commented on #269
@csaybar I updated to the version mentioned above via `ee_install_upgrade(version = "0.1.317")`. The Authorization Error window I described in #273 still appears. Python does run as instructed to test in your comment above.

[2022-07-15 15:06] csaybar commented on #269
Hi, @milesalanmoore did you upgrade rgee too? The Authorization Error should not appear if you upgrade the [earthengine-api](https://pypi.org/project/earthengine-api/) (Python side)  that is used by rgee.  Can you put here the next info:

[code]

[2022-07-15 15:11] csaybar commented on #269
Ahh  I think this should not be here `Cabigao/.config/earthengine/credentials-client-id.json`. You can  install gcloud following these instructions:  https://cloud.google.com/sdk/docs/install#deb. But before you have to delete all your credentials by running:

[code]

[2022-07-15 15:13] csaybar commented on #273
Hi @carol-sartor!,  which rgee version are you using? Please run as follow:

[code]

[2022-07-15 15:15] MelanieDickie commented on #271
Thanks @csaybar. Unfortunately I can't even library(rgee) now? See below and my comments on issue 272 (https://github.com/r-spatial/rgee/issues/272). Apologies for making two Issue posts - I thought I had made progress, and run into a separate issue, but I think they're linked.

Error: package or namespace load failed for ‘rgee’:
 .onLoad failed in loadNamespace() for 'rgee', details:
  call: py_m

[2022-07-15 15:18] csaybar commented on #272
Are you using Rstudio? Can you see if this issue also happens in R-base?

Please share with us the next information.
[code]

[2022-07-15 15:31] MelanieDickie commented on #272
I am, but the problem persists in base R:

Error in py_module_import(module, convert = convert) :
  ModuleNotFoundError: No module named 'ee'
In addition: Warning message:
In readLines(rf) :
  incomplete final line found on 'C:\Users\Patricia\AppData\Local\Temp\Rtmpm6Z0Qa\file1f242a0c967'

R version 3.6.2 (2019-12-12)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 1

[2022-07-15 15:40] csaybar commented on #272
Are you available for a quite short meeting (if yes, please write me an email at csaybar@gmail.com)?. I want to take a deep look at why this sometimes happens in some windows systems :pray:

[2022-07-15 15:50] milesalanmoore commented on #269
Hello @csaybar, thanks for your assistance.

`reticulate::import("ee")$`__version__`
[1] "0.1.317"`

Here is the output of `sessionInfo()`
[code]

[2022-07-15 16:00] kfcabigao1 commented on #269
Hello @csaybar Ive tried to have a fresh install of rgee. and followed all the necessary steps. So far, I've downloaded rgee 1.1.4 with earthengine API 0.1.317. I also installed gcloud and followed the instructions on the link you've given. I also deleted all the credentials by running ee_users() and ee_clean_credentials().

the problem still persists when running ee_Initialize() as presented by t

[2022-07-15 16:26] csaybar commented on #269
Are you available for a quite short meeting (if yes, please write me an email at csaybar@gmail.com)?. I want to take a deep look at why this sometimes happens :pray:

[2022-07-15 17:25] jimoreira commented on #270
Now i have
`

Error in reticulate::py_discover_config() :
  Python specified in RETICULATE_PYTHON (/usr/bin/python3nEARTHENGINE_INIT_MESSAGE=True) does not exist
`
a step back i think
really messy

[2022-07-15 17:48] caadams commented on #271
Hi Melanie and Cesar,

Thank you, Cesar, for helping us with this issue. I can load the rgee
package but can't authenticate through Google (Error 400), even after
updating the rgee package. I am using a slightly older version of R (4.1.3)
because of issues with running R2jags on the latest R update, but I had the
same issue with ee_Initialize() when I was using the latest R version.
Melanie and I

[2022-07-15 17:54] csaybar commented on #270
Enter your global .Renviron file and fixed manually:

[code]

[2022-07-15 17:55] csaybar commented on #270
other option is:

[code]

[2022-07-15 18:05] csaybar commented on #271
The problem with @MelanieDickie was:

- Please do not save NULL pointer in your Global environments.
![image](https://user-images.githubusercontent.com/16768318/179283780-a5e02dbb-b15f-42e3-ba25-502adafb777d.png)

- To solve the google.auth.exceptions.RefreshError, delete your user **credentials**!
![image](https://user-images.githubusercontent.com/16768318/179283388-40674a5b-76aa-4ad8-95c9-c53382

[2022-07-15 18:05] jimoreira commented on #270
what should i include in the .Renviron file?

with the second option you provide, i kind of get the idea:
is to change the use of
`
py_path="/home/javier/.virtualenvs/rgee/bin/python",
py_env="rgee")
`
to use of python directly and not from virtualenv (miniconda installation)
am i right? i'm lost over here..

[2022-07-15 18:07] csaybar commented on #271
Hi @caadams can you give us more info about your system?

[code]

[2022-07-15 18:10] csaybar commented on #270
The .Renviron only has the Python path that will be used by rgee,
![image](https://user-images.githubusercontent.com/16768318/179284878-f158f399-83b4-493f-8797-b14c99d120b5.png)

But if you don't want to set it up, you can use `use_python` always before calling ee_Initialize().

[code]
See https://rstudio.github.io/reticulate/reference/use_python.html#reticulate-python-1

[2022-07-15 18:13] csaybar commented on #272
See #271

[2022-07-15 18:13] #272 closed

[2022-07-15 18:17] milesalanmoore commented on #273
@csaybar spent some time with me in a google meeting.  Updating to rgee 1.1.4 solved the Authorization error window (screenshot above in OP). However a new error occurred when running ee_Initalized.

[code]

This new issue was likely a bit of a mess that was occurring between anaconda enviornments, miniconda, and the` base::system()` command that is invoked by `reticulate` via the python earthengi

[2022-07-15 18:17] #273 closed

[2022-07-15 18:33] caadams commented on #271
Thank you for your help! Is this the info you are looking for?

R version 4.1.3 (2022-03-10)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19043)

On Fri, Jul 15, 2022 at 11:07 AM Cesar Aybar ***@***.***>
wrote:

[2022-07-15 20:11] jimoreira commented on #270
firts of all, let me thank you cesar for beeing there.

ok i have changed the .Renviron file to use /usr/bin/python3, and i also pip3 install numpy/ earthengine-api.
when i run R, library(rgee) and ee_Initialize(),
i get different results when working from root or from my user. Both use python3.
From root, i run and a url is provided, so the error is 404 within the browser (server browser). Changi

[2022-07-17 04:32] Wang-yongxiang opened #274 "ee_Initalize() Error: Error in py_call_impl(callable, dots$args, dots$keywords) : socket.timeout: timed out"
* rgee version:1.1.4
* R version:4.2.1
* Operating System:Win11

#### At submit an issue, please attached the following information of your `rgee` session:

- [Yes ] You have the Python API installed (from terminal):
[code]

- [No ] You can find the credentials file on your system:
[code]
- [ No] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[code

[2022-07-17 15:37] kongdd commented on #73
I have the same issue. @leeyounguni's solution didn't solve my problem.
[code]

[2022-07-17 15:58] kongdd commented on #274
This is the problem of VPN proxy. I found two solutions for `RStudio` and `VScode` respectively.

**The following solution not working. Because we need to set proxy before R start, other than after.**
[code]

## RStudio uses `R.exe`
[code]
## VScode uses `radian.exe`
[code]

[2022-07-17 16:02] kongdd commented on #73
The final solution can be found at <https://github.com/r-spatial/rgee/issues/274#issuecomment-1186552176>

[2022-07-20 08:36] aliceziegler commented on #271
Unfortunately I have the same issue but the proposed solutions above, didn't solve it. I would be very thankful for any help.

* rgee version: 1.1.3
* R version: 4.1.1
* Operating System: windows 10

- [yes] You have the Python API installed (from terminal):
[code]

- [no] You can find the credentials file on your system:
[code]
- [ no] You can run a simple EE command from R:

[code]

Attach your

[2022-07-20 15:39] gsaabogado opened #275 "Error 400 in Google after running ee_Initialize in Ubuntu"
* rgee version:1.1.4
* R version: 4.0
* Operating System: Ubuntu

#### At submit an issue, please attached the following information of your `rgee` session:

- [Yes ] You have the Python API installed (from terminal):
[code]

- [ Yes] You can find the credentials file on your system:
[code]
- [ No] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[co

[2022-07-21 13:33] CvenTito opened #276 "Creating areas of interest or vectorise on RGEE"
* rgee version: 1.1.4
* R version: 4.2.1 (2022-06-23) -- "Funny-Looking Kid"
* Operating System: macOS 12.4 Darwin 21.5.0

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]

- [x] You can find the credentials file on your system:
[code]
- [x] You can run a simple EE command from R:

[code]

At

[2022-07-24 07:39] mr-holy commented on #167
hi everyone.
this problem is related to the date or region of your images, in other words, you selected a range of times and one or more collections has not any image in that time or region

[2022-07-25 16:32] milesalanmoore commented on #275
Do you have anaconda installed in addition to the miniconda used by rgee? I had a similar issue that was solved by exiting our of `conda base` but running (in bash/zsh) `$ conda deactivate` and then installing earthengine-api. Although earth engine was installed in my terminal in both the base and an 'ee' named virtual env via anaconda, it wasn't in my bare temrinal which is likely what `library(r

[2022-07-28 20:21] caadams commented on #271
Hi Cesar,

I ended up going back to the javascript API since I just needed to get the
analysis done, but it would be great to be able to use rgee. When I run
ee_Initialize(drive = TRUE), I'm able to get to this page and login:
[image: image.png]
click the box to give the permissions:
[image: image.png]
but when I click Continue I get this error:
[image: image.png]
I made sure to update Tidyverse,

[2022-08-01 06:21] TianyaImpression opened #277 "Error in array$arrayLength : object of type 'closure' is not subsettable"
* rgee version: 1.1.3
* R version: 4.2.1
* Operating System: win10

I tried this example:
https://github.com/csaybar/rgee/blob/examples//Array/array_transformations.R

I get an error when running this line of code
`array <- collection$map(makeVariables)$toArray()`

![image](https://user-images.githubusercontent.com/22004043/182084468-5619167b-8abe-496e-99b1-1fe49af55487.png)

I want to know where

[2022-08-01 13:25] CourtneyMarne opened #278 "ee_Initialize() error 'invalid_grant'"
* rgee version: 1.1.4
* R version: 4.0.5
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:
Attach your Python (reticulate) configuration:

[code]

### Description

I have been using rgee for ages but today it it suddenly giving me this error upon ee_initialize() and I can't figure out what the problem is...

### What I Did

[

[2022-08-02 05:47] CourtneyMarne commented on #278
UPDATE: trying again this morning and now it says

[code]

[2022-08-02 06:36] CourtneyMarne commented on #278
I have resolved the issue and leave the solution here to help anyone else:

I opened the anaconda promt (anaconda3) and installed/updated gcloud
[code]
when using ee_Initialize() I also used my personal user ID instead of my work user and it now is working

[2022-08-02 06:36] #278 closed

[2022-08-03 18:36] h-a-graham commented on #269
Hey,

So I'm experiencing a similar issue with a colleague's Mac (x86_64). The error is the same as @milesalanmoore's https://github.com/r-spatial/rgee/issues/269#issuecomment-1185673904.

The issue appears to be related to the PATH argument for gcloud. I believe this because when running the following in the terminal: `gcloud --version` Everything behaves as expected.

However, `system("gcloud --

[2022-08-04 23:04] h-a-graham commented on #269
Okay so quick upate. Problems seemed to stem from having the correct permissions to write log/cache files. In our case on MacOS, this was for the "./.config/gcloud" and "./.config/earthengine" directories.

We installed gcloud from Homebrew https://formulae.brew.sh/cask/google-cloud-sdk as the PATH setting seemed to be inconsistent using [Google's instructions](https://cloud.google.com/sdk/docs/in

[2022-08-08 16:23] Leprechault opened #279 "Image collection `COPERNICUS/S2_SR` considering changes in band data after 25 Jan 2022"
Hi Everyone!!

I'd like the BOA extraction in my target area in a temporal series from 2019 to today. The "ee_extract" using image collection  `COPERNICUS/S2_SR` considering updating the Sentinel-2 processing baseline 44 in January 2022 or some baseline transformation is needed?
Thanks in advance,
Alexandre

[2022-08-10 05:10] grantfalvo opened #280 "Initializing rgee on M1 Mac"
Hello,

I recently failed to install and use 'rgee' on my M1 Mac and ran out of ideas after trouble shooting it for a while.

Simply, when I run rgee::ee_install(), it starts up but fails at the 'Building wheel for numpy (PEP 517)' step and gives the message:

'ERROR: Could not build wheels for numpy which use PEP 517 and cannot be installed directly'

Any ideas on how to resolve this?

Thanks muc

[2022-08-10 11:35] zackarno commented on #217
@csaybar  & @ambarja  - was looking into this possibility. I saw that @ambarja had started the [rgeeInspector](https://github.com/r-earthengine/rgeeInspector) (nice!) .

I opened an issue/question on the leaflet github repo to see if it was possibly to extract the input data object from a leaflet map object (like that created by `rgee::Map$addLayer()`). It seems like it might not be possible becau

[2022-08-10 20:30] rokoeh opened #281 "MODIS raster data acquired with projection problem"
* rgee version: rgee 1.1.4
* R version: 4.2.1
* Operating System: Win 10

Hello

I was trying to download MODIS data from product MOD13Q1 and I am facing a projection problem. The data that I downloaded using ee_as_raster came with an offset. It is not in the same area of my FeatureCollection.

[code]
Shapefile used in this test:
[test1.zip](https://github.com/r-spatial/rgee/files/9303790/test1.zi

[2022-08-10 21:28] ambarja commented on #281
Excellent observation @rokoeh, but MODIS usually works with the Sinusual projection, however it can be solved using the following :point_down:

[code]

[2022-08-10 21:50] rokoeh commented on #281
That did it. Thank you.

[2022-08-10 21:59] #281 closed

[2022-08-11 01:21] csaybar commented on #279
I think `COPERNICUS_S2_SR_HARMONIZED` is what you are looking for!!

https://developers.google.com/earth-engine/datasets/catalog/COPERNICUS_S2_SR_HARMONIZED

[2022-08-11 01:31] Leprechault commented on #279
Thanks @csaybar and this explains a lot of strange values in my dataset this year!!

[2022-08-11 01:31] #279 closed

[2022-08-14 11:56] nikosGeography opened #282 "Initializing Google Earth Engine on a Windows 10 machine"
I saw the issue with initializing `GEE` in previous posts. I tried everything I found here and on other websites but I just can't fix it. On a Windows 10 machine, I installed the

1. `rgee` package and the
2. google-cloud-sdk (outside of `R`)
3. I added the google-cloud-sdk\bin to the system path
4. I edit the PATHTEXT by adding  ;.py.

Nothing seems to work. Below is the code I used.

[code]

I a

[2022-08-15 09:11] nikosGeography commented on #282
I think I solved the issue. Today, when I tried to re-run the `ee_Initialize(user = 'my_email', drive = T, gcs = T)` command I received an error saying _Error in ee_connect_to_py(path = ee_current_version, n = 5) :
  The current Python PATH: C:/Users/Geography/AppData/Local/r-miniconda/envs/r-reticulate/python.exe
does not have the Python package "earthengine-api" installed. Are you restarted/term

[2022-08-15 09:12] #282 closed

[2022-08-16 15:32] SeanFGIS opened #283 "Question about using rgee to download hundreds of images."
Hello RGEE team and everyone who might read this,

First off, I am greatly appreciative of such an awesome tool you have been able to create.
I hope this is an okay space to ask such a question.

But I was hoping to try and use rgee to download hundreds of GOES satellite imagery. I was wondering if anyone might have some insight on if this would be the best route to go down? I am hoping to use it

[2022-08-22 18:51] zackarno commented on #276
@CvenTito - you can try using the [mapedit](https://github.com/r-spatial/mapedit) package. This allows you to interactively draw points and polygons. Once you are finished the drawing the polygons they become sf objects which can easily be converted to `ee$FeatureCollection`s with `rgee::sf_as_ee()`

[2022-08-22 19:02] zackarno commented on #259
@csaybar  - It's very possible that I have not correctly understood something, but it seemed to me like this is a bug that can easily be fixed  (even with my simple suggestion above) so i'm not sure how a message informing the user can help- perhaps you can let let me know when you get a chance. Thanks!

[2022-08-26 14:07] pdbentley opened #284 "rgee dockerfile shiny"
Hey,

Been trying to develop shinyapps which uses the rgee package. The following references have been useful:

https://github.com/csaybar/rgee-docker
https://github.com/csaybar/shiny_rgee_template

While there are examples of rgee in shinyapps: e.g. https://appsilon.com/r-shiny-google-earth-engine/  they only appear to be locally run.

We are planning to host apps using google cloud run, and not

[2022-08-29 10:49] pdbentley commented on #284
had a chance to put together a working draft for a dockerfile, drawing inspiration from the links above.

[code]

its works for the most part, however still need to include the following lines at the start of the app as this issue arises. #269 . working on an approach for all parts to be included in the dockerfile.

[code]

[2022-09-06 09:56] bsenterre opened #285 "Get ecosystem image by expression and conditional statements on several image layers"
* rgee version: 1.1.4
* R version: 4.2.1
* Operating System: Windows: Windows 11 Home, version 21H2, 64 bit

NOTE: This is my first attempt at seeking help and I am still a beginner in R and Earth Engine, so I hope you'll be understanding.

#### At submit an issue, please attached the following information of your `rgee` session:

python:         C:/Users/bsent/miniconda3/envs/rgee_py/python.exe
l

[2022-09-06 13:26] kongdd opened #286 "Equivalent function of `ui.Map.Linker` and `ui.SplitPanel`"
As the title, any idea how to implement the function of `ui.Map.Linker` and `ui.SplitPanel` in `rgee`?

<https://geemap.org/notebooks/04_split_panel_map/>
<https://geemap.org/notebooks/70_linked_maps/>

[2022-09-06 13:43] ambarja commented on #286
Hi @kongdd , the equivalent the ui.SplitPanel in rgee is the use  the following symbol `|`  , here an [example](https://github.com/ambarja/rgee_Landsat9/blob/main/script.R) 👇
![](https://raw.githubusercontent.com/ambarja/rgee_Landsat9/main/rgee.gif)

[2022-09-06 14:06] ambarja commented on #286
For the ui.Map.Linker in R depende of the two packages `leaflet.minicharts+ manipulateWidget`, here an example. 👇
[code]

[2022-09-06 23:48] kongdd commented on #286
awesome! Thank you very much

[2022-09-06 23:48] #286 closed

[2022-09-07 01:21] kongdd commented on #286
I am trying to use the `ui.Map.Linker` function in my shiny app. However, they are not work in `renderLeaflet`.
Do you have any solution?

[code]

[code]

[code]
[code]

[2022-09-07 04:49] kongdd opened #287 "`leaflet::clearGroup` clear all groups"
The original map:
![image](https://user-images.githubusercontent.com/9815742/188791122-206a0715-4971-4f1e-8258-ee80c4f1d76c.png)

After click `recalc` and execute `leaflet::clearGroup`.
![image](https://user-images.githubusercontent.com/9815742/188791056-31428a6c-5c47-4b42-a31b-e96ff05adb7d.png)

[code]

[2022-09-13 23:33] GReimche opened #288 "GEE autentication"
Hi!
Is there any way to use rgee for usual tasks, without having to create an valid account on google cloud (I mean credit card number...).
Thank you!

[2022-09-13 23:39] csaybar commented on #288
As far as I know, all you need to do is install the gcloud CLI.
https://cloud.google.com/sdk/docs/install

[2022-09-14 01:10] #288 closed

[2022-09-14 14:47] e-duperron commented on #269
Hi everyone,

Also had the same issue as @kfcabigao1 for [this comment](https://github.com/r-spatial/rgee/issues/269#issuecomment-1185682361), without the unrecognized argument part (sorry unable to reproduce the error now).

Followed this thread successive recommandations (`ee_install_upgrade()`, install gcloud, check gcloud in rgee python env). I also had to install the `googledrive` R package (

[2022-09-15 04:28] GReimche commented on #269
I had the same problem here (Linux Debian11), and the answer was an incorrect gcloud installation process. Just follow the link provided bellow, and install one more time gcloud. Thank you #[csaybar](https://github.com/csaybar).

[2022-09-15 04:35] kfcabigao1 commented on #269
Hello, @e-duperron will try this method. Thank you!

[2022-09-15 04:36] kfcabigao1 commented on #269
Hello! @GReimche  I've been following the default installation method as suggested by many window users here. But would try to re-install it once again. Thank you!

[2022-09-15 14:14] POTCHARAARIYA opened #289 "Error in py_call_impl(callable, dots$args, dots$keywords)"
* rgee version: 1.1.4
* R version: 4.2.1
* Operating System: macOS M1

# Initialize the Earth Engine module.
ee_Initialize()

── rgee 1.1.4 ─────────────── earthengine-api 0.1.324 ──
 ✔ user: not_defined
 ✔ Google Drive credentials:  FOUND
 ✔ Initializing Google Earth Engine:sh: gcloud: command not found
Fetching credentials using gcloud
Error in py_call_impl(callable, dots$args, dots$keywords) :

[2022-09-15 17:41] ambarja commented on #289
Hi @POTCHARAARIYA , you need to install the gcloud CL 👇
https://cloud.google.com/sdk/docs/install
check issue #288
Closed for duplicate issue.

[2022-09-16 03:03] POTCHARAARIYA commented on #289
Thanks @ambarja ,
I already install gcloud but can't set PATH ,what should I do?

[2022-09-16 05:54] POTCHARAARIYA commented on #289
@ambarja
I'm trying to check user status. It show >>>   pochara788                EE ✖      GCS ✔      GD ✖

[2022-09-17 10:21] POTCHARAARIYA opened #290 "Error in py_call_impl(callable, dots$args, dots$keywords)"
rgee version: 1.1.4
R version: 4.2.1
Operating System: macOS M1
Initialize the Earth Engine module.
ee_Initialize()

── rgee 1.1.4 ─────────────── earthengine-api 0.1.324 ──
✔ user: not_defined
✔ Google Drive credentials: FOUND
✔ Initializing Google Earth Engine:sh: gcloud: command not found
Fetching credentials using gcloud
Error in py_call_impl(callable, dots$args, dots$keywords) :
Exception: gc

[2022-09-18 09:47] MatthieuStigler commented on #270
Hi

This problem sounds similar to the one I had encountered using `earthengine authenticate` in an Ubuntu server terminal. Basically, it seems like `earthengine` is trying to guess whether you are on a desktop or remote based on some heuristics that will fail if you have a browser on your server. The answer for now is to use `earthengine authenticate --quiet`, which will ask you to copy a line in

[2022-09-18 09:59] MatthieuStigler opened #291 "ee_Initialize() tries to authenticate even if already done?"
* rgee version: 1.1.5
* R version: 4.2.0
* Operating System: Ubuntu 22.04 server

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):

- [x] You can find the credentials file on your system:
- [ ] You can run a simple EE command from R: NO

Attach your Python (reticulate) configuration:

[code]

### De

[2022-09-22 15:35] MatthieuStigler opened #293 "Feature request: allow argument "--quiet" to be passed to 'ee_Initialize()'"
Would it be possible that the argument `--quiet` can be used when calling `ee_Initialize()`, so that it runs effectively `earthengine authenticate --quiet` ?

This would be very useful to allow authentication on servers. With relatively recent changes in the `earthengine` function, previous authentication does not work anymore: one needs to add `--quiet`, so that it does not attempts to open a bro

[2022-09-28 22:57] treetexan commented on #291
I would like to +1 this issue--I had some bugs and got Google's help in setting up my authentificate, but rgee is bouncing and unable to run it the way they specified.  Would be a huge help if this could be disabled.

[2022-09-29 03:17] treetexan opened #294 "ee_Initialize() failed in rgee but not Python"
* rgee version: rgee_1.1.5
* R version: R version 4.0.3 (2020-10-10)
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ Y] You have the Python API installed (from terminal):
[code]

- [Y] You can find the credentials file on your system:
[code]
- [NO] You can run a simple EE command from R:

[code]

Attach your Python (re

[2022-09-29 15:27] treetexan commented on #291
also, not sure if this is a good idea, but with a working python earthengine authenticate, I was able to circumvent ee_Initialize() and just run rgee::ee$Initialize() which it is a wrapper for.

[2022-10-01 07:55] MatthieuStigler commented on #291
oh nice, thanks! So you are just running `rgee::ee$Initialize()`, without any option/argument, right? Do you have a sense of what this means regarding the `gcs` or `drive` arguments in `ee_Initialize`?

[2022-10-01 18:36] csaybar commented on #294
Hi, @treetexan  can you share a `traceback()`?

idk for my regex is more readable, but a PR is always welcome ;)

I don't think your `.edu` email is a problem. The code you attached is only for creating a folder.

email_clean <- gsub("@gmail.com", "", user)
ee_path <- ee_utils_py_to_r(ee_utils$ee_path())
ee_path_user <- sprintf("%s/%s", ee_path, email_clean)
dir.create(ee_path_user, showWarnings =

[2022-10-01 19:41] csaybar commented on #293
Hi @MatthieuStigler, thank you for pointing it out!

The issue was that `ee_Initialize` and `ee_Authenticate` have a `quiet` argument with different purposes. `ee_Initialize` calls internally `ee_Authenticate`. Therefore,  it is not possible to send the quiet argument using `...`. I added a new argument called `auth_quiet`  in `ee_Initialize` to solve this issue.

Use `...` to use `ee_Authenticate

[2022-10-01 19:48] csaybar commented on #291
Hi @MatthieuStigler and @treetexan, sorry for the inconvenience!

did you try ee_Authenticate?  #293

I'm working on upgrading the docker container (if it works there, it must work in a server too).  I will come back here when I solve it.

[2022-10-01 20:27] csaybar commented on #277
Sorry, my bad just change "image" by "img". I did
![image](https://user-images.githubusercontent.com/16768318/193427138-a61ebb40-f9db-452f-9e7f-d8c7c602b29b.png)

[2022-10-01 20:27] #277 closed

[2022-10-01 20:34] csaybar commented on #280
Deeply sorry I never use mac :c, but it looks like a problem on the Python side I hope you have solved it

[2022-10-01 20:34] #280 closed

[2022-10-01 20:35] #260 closed

[2022-10-01 20:37] #237 closed

[2022-10-01 20:37] #250 closed

[2022-10-01 20:38] csaybar commented on #252
Hi, it was solved now!

[2022-10-01 20:38] #252 closed

[2022-10-01 20:38] #261 closed

[2022-10-01 20:39] #267 closed

[2022-10-01 20:39] #264 closed

[2022-10-01 20:42] csaybar commented on #268
I'll close this issue for now because I can't reproduce this issue, if someone gets the same error, please re-opened it.

[2022-10-01 20:42] #268 closed

[2022-10-02 03:04] csaybar commented on #293
This work in an R script (also vscode) but not if you are using Rstudio.

[code]

[2022-10-02 03:06] csaybar commented on #293
The Rstudio console doesn't permit reply the client library.

![image](https://user-images.githubusercontent.com/16768318/193436065-8c1478e6-aa5c-4233-8ba2-d4b141bb3df2.png)

[2022-10-02 09:46] MatthieuStigler commented on #293
thanks! I am now able to do the authentication, though effectively it won't work in Rstudio, needs command line (see error below).

The Rstudio problem feels like a minor issue, but see the output in case:

✔ user: not_defined
✔ Initializing Google Earth Engine:You are authorizing client libraries without access to a web browser. Please run the following command on a machine with a web browser and

[2022-10-02 09:54] MatthieuStigler commented on #291
Unfortunately, the new `ee_Authenticate` with `auth_quiet` will not solve it. I am in a situation where:

- `system("~/anaconda3/envs/ee/bin/earthengine ls")`: :heavy_check_mark: works, meaning I did the authentication
- `rgee::ee$Initialize()`: :heavy_check_mark: works
- `ee_Initialize(user = xxx)`: :x: does NOT work, and tries to do the authentication again

So it looks like rgee is looking some

[2022-10-02 10:04] MatthieuStigler commented on #291
Mmh, maybe the problem is the user to authenticate? I was doing `rgee::ee_Initialize(auth_quiet = TRUE)` but then trying `rgee::ee_Initialize(user="username")` in my scripts, which would not work.

Trying now `rgee::ee_Initialize(user="username", auth_quiet = TRUE)` it works, but it seems unable to save the conf file? As a consequence, running just after `rgee::ee_Initialize(user = 'username@gmail

[2022-10-02 11:37] csaybar commented on #291
r u on server side isn't it?

[2022-10-02 11:39] MatthieuStigler commented on #291
yes, all commands are run on server side (except for the two-step deferred gcloud auth)

[2022-10-02 11:43] csaybar commented on #291
this is weird...

cannot create file '~/.config/earthengine//username/credentials', reason 'Not a directory' do

do you have permission to write? maybe creating the folder before must solve the problem, I can't reproduce the error.

[2022-10-02 12:54] MatthieuStigler commented on #291
ok, I see what happened: `~/.config/earthengine//username` was actually a file, not a directory, which triggered the error above.

Not sure how this happened, that file was a private-key I believe (see pseudo-output). So maybe I did a mistake once and wrongly put this file under this name...

Anyway, removing that file now works, `rgee::ee_Initialize(user = 'username@gmail.com', auth_quiet = TRUE)

[2022-10-02 12:58] treetexan commented on #291
Hi all

Thanks for hammering away at this!  I am watching my young kids all weekend
but will reply tmrw with more.

In my setup the .config file is read only, and I can’t undo that (tried but
it reverts). But R had no problem creating an empty username folder. Thing
is, the credentials folder is stored in /.config/eathengine when you create
the credentials file via the auth_mode=notebook route. Th

[2022-10-03 19:09] treetexan commented on #291
this is what I got--what the solution i tested (third line of code) what
you were asking me to do?

── rgee 1.1.5 ──────────────────────────────────── earthengine-api 0.1.324
──
 ✔ user: ***@***.***
 ✔ Initializing Google Earth Engine:Error in (function (authorization_code
= NULL, code_verifier = NULL, auth_mode = NULL,  :
  unused argument (auth_quiet = TRUE)
No traceback available

Error in py_c

[2022-10-03 19:15] treetexan commented on #291
Wrote too soon, got it fixed!  Same code, but I first copied my credentials
file into the ***@***.*** subfolder, and now
it runs.  Note that rgee created that subfolder in the last set of code I
shared (it didn't previously exist and wasn't created by the credentials
authorization process in Python), so this required code failing first to
work.

Thank you both! I am very happy to not be fighting t

[2022-10-04 06:37] MatthieuStigler commented on #291
great, so it seems the issue was solved for both of us, I'll close it then

[2022-10-04 18:18] Leprechault opened #295 "Radar vegetation index - RVI for `ImageCollection("COPERNICUS/S1_GRD")`"
I'd like to create a temporal mean for the Radar vegetation index - RVI in a target `roi`.
In my example:

[code]

But the output is not OK and almost doesn't have examples with vegetation index for Sentinel-1 band C.

Please any help with it?

[2022-10-06 13:19] chiacole91 opened #296 "Install rgee on Windows 11"
Hi everyone, I had no issues installing rgee on Windows 10, but I cannot do the same on Windows 11. Here what I have been trying:

library(rgee)
library(reticulate)
earthengine_python <- Sys.getenv("EARTHENGINE_PYTHON")
Sys.setenv(RETICULATE_PYTHON = earthengine_python)
reticulate::py_config()

ee_Initialize()

this return the error:

Error in ee_connect_to_py(path = ee_current_version, n = 5) :
T

[2022-10-08 03:40] Memo1986 opened #297 "Error in ee_Initialize() : reticulate refuse to connect with rgee in R Markdown"
* rgee version: 1.1.5
* R version: 4.2.1
* Operating System: windos 10

 I'm getting the following error when trying to execute the ee_Initialize() command: Error in ee_Initialize() : reticulate refuse to connect with rgee.

I followed the instructions from the rgee site and when I run ee_check() I get the following message, I don't know if it's related:

- [ ] > ee_check()
◉  Python version
✔ [Ok

[2022-10-08 10:07] LucasXin1 commented on #290
I encountered the same problem

[2022-10-08 11:15] csaybar commented on #295
i hope it helps
![image](https://user-images.githubusercontent.com/16768318/194704678-8666ff5c-3330-4e77-b441-486ab6cc9694.png)

[2022-10-08 11:18] csaybar commented on #290
Sorry for the late reply,

I added a new function ("ee_check_gcloud") ... See ?ee_check

https://cloud.google.com/sdk/docs/install

[2022-10-08 11:20] csaybar commented on #297
Hi @Memo1986
can u run rgee in a normal R script?

[2022-10-08 11:22] csaybar commented on #296
Hi @chiacole91 thank you for reporting this!

It seems that it's an open issue related to conda https://github.com/conda/conda/issues/11795.

[2022-10-08 13:57] Leprechault commented on #295
Thanks @csaybar, now it works!!!

[code]

I do:

[code]

[2022-10-08 13:57] #295 closed

[2022-10-08 14:07] Memo1986 commented on #297
Hello dear @cesybar, when I run an R-script, without R markdown, the Rgee library runs without problems, but when I run it with R markdown, it generates the error I mentioned.

Here is my error with R markdown
![image](https://user-images.githubusercontent.com/58275012/194711283-eec12ed6-f710-4c5b-b210-0af1ec4f664b.png)

And here it is running smoothly in an R-script
![image](https://user-images.g

[2022-10-08 17:03] LucasXin1 commented on #290
thanks，I have already downloaded gcloud CLI, but i encountered a new problem,shown in the picture.May I ask if this is due to the incorrect setting of my net work vpn? how can I do?

Besides,can I finish the initialization before I apply for the google cloud account?
Thanks!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2022-10-09 21:14] schignel commented on #260
Hi, I'm having the same issue. rgee was working fine for days, and then all of a sudden I get this issue. I have removed and reinstalled, restarted R, etc. I have cleared the global environment and still getting the error. Can you help me? Thank you.

![image](https://user-images.githubusercontent.com/19474876/194779747-4862049a-2f6d-4bd5-ab55-49827f88d79e.png)

[2022-10-10 00:10] csaybar commented on #260
Set a Python ENV that has ee ('earthengine-api')  "Python" package installed.

[code]

[2022-10-10 04:18] POTCHARAARIYA commented on #290
◉  Python version
✔ [Ok] /Users/potchara/.virtualenvs/rgee/bin/python v3.10
◉  Python packages:
✔ [Ok] numpy
✔ [Ok] earthengine-api
Error in ee_check_gcloud() :
  gcloud failed [os.system('gcloud --help')]. Please check
      for any errors above and install gcloud if needed (https://cloud.google.com/sdk/docs/install).

[2022-10-10 04:43] csaybar commented on #290
Hi @LucasXin1, sorry i don't know how to solve the VPN earthengine errors. Maybe you can ask/search in GtEE google groups.  https://groups.google.com/g/google-earth-engine-developers. As far as I understand, you do not need to "apply" for a Google Cloud account.

@POTCHARAARIYA yes, unfortunately, you also need to install gcloud CLI for use Python or R gee API.

[2022-10-10 04:47] LucasXin1 commented on #290
thank you very much！

---Original---
From: ***@***.***&gt;
Date: Mon, Oct 10, 2022 12:43 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [r-spatial/rgee] Error in py_call_impl(callable, dots$args,dots$keywords) (Issue #290)

Hi @LucasXin1, sorry i don't know how to solve the VPN earthengine errors. Maybe you can ask/search in GtEE google groups.  https://groups.google.com/g/go

[2022-10-10 07:20] POTCHARAARIYA commented on #290
I'm already installed gcloud but it cannot use rgee.

── rgee 1.1.5 ─────────────────────────────────────────────────────────────────── earthengine-api 0.1.326 ──
 ✔ user: not_defined
 ✔ Google Drive credentials:Auto-refreshing stale OAuth token.
 ✔ Google Drive credentials:  FOUND
 ✔ Initializing Google Earth Engine:sh: gcloud: command not found
Fetching credentials using gcloud
Error in py_call_

[2022-10-10 07:40] csaybar commented on #290
can u run?

[code]

[2022-10-10 07:49] POTCHARAARIYA commented on #290
On Terminal or R studio?

[2022-10-10 07:51] csaybar commented on #290
In your R ENV.

[2022-10-10 07:55] POTCHARAARIYA commented on #290
sh: gcloud: command not found
Warning message:
In system("gcloud --help") : error in running command

T_T

[2022-10-10 07:59] csaybar commented on #290
mmm, it seems that you have to define manually the gcloud CLI path. Try something like this:

[code]

[2022-10-10 08:03] POTCHARAARIYA commented on #290
── rgee 1.1.5 ─────────────────────────────────────────────────────────────────── earthengine-api 0.1.326 ──
 ✔ user: not_defined
 ✔ Google Drive credentials:  FOUND
 ✔ Initializing Google Earth Engine:Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=517222506229-vsmmajv00ul0bs7p89v5m89qs8eb9359.apps.googleusercontent.com&redirect_u

[2022-10-11 19:24] schignel commented on #260
Thanks @csaybar, I have included the full code below. See the following error when running `use_python()`. Apologies, I'm pretty new to this...

![image](https://user-images.githubusercontent.com/19474876/195180683-582fa7c7-69ba-46d7-98d5-0295bbfabc8d.png)

[2022-10-11 23:47] schignel commented on #260
UPDATE: For others who encounter this, the fix for me was simple: Exit R Studio, create a totally new project, and open the script in there.

[2022-10-17 19:21] MatthieuStigler opened #298 "rgee::ee_Initialize() actually de-authenticates me?"
I am authenticated to earthengine, but once I run `rgee::ee_Initialize(user =xxx')`, it seems to disconnect me, or de-authenticate me even on the command line?

See below, where I am authenticated (i.e. `earthengine ls` returns something valid), I can run `rgee::ee$Initialize()` and still get a valid `earthengine ls`, but once I run `rgee::ee_Initialize(user =xxx')` it fails and then even `earthen

[2022-10-18 04:01] csaybar commented on #298
Hi @MatthieuStigler

rgee save the user credentials in subfolders inside `.config/earthengine/`. The problem seems that the credentials you saved in the past are no longer valid. Therefore you need to delete the credentials because rgee will overwrite the new ones.

[code]
I'm in the middle of rewriting the auth of rgee, since now it has a lot of conflict with the latest versions of earthengine-ap

[2022-10-18 07:46] MatthieuStigler commented on #298
thanks for your quick answer, will test tonight.

So if I understood you well, rgee is storing its own credentials elsewhere, then copying them to `.config/earthengine/`? I assume this is also the folder where `earthengine authenticate` stores the credentials? So this would explain why the new valid credentials are overwritten by the old one?

Thanks!

[2022-10-19 11:53] csaybar commented on #298
Yes exactly! I'm preparing a new rgee version without this weird behaviour. You can check the new auth in `r-spatial/rgee@newauth`. I just checked the code below in the Rstudio cloud, and it works perfectly!

[code]

[2022-10-24 13:44] Phoenix11-cell commented on #290
@POTCHARAARIYA Hello, I seem to have met the same as you, but I am a windows system, how do you solve it, can you show me your code if it is convenient,This is my code
`ee_check_gcloud()
ϵͳ�Ҳ���ָ����·����
Error in ee_check_gcloud() :
  gcloud failed [os.system('gcloud --help')]. Please check
      for any errors above and install gcloud if needed (https://cloud.google.com/sdk/docs/install).`

[2022-10-24 13:55] csaybar commented on #290
Hi @Phoenix11-cell  Can u tell us where google-cloud-sdk is installed in your system?

[2022-10-25 15:42] guicastrol opened #299 "ee_utils_gif** deprecated ?"
Hi everyone,
I was trying to run example 3 from the Readme file but I found that the ee_utils_gif* functions are not available anymore.
Is there something new in place?

___________________________________________________________________________

R version 4.2.1 (2022-06-23 ucrt)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19044)

Matrix products: default

locale

[2022-10-25 16:09] csaybar commented on #299
Hi yes, we moved to rgeeExtra, it's under development yet. Please installed using

[code]

[2022-10-26 09:40] ttfg22 commented on #290
Hello,
I have the same problem on Windows10:
`
ee_check()
(*)  Python version
v [Ok] E:/Programme/Anaconda/envs/rgee/python.exe v3.8
(*)  Python packages:
v [Ok] numpy
v [Ok] earthengine-api
Das System kann den angegebenen Pfad nicht finden.
Error in ee_check_gcloud() :
  gcloud failed [os.system('gcloud --help')]. Please check
      for any errors above and install gcloud if needed (https://cloud

[2022-10-26 12:20] eeedasc opened #300 "Getting the temperature by pixel in MODIS in rgee package"
* rgee version: 1.1.5
* R version: 4.2.1
* Operating System: Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [ ] You have the Python API installed (from terminal):
[code]

- [ ] You can find the credentials file on your system:
[code]
- [ ] You can run a simple EE command from R:

[code]

Attach your Python (reticulate) configuration:

[cod

[2022-10-27 18:39] rokoeh opened #301 "Unable to select feature from featureCollection by attribute table filter in a loop"
rgee version: rgee 1.1.4
R version: 4.2.1
Operating System: Win 10

What I want to do is download sentinel2 data for every polygon(feature) from a shapefile (featureCollection) in a loop. Every iteration of the loop downloads the data of a different polygon to my computer.

I am able to select the feature directly from my script or command line with : newShp<- shp$filter('atribute_column_name == "

[2022-10-28 08:41] chiarasalv23 commented on #260
It worked! Thank you!

[2022-10-28 12:35] rokoeh opened #302 "Error in ImageCollection$select() Error in py_get_attr_impl(x, name, silent) : OverflowError: Python int too large to convert to C long"
rgee version: rgee 1.1.4
R version: 4.2.1
Operating System: Win 10

I'm trying to apply $select at a imageCollection object in rgee but I face the error when I source my script: Error in py_get_attr_impl(x, name, silent) :
OverflowError: Python int too large to convert to C long

When I run every command individually,line by line, in console no problem happens.

shid<-shapefile("D:/temp/rgee_examp

[2022-10-28 16:10] h-a-graham commented on #91
Thanks to the suggestions above, the following solved the issue for me:

[code]

[2022-10-29 13:32] Leprechault opened #303 "`orbitProperties_pass` default for `ImageCollection("COPERNICUS/S1_GRD")`"
Hi,

I don't invoke `orbitProperties_pass` in my code example below:

[code]

Work very well, but I don't know if the resulting `ee_mean`  is `DESCENDING` or `ASCENDING` orbit. I try to find any help in the Sentinel-1 Algorithm in GEE documentation and the default is to download both, but the result is a single value.

Please, any help with it?

[2022-11-03 16:08] #299 closed

[2022-11-09 20:04] raruggie opened #304 "$filterDate not working on S1 and S2 data, works on landsat"
* rgee version:
rgee_1.1.5
* R version:
4.1.3
* Operating System:
Windows 10

#### At submit an issue, please attached the following information of your `rgee` session:

- [x] You have the Python API installed (from terminal):
[code]
Yes, this does not work when I copy and paste into anaconda powershell prompt but I can confirm the API works since I can pull data from gee using rgee commands

- [x

[2022-11-11 18:02] ADLCero commented on #269
Hi, what would be the equivalent command/ corrected permissions for the folders if the installation was not done via Homebrew?

[2022-11-11 18:02] ADLCero commented on #269
Hi, what would be the equivalent command/ corrected permissions for the folders if the installation was not done via Homebrew?

[2022-11-11 18:49] ADLCero commented on #269
Just want to say thank you to this. This worked for me. I installed via Homebrew too and followed the instructions for adding the gcloud components to the PATH as stated on their page.

[2022-11-11 18:49] ADLCero commented on #269
Just want to say thank you to this. This worked for me. I installed via Homebrew too and followed the instructions for adding the gcloud components to the PATH as stated on their page.

[2022-11-12 21:02] #304 closed

[2022-11-15 10:23] llechler commented on #290
Hello,
As ttfg22 has written above, I have the same issue on Windows 10.
`error in py_call_impl(callable, dots$args, dots$keywords) :
  Exception: gcloud command not found. Please ensure that gcloud is installed.
More information: https://developers.google.com/earth-engine/guides/python_install`
I have gcloud installed in C://, but it seems to not recognise it.
Is there anything I can do similar t

[2022-11-29 09:28] JosefClifford commented on #296
Hello @chiacole91 - I am having the same problem, did you manage to fix it?

[2022-11-30 10:15] ryali93 commented on #296
Hi all, that's right, it is actually a problem with the DLL files, this worked for me https://github.com/conda/conda/issues/11795#issuecomment-1311352402